.forgotContainer {
    margin-left: 20px !important;
}
#forgotContainer .forgotTopBorder {
    height: 2px;
    border: solid 1px rgba(51, 101, 138, 0.5);
    width: 90%;
    margin-left: 45px;
}
#forgotContainer .forgotParentDiv {
    margin: 48px 0 0 10%;
    width: 75%;
}
#forgotContainer .forgot-text {
    height: 32px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
}
#forgotContainer .instructions-content {
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-bottom: 10px;
}
#forgotContainer .forgot-label-text {
    display: block;
    height: 20px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-bottom: 8px !important;  
}
#forgotContainer .forgot-reset-text {
    display: block;
    height: 20px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    text-align: center;
}
#forgotContainer .forgot-success-text {
    height: 32px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
    display: block;
    text-align: center;
}
.forgotFormControl {
    width: 290px;
    height: 40px;
    border-radius: 3px;
    border: solid 1px #526173;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
    padding: 8px;
    box-shadow: initial;
    outline: none;
}
#forgotContainer .emailFormControl{
    opacity: 0.25 !important;
}
#forgotContainer .forgot-submit {
    width: 290px;
    height: 48px;
    background-color: #bdbdbd;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border-radius: 30px;
    margin: 30px;
    box-shadow: initial;
}
#forgotContainer .cancel-text {
    width: 290px;
    height: 32px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #2f4858;
}
#forgotContainer .cancel-text a  {
    color: #2f4858 !important;
    text-decoration: none !important
}

@media only screen and (max-width: 480px) {
    .forgotContainer, .parentContainer {
        margin: 0 !important;
    }
    #forgotContainer .forgotTopBorder {
        margin-left: 20px;
    }
}
@media only screen and (min-width: 1025px) {
    .width40{
        max-width: 400px;
    }
}
#forgotContainer .sendCodeAgain {
    width: 166px;
    height: 32px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #39bcd5;
    margin-left: 36px;
    cursor: pointer;
}
#forgotContainer .passwordDNRequirements {
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: red;
}
#forgotContainer .inputMarginBottom{
    margin-bottom: 8px;
}
#forgotContainer select {
    margin-bottom: 10px !important;
}
#forgotContainer .code-success-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    right: 30px;
}
#forgotContainer .code-success-icon i {
    text-align: center;
    color: #1adbb9;
}
