.lpSubFormStyle .fund-left-pic-label {
    background-color: #00BCD4;
}
.lpSubFormStyle .fund-left-pic-label img {
    width: 18px;
    height: 20px;
    margin-left: 0px;
    border-radius: 50%;
}
.lpSubFormStyle .header-right-row {
    margin-top: 15px;
}
.lpSubFormStyle .contentWidth {
    clear: both;
}
.lpSubFormStyle .sidenav .left-nav-fund-name {
    padding-left: 0px !important;
}
.lpSubFormStyle .sidenav ul li a {
    padding: 10px 0px 10px 2px !important;
}
.agrementTxtStyle{
    width: 210px !important;
    margin-left: 16px !important;
}
.agreementTxtAlign {
    margin-left: -4px !important;
}
.titleDiv {
    padding-bottom: 26px;
}
.sign-box a{
    color: #ffffff;
    padding-left: 30px;
    opacity: 0.5
}
.sign-box {
    height: 23px;
    /* opacity: 0.5; */
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #ffffff;
    font-family: 'OpenSans-Bold';
    text-align: left;
    margin-left: 16px;
    margin-top: 10px;
    cursor: pointer;
}
.titleOptDiv {
    width: 129px;
    height: 16px;
    font-family: 'OpenSans-Bold';
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #39bcd5;
  
}
.lpAlign {
    margin-left: 6px;
}
.handShakeImageStyle {
    width: 26px;
    height: 24px;
    position: relative;
    top: -2px;
    left: 14px;
}
.dashboardTxtAlign {
    padding-left: 0px !important;
    margin-left: 2px !important;
}
.editFundContainer .dashboardTxtAlign {
    margin-left: 10px !important;
}
.lpDashAlign {
    margin-left: 16px !important;
}
.successImgAlign {
    margin-left: 20px;
}
.parnershipAgrementStyle {
    line-height: 48px;
    vertical-align: middle;
    background-color: #0288d1;
}
.ptrSuccessImage {
    position: relative;
}


#alertModal {
    position: absolute;
    right: 0;
    min-height: 148vh;
    width: 305px;
    box-shadow: 0 1px 12px 0 rgba(155, 155, 155, 0.5);
    float: left
}
.alert-title .fa{
    color: #ffffff;
    margin-top: 7px;
    float: right;
    cursor: pointer;
}
.alert-title {
    width: 304px;
    height: 104px;
    background-color: #212121;
    padding: 20px;
}
.alert-label {
    width: 86px;
    height: 32px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #ffffff;
}
.alert-section {
    padding-left: 10px;
}
.alert-heading {
    width: 215px;
    height: 32px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
    margin-top: 20px;
}
.alert-content {
    margin-top: 20px;
    width: 280px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
}
.individualForm {
    width: 100%;
}
.lpSubFormStyle .navbar {
    float: left;
    margin-bottom: 30px;
}
.mainTextBlock {
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
}
.width58 {
    width: 58%;
    margin-left: 286px; 
    margin-left: 8px;
    float: left;
}
.width75 {
    margin-left: 286px; 
    max-width: 75%;
}
.radioTxtWidth {
    width: 200px !important;
}
.right-gap {
    margin-right: 20px;
}
.left-gap {
    margin-left: 0px;
}

.radioSmallTxtWidth {
    width: 100px !important;
}
.selectFormControl  {
    height: 40px !important;
    margin-top: 8px;
    border: solid 1px #526173 !important;
}
.height38 {
    height: 38px;
}

.formGridDivMargins{
    margin: 15px 30px;
}
.footerDivAlign {
    margin-left: 18px;
}
.lpSubFormStyle .companiesActRadio {
    width: 100% !important;
    display: block !important;
    font-size: 14px !important
}
.subAgrmnt {
    width: 170px !important;
    margin-left: -8px !important;
}
.fsbadgeAlign {
    margin-top: 2px !important;
}
@media(max-width:767px) {
    .width75 {
        margin-left: 0px; 
        max-width: 75%;
    }
    .headerAlign {
        float: none !important;
    }
    .lpHeader {
        width: 100% !important;
        float: none !important;
        margin-top: 0px !important;
    }
    .ProgressBarDiv {
        float: left !important;
        margin-top: -100px !important;
    }
    .tooltip, .right {
        width: 180px !important;
    }
    .tooltip-inner {
        max-width: 180px !important;
    }
}

/* confirmation modal css */
.tooltipDialog {
    display: block; 
    max-width: 800px !important;
    width: 800px !important;
}

.investorModal {
    min-height: 250px !important;
    max-height: 250px !important;
}

.investorModal .list-heading {
    margin-left: 0 !important;
    margin-bottom: 10px !important;
}

.investorModal p {
    margin-bottom: 8px !important;
    margin-left: 10px;
}

.investorModal ol {
    counter-reset: list;
    list-style-position: outside;
}
.investorModal ol > li {
    list-style: none;
}
.investorModal ol.lower-roman > li:before {
    content: "(" counter(list, lower-roman) ") ";
    counter-increment: list;
}
.investorModal ol.decimal > li:before {
    content: "(" counter(list, decimal) ") ";
    counter-increment: list;
}

/* confirmation modal css */
#confirmInvestorModal .confirmInvestorDialog {
    display: block; 
    max-width: 500px !important;
    width: 500px !important;
}
#confirmInvestorModal .fundBtnRow {
    margin: 0;
}
.modal .btnEnabled{
    width: 100%;
    background-color: #00bcd4 !important;
    border: 1px solid #00bcd4 !important;
    border-radius: 30px !important;
    color: #FFF !important;
}
.modal .btnEnabled:hover {
    background-color: #4ab8c6 !important;
}
#confirmInvestorModal .modal-header {
    border-bottom: none;
}
#confirmInvestorModal .modal-header h1 {
    position: absolute;
    padding-left: 15px;
}
#confirmInvestorModal .modal-content {
    position: absolute;
}
#confirmInvestorModal button.close {
    /* margin-top: -5px !important; */
    right: 10px;
}
#confirmInvestorModal .subtext {
    height: 62px;
    text-align: center;
}
#confirmInvestorModal .modal-body {
    margin-left: 15px;
}
#confirmInvestorModal .fundNameCenter{
    display: block;
    text-align: center;
    color: #39bcd5;
    padding-top: 10px;
    padding-bottom: 10px;
}
#confirmInvestorModal .title-text-center{
    width: 416px;
    margin-left: 9px;
}

/* Review form css for subscriptions*/
#subscriptionReview #step6-row1{
    min-height: 170px;
    padding: 0px 0 24px;
    border-bottom: 2px solid rgba(51,101,138,.5);
    width: 90%;
    margin: 0!important;
}
#subscriptionReview .step6-row{
    min-height: 90px;
    padding: 24px 0;
    border-bottom: 2px solid rgba(51,101,138,.5);
    width: 90%;
    margin: 0!important;
}

.colm a {
    margin-left: 0px !important;
}

#subscriptionReview .staticTextBelowTable{
    border-top: 0;
}
.staticTextBelowTable .confirmSubmitReview{
    background-color: #39bcd5 !important;
    box-shadow: 0 0 0 0.2rem #39bcd5 !important;
    color: #FFF !important;
    border-radius: 30px !important;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    margin-bottom: 40px;
    padding: 8px 20px;

}
.staticTextBelowTablePadding{
    padding: 25px !important;
    width: 90% !important;
}
.step-col-pad1 {
    padding-right: 0px !important;
}
.step-col-pad2 {
    padding-left: 25px !important;
}
.step-col-pad3 {
    padding-left: 0px !important;
    text-align: justify;
}
.firstQuesitionPadding{
    padding-bottom: 10px;
}
.remainingQuesitionPadding{
    padding-top: 10px;
    padding-bottom: 10px;
}
.step-row-borderBottom{
    border-bottom: 2px solid rgba(51,101,138,.5);
}
.step-row-borderTop{
    border-Top: 2px solid rgba(51,101,138,.5);
}
.answerYesNo{
    text-align: center;
}
.answerText{
    text-align: justify;
}
.erisa-heading {
    font-size: 16px !important;
}

#subscriptionReview .lightContent {
    font-weight: 600;
    color: #39bcd5 !important;
    font-size: 14px !important;    
}

.successImg {
    float: right;
    right: 9px;
    top: 3px;
}
.pencilAlign {
    margin-left: -4px;
    margin-right: 4px;
}
.statusTxtStyle {
    margin-left: 10px;
    background-color: #03a9f4;
    padding: 5px;
    border-radius: 2px;
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    position: relative;
    bottom: 6px;
}
.lpHeader {
    width: 50%;
    float: left;
    margin-top: -45px;
}
.progressBarAlign {
    height: 20px !important;
    background-color: #CAF1F4 !important;
    padding: 3px;
    border-radius: 20px !important;
    width: 325px;
    transition: width .6s ease;
    -webkit-transition: width .6s ease;
    margin-left: 12px;
    margin-top: 18px;
    border: 1px solid #39bcd5;
}
.ProgressBarDiv {
    float: right;
    margin-top: -100px;
}
.ProgressBarDiv .progress-bar {
    display: inline-block !important;
}
.progressColor {
    width: 60%;
    background-color: #5CE2CB !important;
    height: 12px !important;
    border-radius: 20px !important;
}
.progressDetailsStyle {
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    margin-left: 15px;
    margin-top: 4px;
}
.progressTxtAlign {
    float: right;
    margin-right: 10px;
}
.helpImgAlign {
    float: right;
    margin-top: 10px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-right: 16px;
}
.toolTipIconAlign {
    /* float: right; */
    color: #00BCD4;
    cursor: pointer;
    padding: 4px;
    width: 30px;
}
.lpSubFormStyle .step1Form-row span:not(.error), .lpSubFormStyle .step1Form-row span:not(.error):hover {
    color: #2f4858;
    text-decoration: underline;
    cursor: pointer;
}
.step1lastCheckBox{
    margin-top: 24px;
}
.step1PaddingLeft15{
    padding-left: 15px;
}
.otherInvesterFontSize{
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
}
.tooltip {
    width: 300px !important;
}
.tooltip-inner {
    max-width: 300px !important;
    background-color: #39bcd5 !important
}
.underline {
    text-decoration: underline !important;
}
.helpWord{
    cursor: pointer;
    color: #2f4858;
    text-decoration: underline;
    font-family: 'OpenSans-Bold';
    margin: 0px 0px 0px 0px;
}
.textarea {
    min-height: 75px !important;
}
#tooltip-2{
    position: absolute !important;
    top: 150px !important;
}
/* .lpSubFormStyle .main-title {
    margin-left: 2px;
} */
.lpSubFormStyle .header-right-row{
    display: flex;
    justify-content: flex-end;
}
.mainHead .tooltip-Block > span:first-child{
    float: right; 
    margin-top: 15px;
    margin-left: 15px;
}
.lpTableTooltip.rescindFundToolTip .tooltip-inner .rescindFund.disabled {
    opacity: .5;
}
.lpTableTooltip.rescindFundToolTip .tooltip-inner .rescindFund.disabled li {
    cursor: not-allowed;
}
.mainHead .progressBarPosition{
    float: right;
}
.mainHeading{
    color: #2f4858;
    border-bottom: 2px solid rgba(51, 101, 138, 0.5);
    margin: 0px 20px 10px 4px;
    padding-bottom: 24px;
    padding-top: 30px;
}
.mainHead{
    margin-left: 316px; 
    max-width: 75%;
    min-width: 320px;
}
.height45{
    height: 45px;
}
.stickyHeader {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 99;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .stickyHeader {
        position: fixed;
        width: 74%;
    }
    .marginTopSticky, .marginTopStickyDocLocker{
        margin-top: 180px;
    }
 }
@media(max-width:767px) {
    .mainHead{
        margin-left: 0px !important; 
        max-width: 100% !important;
    }
    .progressBarAlign{
        width: 100% !important;
    }
    .mainHeading{
        margin-left: 20px !important;
    }
    .mainHead .progressBarPosition{
        float: none !important;
    }
}
.marginForInput{
    margin: 18px 0 0 24px;
}
.radioText{
    margin-left: 16px;
}
.height37{
    height: 37px;
}
.margin18{
    margin-top: 18px;
    margin-bottom: 10px !important
}
.marginLeft6{
    margin-left: 6px;
}
.checkBoxText .radio-checkmark {
    margin-top: 2px;
}
.lpSubFormStyle .header-fund-image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-top: -15px;
}
.lpSubFormStyle input:not(.inputWidth290), .lpSubFormStyle select, .lpSubFormStyle .textarea, .lpSubFormStyle .react-phone-number-input {
    width: 90% !important;
}
.lpSubFormStyle  #accordion-controlled-example input{
    width:initial !important;
}
.lpSubFormStyle .react-phone-number-input {
    margin-top: 8px;
}
.lpSubFormStyle .form-grid {
    width: 95%;
    padding-right: 0px;
}
.TtModalHeaderAlign {
    margin-top: 20px;
    margin-bottom: -10px;
}
.ttModalAlign {
    margin-top: -125px;
}
.TtModalBody {
    max-height: 500px;
    overflow: auto;
}
@media (max-width:766px) and (min-width:320px) {
    .individualForm .form-grid{
        width: 100% !important;
        padding: 0px 0px 0px 30px;
    }
    .qualifiedPurchaser .form-grid{
        width: 100% !important;
        padding: 0px 0px 0px 30px;
    }
    .individualForm select{
        width: 100% !important;
    }
    .individualForm input:not(.inputWidth290){
        width: 100% !important;
    }
    .individualForm .textarea{
        width: 100% !important;
    }
}

@media (max-width:766px) and (min-width:320px) {
    .accreditedInvestor .formGridDivMargins {
        margin: 15px 0px 15px 30px;
    }
    
}
@media (max-width:766px) and (min-width:320px) {
    .accreditedInvestor .formGridDivMargins {
        margin: 15px 0px 15px 30px;
    }
    .accreditedInvestor .step-col-pad1{
        padding-left: 0px;
    }
    .accreditedInvestor .step-col-pad2{
        margin-left: 15px;
    }
}
@media (min-width:768px) and (max-width:1024px){
    .lpSubFormStyle{
        width: 1000px !important;
    }
    .accreditedInvestor .step-col-pad4{
        padding-left: 0px !important;
    }
    .paddingBottomHidden{
        padding-bottom: 20px !important;
    }
    #confirmInvestorModal .modal-content{
        width: 90%;
        margin-left: 26px;
    }
    .confirmInvestorModalWidth .modal-content{
        width: 100% !important;
    }
    .lineHeightName{
        line-height: 6.5 !important;
    }
}

#subscriptionDelModal .modal-content {
    padding-left: 6px !important;
}
#subscriptionDelModal .modal-header {
    height: 100px;
    border-bottom: none;
    margin-top: -10px;
}
#subscriptionDelModal button.close {
    margin-top: 20px !important;
}
#subscriptionDelModal .modal-title {
    margin-top: -47px;
    text-align: left;
    padding-left: 23px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #5d8096;
}
#subscriptionDelModal .modal-body {
    margin-left: 8px;
}
#subscriptionDelModal .subtext {
    color: #000;
    opacity: 1;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 30px;
}
.capitalCommitmentLp {
    position: relative;
}
.editCapitalCommitment {
    position: absolute;
    top: 10px;
    left: -30px
}
.top-22{
    top: -22px;
}
@media only screen and (min-width:1374px){
    .top-22{
        top: 0px !important;
    }
}
.documentLockerLp {
    margin-left: 60px !important;
    width: 667px;
    height: 250px;
    /* max-height: 400px; */
    overflow: auto;
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(117, 117, 117, 0.25);
    box-shadow: inset 0 -1px 0 0 rgba(117, 117, 117, 0.25);
    -webkit-box-shadow: inset 0 -1px 0 0 var(--warm-grey-25);
    box-shadow: inset 0 -1px 0 0 var(--warm-grey-25);
    border: 1px solid #add8e6;
    margin-top: 10px !important;
}
.documentLockerLpTable{
    width: 650px !important;
}
.documentLockerLpTableWidth {
    width: 750px !important;
}
.documentLockerCol {
    width: 320px;
    float: left;
    text-align: center;
    line-height: 35px;
}
.documentLockerContainer .documentLockerDateCol {
    width: 190px !important;
    line-height: 2.43;
}
.documentLockerContainer .documentLockerTypeCol {
    width: 448px !important;
    line-height: 2.43;
}

.documentLockerContainer .documentLockerTypeColWidth {
    padding-left: 135px !important;
    width: 330px !important;
}
.GpDelegatesContainer .fsnetButton{
    width: 210px !important;
}

.GpDelegatesContainer .gpDelegateTableHeader {
    margin-top: 20px;
}

.GpDelegatesContainer .gpDelegateTableHeader .gpDelegateHeadaerTitle {
    font-family: 'OpenSans-Bold';
    text-align: center;
}

.GpDelegatesContainer .userContainer {
    width: 400px;
    min-height: 150px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: inset 0 -1px 0 0 rgba(117, 117, 117, 0.25);
    box-shadow: inset 0 -1px 0 0 var(--warm-grey-25);
    border: 1px solid #add8e6;
    margin-top: 10px;
    margin-bottom: 30px;
}
.GpDelegatesContainer .userRow {
    min-height: 48px;
    border-bottom: 1px solid #add8e6;
    width: 100%;
    /* line-height: 20px; */
    /* padding-top: 8px; */
}
.GpDelegatesContainer .fund-user-name {
    width: 200px;
    min-height: 20px;
    height: auto;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    padding-left: 20px;
    word-wrap: break-word;
    vertical-align: middle;
}
.GpDelegatesContainer .lpDelegateCheckbox {
    width: 100px !important;
    display: inline-block;
    text-align: center;
    color: red;
}
.GpDelegatesContainer .lpDelegateCheckbox i:before{
    font-size: 20px; 
}

.GpDelegatesContainer .userContainer::-webkit-scrollbar {
    width: 12px;
}
.GpDelegatesContainer .userContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); ;
    border-radius: 10px;
}
.GpDelegatesContainer .userContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #318D9E;
}
.documentLockerContainer .lockerTitle h2{
    display: inline-block;
}
.documentLockerContainer .lockerTitle .btn{
    width: 275px !important;
}
.documentLockerContainer .name-heading {
    width: 320px;
    min-height: 16px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    cursor: pointer;
    text-align: center !important;
}
.documentLockerLp::-webkit-scrollbar {
    width: 12px;
}
.documentLockerLp::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); ;
    border-radius: 10px;
}
.documentLockerLp::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #318D9E;
}
.viewSignDocButton{
    width: 235px !important;
    height: 40px;
    font-size: 15px !important;
}
.previousFundButton {
    font-family: 'OpenSans-Bold';
    float: right;
    border-radius: 30px !important;
    font-weight: bold !important;
    line-height: 1.6 !important;
    text-align: center;
    color: #fff !important;
   -webkit-box-shadow: initial !important;
    box-shadow: initial !important;
    position: relative;
    top: 10px;
    right: 20px;
    height: 35px;
    width: 320px !important;
    font-size: 14px !important;
}
.previousSubscriptionDialog {
    max-width: 675px !important;
    width: 675px !important;
    display: block;
}
.previousSubscriptionDialog .modal-body{
    width: 618px;
    position: relative;
    top: -5px;
}
.populateFormButtonAlign{
    width: 50%;
    margin: auto;
}
.search-container {
    min-height: 100px;
    overflow: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    max-height: 150px;
}
.search-container::-webkit-scrollbar {
    width: 12px;
}
.search-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); ;
    border-radius: 10px;
}
.search-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #318D9E;
}
.search-container .radio-inline {
    padding-left: 25px;
}
@media only screen and (max-width: 1024px) {
    .previousSubscriptionDialog .modal-body {
        width: 580px !important;
    }
    .previousSubscriptionDialog .searchPreviousPartnership{
        
        /* left: -30px; */
        
    }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    .accreditedInvestor {
        cursor: pointer !important;
    }
    .individualForm {
        cursor: pointer !important;
    }
    .step2Class {
        cursor: pointer !important;
    }
    .qualifiedPurchaser {
        cursor: pointer !important;
    }
    .lpSubFormStyle .header-fund-image {
        margin-left: -20px;
    }
}
.lpDelegateInvestorSig .close {
    top: 40px;
    position: relative;
}
.investorForSign  .close {
    top: 20px;
    position: relative;
    z-index: 999;
}
.lpDelegateInvestorSig  .modal-content {
    width: 570px;
    height: 260px;
}
.investorForSign  .modal-content {
    width: 570px;
}
.notifySignatories  .modal-content {
    height: 230px;
}
.resubmitModal  .modal-content {
    width: 600px;
}
#subscriptionDelModal.resubmitModal .modal-header {
    margin-top: 0px !important;
}
#uniqueCheckModal .modal-content {
    margin-top: -30px;
}
#uniqueCheckModal .close {
    position: relative;
    top: 60px;
    z-index: 9999;
}
