.addFirmRow .row, .addFirmRow.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#addFirmContainer .mainContainer {
    margin: 0px !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    height: 100px;
}
#addFirmContainer .dashboardMainRow, #addFirmContainer .addFirmRow  {
    padding: 15px;
}
#addFirmContainer .dashboardMainRow  {
    height: 75px;
}
#addFirmContainer .firm-add {
    width: 146px;
    height: 36px;
    font-family: 'OpenSans-Bold';
    font-size: 24px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
    margin-left: 15%;
}
#addFirmContainer .firm-cancel a{
    color: #2f4858;
}
#addFirmContainer .firm-cancel {
    width: 200px;
    height: 32px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #2f4858;
    float: right;
    margin-right: 12%
}
#addFirmContainer #firm-header {
    height: 50px;
}
#addFirmContainer .parentDiv {
    margin: 25px 0 0 7%;
    width: 100%;
}
#addFirmContainer .label-header {
    height: 32px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
    margin-left: 15px;
}
#addFirmContainer .inputFormControl {
    width: 290px;
    height: 40px;
    border-radius: 3px;
    border: solid 1px #526173;
    padding: 8px;
    box-shadow: inherit;
}
#addFirmContainer .label-text {
    width: 290px;
    height: 20px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-bottom: 8px !important;
    margin-top: 8px !important;
}
#addFirmContainer .subText {
    min-height: 20px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-bottom: 10px;
    margin-left: 15px;
}
#addFirmContainer .submitBtn {
    width: 210px;
    height: 48px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border-radius: 50px;
    display: block;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 30px;
    background-color: #bdbdbd;
}
#addFirmContainer .row {
    margin-left: 0px !important;
}

.marginBottomZero{
    margin-bottom: 0px !important;
}
.marginTop8{
    margin-top: 8px !important;
}
@media only screen and (min-width: 1025px) {
    .width40 {
        max-width: 350px !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .width40{
        max-width: 350px !important
    }
}
#addFirmContainer .radio-inline{
    padding-left: 30px;
}
#addFirmContainer .radio-inline, #addFirmContainer .error {
    margin-bottom: 10px;
}
.footerBorder {
    border: solid 1px rgba(51, 101, 138, 0.5);
}