.editFundContainer .navbar .sidenav-menu {
    padding-left: 0;
}

.editFundContainer .navbar .sidenav-menu li{
    min-height: 44px;
    height: inherit;
}

.editFundContainer .navbar .sidenav-menu li a{
    padding: 11px 16px 8px !important;
    text-decoration: none !important;
}

.editFundContainer .navbar .sidenav-menu li.long-text a{
    padding-left: 56px !important;
}

.editFundContainer .navbar .sidenav-menu li.long-text a span{
    margin: -3px;
}

.editFundContainer .navbar .sidenav-menu li img {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.editFundContainer .navbar .sidenav-menu li span {
    font-size: 14px;
    line-height: 20px;
    margin-left: 16px;
}

.editFundContainer .navbar .sidenav-menu li .active {
    background: #39bcd5 !important;
    color: #fff !important;
}

.editFundContainer .main.marginHorizontal30 {
    margin-left: 30px !important;
    margin-right: 30px !important;
    margin: 0 auto !important;
    max-width: 100% !important;
}

.editFundContainer .main.marginHorizontal30.expanded {
    overflow: hidden !important;
}

@media only screen and (max-width: 1225px)  {
    .editFundContainer .main.marginHorizontal30.expanded {
        width: 90% !important;
        overflow: auto !important;
    }
}

.editFundContainer .main.marginHorizontal30.expanded .headers{
    float: right;
    width: 50% !important;
}

.editFundContainer .main.marginHorizontal30.expanded .main-content {
    margin: 0 auto !important;
}

.viewFund {
    width: 100%;
    border-top: solid 2px rgba(51, 101, 138, 0.2);
    border-bottom: solid 2px rgba(51, 101, 138, 0.2);
    /* margin-right: 180px; */
}

.viewFund .fundImageLarge {
    border-radius: 50px !important;
}

.viewFund.expandTable {
    width: 1200px !important;
    margin: 0 auto;
    /* overflow: auto; */
}

.viewFund .statusTxtStyle {
    display: inline-block;
    margin-left: 0;
}

.editFundContainer .fundName {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
    color: #2f4858;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.editFundContainer .fundDate {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    line-height: 1.6;
    color: #2f4858;
}

.editFundContainer .fundDate:first-child {
    margin-bottom: 8px;
}

.editFundContainer .tPriceStyle,
.editFundContainer .hcPriceStyle {
    font-size: 13px !important;
}

.editFundContainer .hcPriceStyle {
    margin-top: 15px;
}
/* .editFundContainer .fund-progress-bar {
    position: relative;
    padding-top: 38px;
    margin: 0 auto;
    max-width: 600px;
}

.editFundContainer .fund-progress-bar .price-percentage {
    position: relative;
    bottom: 26px;
}

.editFundContainer .fund-progress-bar .price-percentage:last-child {
    bottom: 0px !important;
}

.editFundContainer .fund-progress-bar .progress-bar {
    background-color: rgba(245, 245, 245, 1) !important;
    border-radius: 30px !important;
    justify-content: inherit;
    padding: 7px !important;
    height: 32px !important;
    border: none !important;
    width: 100% !important;
    margin: 0;
}

.editFundContainer .fund-progress-bar .progress-bar .progress.progress-yellow {
    background-image: linear-gradient(to bottom, #fdeb71, #f8d800) !important;
}

.editFundContainer .fund-progress-bar .progress-bar .progress.progress-yellow {
    background-image: linear-gradient(to bottom, #90f7ec, #32ccbc);
}

.editFundContainer .fund-progress-bar .progress-bar .progress.progress-yellow {
    background-image: linear-gradient(to bottom, #fdeb71, #f8d800) !important;
}

.editFundContainer .fund-progress-bar .progress-bar .progress.progress-pink,
.editFundContainer .fund-progress-bar .progress-bar .progress.progress-yellow,
.editFundContainer .fund-progress-bar .progress-bar .progress.progress-green,
.editFundContainer .fund-progress-bar .progress-bar .progress.progress-white {
    height: 18px !important;
}

.editFundContainer .fund-progress-bar .progress-bar .progress.progress-radius-left {
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}

.editFundContainer .fund-progress-bar .progress-bar .progress.progress-radius-right {
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.editFundContainer .fund-progress-bar .price-meter {
    position: absolute;
    left: -20px;
    font-size: 14px;
    font-family: 'OpenSans-Bold' !important; 
}

.editFundContainer .fund-progress-bar .price-meter:last-child {
    margin-top: 10px;
}

.editFundContainer .fund-progress-bar .caretUpAlign,
.editFundContainer .fund-progress-bar .caretDownAlign {
    left: -5px;
    position: absolute;
    font-size: 16px;
    width: 15px;
} */

.viewFund.expandTable .Showing-LP-Participa {
    margin-top: 20px !important;
    
}

.viewFund .Showing-LP-Participa {
    font-family: 'OpenSans-Bold';
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
    text-align: center !important;
    margin-top: 20px;
    margin-bottom: 27px;
    /* margin-left: 27%; */
}
.viewFund .lpParticipants {
    height: 24px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
    margin-bottom: 21px;
}

.viewFund .lpParticipants span.active {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    color: #39bcd5;
}
.viewFund .imgEdit{
    width: 32px;
    height: 32px;
    border-radius: 25px;
}
.viewFund .lpInfo {
    display: inline-block;
    vertical-align: middle;
}
.viewFund .lpInfoWidth {
    display: inline-block;
    vertical-align: middle;
    width: 155px;
}
.viewFund .lpInfoWidthOverflow {
    width: 130px !important;
}

.viewFund .lpName {
    height: 16px;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    margin-left: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis
}
.viewFund .btnViewPrint {
    width: 72px;
    height: 16px;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    color: var(--white);
    width: 111px;
    height: 24px;
    background-color: #00bcd4;
    border-radius: 30px;
    padding: 0px !important;
}
.addendumContainer .btnViewPrint img{
    height: 16px;
    padding-right: 4px;
}
.addendumContainer .btnViewPrint {
    font-family: 'Open Sans';
    font-size: 12px !important;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center !important;
    color: #FFF !important;
    width: auto;
    height: 32px !important;
    background-color: #00BCD4 !important;
    border-radius: 30px !important;
    padding: 0 15px 0 15px !important;
}
.titleMd {
    height: 20px;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
}
.height50{
    height: 50px !important;
}
.subTextLg {
    height: 25px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
}
.viewFund .caretDown{
    margin-left: 5px;
    width: 8px;
    height: 6px;
}
.viewFund .marginRight60{
    margin-right: 7.0%;
}
.viewFund .marginLeft57{
    margin-left: 6%;
}
.viewFund .marginLeft20{
    margin-left: 20px;
}
.viewFund .viewPrintText{
    font-size: 10px;
}
#createFund .viewPrintText{
    font-size: 10px;
}
.viewFund .fNameHeaderMargin{
    margin-top: 36px;
    padding-left: 30px;
}
.viewFund.expandTable .fNameHeaderMargin{
    margin-top: 20px !important;
}
.viewFund .fNameText{
    padding-left: 0px;
    display: table;
    height: 100px;
}
@media only screen and (min-width:768px) and (max-width:1300px){
    .viewFund .fNameText{
        padding-left: 15px;
    }
}
.viewFund .notificationCount {
    width: 16px;
    height: 20px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #39bcd5;
    position: relative;
    left: 0px;
    top: 0px;
}
.viewFund .notificationIcon{
    position: relative;
    left: 0px;
}
.addendumContainer .fundAggrementChangeBtn{
    height: 40px;
    border-radius: 30px !important;
    font-family: 'OpenSans-Bold';
    font-size: 14px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: normal;
    color: #fFFF !important;
    padding: 8px 40px 8px 30px;
    box-shadow: initial !important;
    width: 310px !important;
}
.addendumContainer .newAddendumButton{
    width: 310px;
    border: solid 1px #39bcd5 !important;
    background-color: #39bcd5 !important;
    height: 40px;
    border-radius: 30px !important;
    font-family: 'OpenSans-Bold';
    font-size: 15px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: normal;
    color: #FFF !important;
    padding: 8px 40px 8px 30px;
    box-shadow: initial !important;
}
.addendumContainer .full-width {
    width: 100% !important;
}
.addendumContainer .userRow {
    min-height: 48px;
    border-bottom: 1px solid #add8e6;
    width: 100%;
    line-height: 30px;
    padding-top: 8px;
}
.addendumContainer .marginLeft61{
    margin-left: 61px !important;
}
.addendumContainer .lp-name {
    width: 215px;
    min-height: 20px;
    height: auto;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    padding-left: 20px;
    word-wrap: break-word;
    vertical-align: middle;
}
.addendumContainer .lp-name-pad{
    padding-left: 28px;
    word-wrap: break-word;
    vertical-align: middle;
}
.addendumContainer .date-lp-name-pad{
    width: 140px !important;
}
.addendumContainer .type-lp-name-pad{
    width: 305px !important;
    text-align: center;
}
.addendumContainer .name-heading.width-210{
    width: 210px;
}

.addendumContainer .name-heading {
    width: 225px;
    min-height: 16px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
}
.addendumContainer .date-name-heading {
    /* width: 70px;
    text-align: center; */
    padding-left: 20px;
}
.addendumContainer .type-name-heading {
    width: 347px;
    text-align: center;
}
.addendumContainer .name-heading .fa{
    position: relative;
    left: 5px;
    top: -2px;
    font-size: 18px;
}
.addendumContainer .userLPContainer {
    width: auto;
    min-height: 100px;
    max-height: 500px;
    overflow: auto;
    box-shadow: inset 0 -1px 0 0 rgba(117, 117, 117, 0.25);
    box-shadow: inset 0 -1px 0 0 var(--warm-grey-25);
    border: 1px solid #add8e6;
    margin-bottom: 30px;
    margin-top: 10px;
}
.borderNone {
    border: none !important;
}
.fundAgreementContainer {
    overflow: auto;
    box-shadow: inset 0 -1px 0 0 rgba(117, 117, 117, 0.25);
    box-shadow: inset 0 -1px 0 0 var(--warm-grey-25);
    border: 1px solid #add8e6;
    margin-top: 30px !important;
    margin-bottom: 30px;
    width: 500px;
    min-height: 100px;
}
.addendumContainer .userAddendumContainer {
    width: 815px;
    height: 250px;
    /* max-height: 400px; */
    overflow: auto;
    box-shadow: inset 0 -1px 0 0 rgba(117, 117, 117, 0.25);
    box-shadow: inset 0 -1px 0 0 var(--warm-grey-25);
    border: 1px solid #add8e6;
    margin-top: 30px !important;
    margin-bottom: 30px;
    /* margin-left: 10px; */
}
.lpSubFormStyle{
    width: 100%;
}
.contentWidth .main-content{
    margin-left: 0px;
}
#createFund .viewPrintText{
    position: relative;
    top: -2px;
}
.addendumContainer .main-title{
    margin-left: 20px !important;
}
.addendumContainer .marginLeft25{
    margin-left: 25px !important;
}
.addendumContainer .marginTop54{
    margin-top: 54px !important;
}
.addendumContainer .paddingRight5{
    padding-right: 5px !important;
}
.addendumContainer .marginTop10{
    margin-top: 10px !important;
}
.addendumContainer .marginTop36{
    margin-top: 36px !important;
}
.addendumContainer .marginLeft26{
    margin-left: 26px;
}
.addendumContainer .uploadFundDocument {
    /* width: 253px; */
    height: 24px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
    /*margin-left: 20px;*/
    margin-left: 0px !important;
    margin-bottom: 24px;
}
.addendumContainer .marginBottom2{
    margin-bottom: 2px !important;
}
.addendumContainer .marginBottom12{
    margin-bottom: 12px !important;
}
.addendumContainer .marginBottom28{
    margin-bottom: 28px !important;
}
.addendumContainer .marginBottom24{
    margin-bottom: 24px !important;
}
.addendumContainer .marginBottom18{
    margin-bottom: 18px !important;
}
.addendumContainer .checkBoxTextPdf{
    position: relative;
    top: -5px;
}
.addendumContainer .marginBottom32{
    margin-bottom: 32px !important;
}
.addendumContainer .marginLeft8{
    margin-left: 8px;
}
.addendumContainer .marginRight8{
    margin-right: 8px;
}
.addendumContainer .marginRight12{
    margin-right: 12px;
}
.addendumContainer .paddingLeft0{
    padding-left: 0px;
}
.addendumContainer .lpNameTextAlign{
    position: relative;
    top: -4px;
}
.addendumContainer .lpSelectAll {
    width: 55px;
    height: 16px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    position: relative;
    top: -9px;
  }

.addendumContainer .LpDelegatesContainer .documnet-locker-options{
    width: 810px !important;
}

.addendumContainer .LpDelegatesContainer .documnet-locker-options .download-btn{
    width: 275px !important;
    margin-top: 8px;
}

.section-head .edit-btn-text {
    margin-top: 2px;
    font-size: 14px;
}

@media only screen and (max-width: 575px) {
    .addendumContainer .LpDelegatesContainer .documnet-locker-options{
        width: 100% !important;
    }   
}

#confirmAddendumModal .confirmFundDialog {
    display: block; 
    max-width: 670px !important;
    width: 670px !important;
}
#fundAggrementChangeModal .confirmFundDialog {
    display: block; 
    max-width: 800px !important;
    width: 800px !important;
}
.modal .btnEnabled{
    background-color: #00bcd4 !important;
    border: 1px solid #00bcd4 !important;
    border-radius: 30px !important;
    color: #FFF !important;
}
.modal .btnEnabled:hover {
    background-color: #4ab8c6 !important;
}
#confirmAddendumModal .modal-header {
    border-bottom: none;
    height: 50px;
}
#confirmAddendumModal button.close {
    margin-top: 10px !important;
    position: relative;
    z-index: 99999;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    padding-top: 30px;
}
#confirmAddendumModal .subtext {
    height: 120px;
    width: 95%;
}
#confirmAddendumModal .modal-body {
    margin-left: 14px;
}

.fNameHeaderMarginText{
    margin-top: 15px !important;
    /* width: 94%; */
}
.fNameHeaderMarginText .paddingLeft50{
    padding-left: 50px;
}
.fNameHeaderMarginText .marginLeft-40{
    margin-left: -40px;
}
.fNameHeaderMarginText .titleMdEdit {
    opacity: 0.5;
    margin-bottom: 5px;
    height: auto;
}
.alertCount{
    margin-bottom: 5px;
    /* width: 37px; */
    height: 19px;
    font-family: 'OpenSans-Semibold';
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2f4858;
    text-align: right;
}
.openingAndStatusView {
    width: 186px;
    height: 40px;
    /* opacity: 0.25; */
    border-radius: 3px;
    border: solid 1px #526173;
    margin-right: 30px;
}
.viewFund .openingAndStatusBox {
    margin-left: 30px;
    margin-top: 15px;
    width: 28%;
    float: right;
}
.titleMdPosition{
    position: relative;
    top: 5px;
    left: 6px;
    width: 146px;
}
.arrowDownIcon{
    padding-left: 32px;
    padding-top: 6px;
}
.userAddendumContainer::-webkit-scrollbar, .vanillaTableContainer::-webkit-scrollbar {
    width: 12px;
}
.userAddendumContainer::-webkit-scrollbar-track, .vanillaTableContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); ;
    border-radius: 10px;
}
.userAddendumContainer::-webkit-scrollbar-thumb, .vanillaTableContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #318D9E;
}
.margin5 {
    margin: 5px;
}
.alignRight {
    /* text-align: right; */
    width: 300px;
    margin-left: 10px;
}

@media only screen and (max-width: 1310px) {
    .viewFund .fNameHeaderMargin {
        width: 1000px;
    }
}
.viewFund .fa.toolTipIconAlign {
    position: relative;
    top: -2px;
}
#fundAggrementChangeModal .radio-inline  {
    padding: 0 10px 0 30px !important;
    min-width: 30px !important;
}
#fundAggrementChangeModal .radio-span  {
    position: relative;
    top: 7px;
    left: -10px;
}
#fundAggrementChangeModal.modal .title-md{
    font-size: 14px !important;
}
#fundAggrementChangeModal.modal .title-md.font16{
    font-size: 16px !important;
}
#fundAggrementChangeModal.modal {
    top: 50px !important;
}
.consentFAandAmendents {
    max-height: 150px;
    min-height: 50px;
    overflow-y: auto;
}
#fundAggrementChangeModal.modal .modal-body, #GPModal .modal-body {
    max-height: calc(100vh - 200px) !important;
    overflow: auto;
    margin-top: 10px;
    height: auto !important;
}
.inputControl {
    width: 300px !important;
    height: 40px;
    font-size: 16px;
    margin-top: 8px;
    color: #2f4858 !important;
    border-radius: 3px;
    border: 1px solid #526173 !important;
}
.investorApprovedModal button.close {
    margin-top: 4px;
    color: #FFF !important;
    opacity: 1 !important;
    font-size: 30px;
    font-weight: 100;
}
.investorApprovedModal .approved-header {
    background-color: #212121;
    margin-left: 0px;
    margin-top: -12px;
}
.approved-header div label{
    display: block;
}
.approved-header div {
    width: 50%;
    float: left;
}

.approved-header label {
    margin: 0;
    font-size: 14px;
    color: #888;
}

.approved-header {
    padding: 7px 18px;
}
#fund-history-track {
    padding: 23px 18px !important;
}

.approved-header span {
    color: #fff;
    font-size: 18px;
}
.investorApprovedModal .user-img img {
    /* width: 8%; */
    float: left;
    margin-right: 3%;
}

.investorApprovedModal .user-text h6 {
    margin: 0;
    font-size: 15px;
    color: #3a3a3a;
}

.investorApprovedModal .user-text p {
    margin: 0;
    font-size: 13px;
    color: #565656;
}

.investorApprovedModal .user-timing p {
    text-align: right;
    margin: 0;
    font-size: 13px;
    color: #565656;
}
.investorApprovedModal .odd,.investorApprovedModal .even {
    padding: 16px 0px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.investorApprovedModal .even {
    background: #f2f2f2;
}

.investorApprovedModal .modal-body {
    padding: 0 !important;
    min-height: 100px;
}

/* width */
.investorApprovedModal .modal-body::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.investorApprovedModal .modal-body::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
.investorApprovedModal .modal-body::-webkit-scrollbar-thumb {
background: #00bcd4!important; 
border-radius: 10px;
}

/* Handle on hover */
.investorApprovedModal .modal-body::-webkit-scrollbar-thumb:hover {
background: #555; 
}
.link:hover {
    text-decoration: underline;
}