.fixed-table-container {
    height: 300px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 40px;
  }
  .fixed-table-container table {
    border-collapse: collapse;
    width: 100%;
  }
  .fixed-table-container th,
  .fixed-table-container td {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    vertical-align: top;
  
    /**
      * Current implementation doesn't work when
      * cells in a row have different heights
      */
    white-space: nowrap !important;
  }
  .fixed-table-container th {
    background: #eee;
    font-size: 12px;
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .fixed-table-container td:first-child {
    background: #eee;
  }
  .fixed-table-container tr:last-child td {
    border-bottom: 0;
  }
  .fixed-table-container th:last-child,
  .fixed-table-container td:last-child {
    border-right: 0;
  }
  








































.editFundContainer .navbar .sidenav-menu {
    padding-left: 0;
}

.editFundContainer .navbar .sidenav-menu li a{
    padding: 13px 16px 8px !important;
    text-decoration: none !important;
}

.editFundContainer .navbar .sidenav-menu li img {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.editFundContainer .navbar .sidenav-menu li span {
    font-size: 14px;
    line-height: 20px;
    margin-left: 16px;
}

.editFundContainer .navbar .sidenav-menu li .active {
    background: #39bcd5 !important;
    color: #fff !important;
}
.viewFund {
    width: 100%;
    border-top: solid 2px rgba(51, 101, 138, 0.2);
    border-bottom: solid 2px rgba(51, 101, 138, 0.2);
    margin-right: 180px;
}

.editFundContainer .fundName {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
    color: #2f4858;
}

.editFundContainer .fundDate {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    line-height: 1.6;
    color: #2f4858;
}

.editFundContainer .fundDate:first-child {
    margin-bottom: 8px;
}

.editFundContainer .fund-progress-bar {
    position: relative;
    padding-top: 35px;
    margin: 0 auto;
}

.editFundContainer .navbar .sidenav-menu {
    padding-left: 0;
}

.editFundContainer .navbar .sidenav-menu li a{
    padding: 13px 16px 8px !important;
    text-decoration: none !important;
}

.editFundContainer .navbar .sidenav-menu li img {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.editFundContainer .navbar .sidenav-menu li span {
    font-size: 14px;
    line-height: 20px;
    margin-left: 16px;
}

.editFundContainer .navbar .sidenav-menu li .active {
    background: #39bcd5 !important;
    color: #fff !important;
}
.viewFund {
    width: 100%;
    border-top: solid 2px rgba(51, 101, 138, 0.2);
    border-bottom: solid 2px rgba(51, 101, 138, 0.2);
    margin-right: 180px;
}

.editFundContainer .fundName {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
    color: #2f4858;
}

.editFundContainer .fundDate {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    line-height: 1.6;
    color: #2f4858;
}

.editFundContainer .fundDate:first-child {
    margin-bottom: 8px;
}

.editFundContainer .fund-progress-bar {
    position: relative;
    padding-top: 38px;
    margin: 0 auto;
}

.editFundContainer .fund-progress-bar .price-percentage {
    position: relative;
    bottom: 26px;
}

.editFundContainer .fund-progress-bar .price-percentage:last-child {
    bottom: 0px !important;
}

.editFundContainer .fund-progress-bar .progress-bar {
    width: 100% !important;
    justify-content: inherit;
    margin: 0;
    height: 19px !important;
}
 
.editFundContainer .fund-progress-bar .progress-bar .progress.progress-pink,
.editFundContainer .fund-progress-bar .progress-bar .progress.progress-yellow,
.editFundContainer .fund-progress-bar .progress-bar .progress.progress-green,
.editFundContainer .fund-progress-bar .progress-bar .progress.progress-white {
    height: 17px !important;
}


.editFundContainer .fund-progress-bar .price-meter {
    position: absolute;
    left: -20px;
    font-size: 14px;
    font-family: 'OpenSans-Bold' !important; 
}

.editFundContainer .fund-progress-bar .price-meter:last-child {
    margin-top: 10px;
}

.editFundContainer .fund-progress-bar .caretUpAlign,
.editFundContainer .fund-progress-bar .caretDownAlign {
    left: -3px;
    position: absolute;
    font-size: 16px;
}

.viewFund .Showing-LP-Participa {
    width: 373px;
    height: 24px;
    font-family: 'OpenSans-Bold';
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
    margin-top: 55px;
    margin-bottom: 27px;
    margin-left: 27%;
}
.viewFund .lpParticipants {
    height: 24px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
    margin-bottom: 21px;
}

.viewFund .lpParticipants span.active {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    color: #39bcd5;
}
.viewFund .imgEdit{
    width: 32px;
    height: 32px;
}
/* .viewFund .tableEdit{
    width: 100%;
    overflow: scroll;
}
.viewFund  th{
    height: 16px;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
}

.table-td {
    width: 200px;
}

.viewFund .lpName {
    height: 16px;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    margin-left: 12px;
}
.viewFund .table td{  
    
    height: 16px;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    vertical-align: middle;
} */
.viewFund .btnViewPrint {
    width: 72px;
    height: 16px;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    color: var(--white);
    width: 111px;
    height: 24px;
    background-color: #00bcd4;
    border-radius: 30px;
    left: 20px;
    position: relative;
}
.viewFund .caretDown{
    margin-left: 5px;
    width: 8px;
    height: 6px;
}
.viewFund .marginRight60{
    margin-right: 7.2%;
}
.viewFund .marginLeft57{
    margin-left: 6%;
}
.viewFund .lpNameTh{
    margin-left: 43px;
}
.viewFund .marginLeft20{
    margin-left: 20px;
}
.viewFund .viewPrintText{
    position: relative;
    top: -2px;
}
.viewFund .table-bordered td{
    border-top: solid 1px rgba(51, 101, 138, 0.25) !important;
    border: none;
}
.viewFund .table-bordered th{
    border: none;
}
.viewFund thead tr,
.viewFund tbody tr {
        display:table;
        width:100%;
        table-layout:fixed;
}

.viewFund thead th,
.viewFund tbody td {
    width: 168px !important;
}

.viewFund thead {
    width: calc( 100% - 1em );
}

.viewFund tbody {
    display:block;
    height:400px;
    /* width: 1000px; */
    overflow:auto;
}

.viewFund thead tr{
    border:hidden;
    border-bottom: solid 1px rgba(51, 101, 138, 0.25);
}
.viewFund tbody tr{
    border-bottom: hidden;
}
.viewFund tbody tr:last-child{
    border-bottom: solid 1px rgba(51, 101, 138, 0.25);
}
.viewFund .table-bordered td:first-child{
    border: solid 1px rgba(51, 101, 138, 0.25);
}
.viewFund .table-bordered td:last-child{
    border: solid 1px rgba(51, 101, 138, 0.25);
}
.viewFund .fNameHeaderMargin{
    margin-top: 36px;
}
.viewFund .fNameText{
    margin-left: 50px;
}
.viewFund .tableMargin{
    margin-bottom: 40px;
}
.viewFund .notificationCount {
    width: 16px;
    height: 20px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #39bcd5;
    position: relative;
    left: 0px;
    top: 0px;
}
.viewFund .notificationIcon{
    position: relative;
    left: 0px;
}