.lptableContainer {
  width: 1000px;
  margin: 0 auto;
}

.lptableContainer table {
  position: relative;
  width: 1000px;
  overflow: hidden;
  border: none !important;
  border-collapse: collapse;
}

/*thead*/
.lptableContainer thead {
  position: relative;
  display: block; /*seperates the header from the body allowing it to be positioned*/
  width: 1000px;
  table-layout:fixed;
  overflow: visible;
}
.lptableContainer thead th.minWidth100 {
  padding-left: 15px !important;
}
.lptableContainer tbody td.minWidth100 {
  padding-left: 0px !important;
}

.lptableContainer thead th {
  min-width: 200px !important;
  max-width: 200px !important;
  min-height: 32px;
  border: none !important;
  background-color: #FFF;
  color: rgba(47, 72, 88, 0.5);
  font-size: 12px;
  line-height: 1.33;
  font-weight: bold;
  text-align: center;
  /* height: 190px; */
  border-bottom: solid 1px rgba(51, 101, 138, 0.25);
}
/* thead th:not(:first-child) {
  min-width: 110px !important;
} */

/* tbody td:not(:first-child){
  min-width: 110px !important;
} */
.minWidth100 {
  min-width: 100px !important;
}
.minWidth210 {
  min-width: 210px !important;
}
.minWidth202 {
  min-width: 202px !important;
}
.viewFund.expandTable .tableEdit .tableMargin,
.viewFund.expandTable .tableEdit tbody {
  width: 1200px !important;
}

.viewFund.expandTable .lptableContainer {
  width: 100% !important;
  margin: 0;
}

.viewFund.expandTable .tableEdit thead th,
.viewFund.expandTable .tableEdit tbody td {
  /* min-width: 170px !important; */
  max-width: 170px !important;
}

.viewFund.expandTable .tableEdit tbody td {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.viewFund.expandTable .tableEdit tbody {
  max-height: 500px !important;
}

.lptableContainer thead th:nth-child(1) {/*first cell in the header*/
  position: relative;
  display: block; /*seperates the first cell in the header from the header*/
  background-color: #FFF;
  color: rgba(47, 72, 88, 0.5);
  height: 70px;
  border: none !important;
  top: 15px;
  font-size: 12px;
  line-height: 1.33;
  font-weight: bold;
  text-align: center;
}


/*tbody*/
.lptableContainer tbody {
  position: relative;
  display: block; /*seperates the tbody from the header*/
  width: 1000px;
  max-height: 450px;
  overflow: scroll;
  border: solid 1px rgba(51, 101, 138, 0.25);
  border-radius: 4px;
}


.lptableContainer tbody td .statusIndicator {
  display: block;
  margin-left: 12px;
  margin-top: 2px;
  font-size: 10px !important;
  font-style: italic !important;
  opacity: 0.5;
  
}

.dot {
  height: 6px;
  width: 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot-closed {
  background-color: #1adbb9 !important;
}

.dot-closeReady {
  background-color: #ffff00 !important;
}

.dot-open {
  background-color: #03a9f4 !important;
}
.dot-openReady-Draft {
  background-color: #b3315f !important;
}
.dot-Not-Participating {
  background-color: #2f4858 !important;
}

.lptableContainer tbody td {
  min-width: 200px !important;
  max-width: 200px !important;
  color: rgba(47, 72, 88, 1);
  font-size: 12px;
  line-height: 1.33;
  vertical-align: middle !important;
  text-align: center;
  word-break: break-all;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  border: none !important;
}

.lptableContainer tbody tr td:nth-child(1) {  /*the first cell in each tr*/
  position: relative;
  display: block; /*seperates the first column from the tbody*/
  min-height: 48px;
  color: rgba(47, 72, 88, 1);
  font-size: 12px;
  line-height: 1.33;
  vertical-align: middle;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border: none !important;
  text-align: left;
  word-break: break-all;
  border-right: solid 1px rgba(51, 101, 138, 0.25) !important;
}

.lptableContainer tbody tr:nth-child(odd) td:nth-child(1) {
    background-color: #F2F2F2 !important;
    white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.lptableContainer tbody tr:nth-child(even) td:nth-child(1) {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #fff !important;
}

/*View LP Profile-Change Fund Commitment*/

.lpTableModalUser{
  width: 288px;
  height: 427px;
  border-radius: 4px;
  box-shadow: -8px 8px 16px 0 rgba(82, 97, 115, 0.18);
  background-color: #ffffff;
  background-color: var(--white);
  border: solid 1px rgba(51, 101, 138, 0.25);
}
.lpTableModalUser .closeImageAlign{
  float: right;
  position: relative;
  left: -10px;
}
.lpTableModalUser .imageInputContainer{
  margin-left: 36px;
  margin-right: 35px;
  clear: both;
}
.lpTableModalUser .profilePictureImage{
  display: block;
  margin: auto;
}
.lpTableModalUser .Sarah-Douglas {
  /*width: 143px;*/
  height: 32px;
  font-family: 'OpenSans-Bold';
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #2f4858;
  text-align: center;
  margin-bottom: 2px;
}
.lpTableModalUser .Limited-Partner-Individual {
  /*width: 159px;*/
  height: 16px;
  font-family: 'OpenSans-Bold';
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #2f4858;
  text-align: center;
  margin-bottom: 18px;
}
.lpTableModalUser .Current-Fund-Commitm {
  /*width: 214px;*/
  height: 20px;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #2f4858;
}
.Current-Fund-Commitm {
  /*width: 214px;*/
  height: 20px;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #2f4858;
}
.lpTableModalUser .currentFundAmount {
  /*width: 165px;*/
  height: 32px;
  font-family: 'OpenSans-Bold';
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #1adbb9;
    position: relative;
    top: -5px;
  margin-bottom: 2px;
}
.lpTableModalUser .newFundCommitment {
  width: 217px;
  height: 20px;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #2f4858;
}
.lpTableModalUser .inputNewFundCommitment{
  width: 217px !important;
  height: 40px;
  border-radius: 3px !important;
  border: solid 1px #39bcd5 !important;    
  font-family: 'Lato';
  font-size: 16px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5 !important;
  letter-spacing: normal;
  color: #526173 !important;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 17px;
}
.lpTableModalUser .confirmAndSaveBtn {
  width: 217px;
  height: 36px;
  background-color: #00bcd4;
  border-radius: 50px;
  font-family: 'Lato-Semibold';
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  color: var(--white);
  margin-bottom: 22px;
}
.confirmAndSaveBtn {
  width: 217px;
  height: 36px;
  /* background-color: #00bcd4; */
  border-radius: 50px !important;
  font-family: 'Lato-Semibold';
  font-size: 14px !important;
  font-weight: 600 !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43 !important;
  letter-spacing: normal;
  text-align: center !important;
  color: #ffffff !important;
  margin-bottom: 22px;
}
.lpTableModalUser .cancelnewFundBtn{
  width: 217px;
  
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #0c0033;
  background-color: #ffffff;
}
.cancelnewFundBtn{
  width: 217px;
  
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #0c0033;
  background-color: #ffffff;
}

#lPNameProfileModal .modal-content, #lpFundCommitmentModal .modal-content{
  width: 400px;
  max-height: 600px;
  border-radius: 4px;
  box-shadow: -8px 8px 16px 0 rgba(82, 97, 115, 0.18);
  border: solid 1px rgba(51, 101, 138, 0.25);
  background-color: var(--white);
  margin-left: 25%;
}
/* .lPNameProfileModal .modal-content{
  width: 400px !important;
} */
#lPNameProfileModal .profilePicLarge, #lpFundCommitmentModal .profilePicLarge{
  margin: auto;
  display: block;
  margin-bottom: 4px;
  /* border: solid 4px #1adbb9; */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: -8px 8px 16px 0 rgba(82, 97, 115, 0.18);
  border: solid 1px rgba(51, 101, 138, 0.25);
  background-color: var(--white);
}
#lPNameProfileModal .profileNameModal, #lpFundCommitmentModal .profileNameModal{
  /* width: 111px; */
  height: 32px;
  font-family: 'OpenSans-Bold' ;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #2f4858;
  text-align: center;
  margin-bottom: 2px;
}

.marginBottom25{
  margin-bottom: 25px;
}
#lPNameProfileModal .marginLeft22, #lpFundCommitmentModal .marginLeft22{
  margin-left: 22px;
}
#lPNameProfileModal .profileNameDelegate, #lpFundCommitmentModal .profileNameDelegate{
  /* width: 73px; */
  /* height: 16px; */
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #2f4858;
  text-align: center;
  margin-bottom: 15px;
}
#lPNameProfileModal .LPUserMailId, #lpFundCommitmentModal .LPUserMailId{
  height: 24px;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #2f4858;
  text-align: center;
  margin-bottom: 8px;
  vertical-align: middle;
  word-break: break-all;
}
#lPNameProfileModal .paddingLpUserMailId, #lpFundCommitmentModal .paddingLpUserMailId{
  padding-left: 0px;
  padding-right: 30px;
}
#lPNameProfileModal .marginRight15, #lpFundCommitmentModal .marginRight15{
  margin-right: 15px;
}
#lPNameProfileModal .marginLeft20, #lpFundCommitmentModal .marginLeft20{
  margin-left: 20px;
}
#lPNameProfileModal .marginLpUserMail, #lpFundCommitmentModal .marginLpUserMail{
  margin-left: 5px;
  margin-bottom: 5px;
}
#lPNameProfileModal .marginLeft5, #lpFundCommitmentModal .marginLeft5{
  margin-left: 5px;
}
.marginRight22{
  margin-right: 22px;
}
.marginRight25{
  margin-right: 25px;
}
.marginLeft50{
  margin-left: 50px;
}
#lPNameProfileModal .modal-body, #lpFundCommitmentModal .modal-body{
  padding-top: 0px !important;
}
#lPNameProfileModal .modal-header, #lpFundCommitmentModal .modal-header{
  border-bottom: none;
  z-index: 9999;
}
#lpFundCommitmentModal .modal-header {
  /* top: 10px;
  position: relative; */
}
#LPFundsModal .modal-header{
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: none;
  position: relative;
  top: 70px;
}
#LPFundsModal .modal-content{
  width: 288px;
  height: 380px;
  border-radius: 4px;
  box-shadow: -8px 8px 16px 0 rgba(82, 97, 115, 0.18);
  border: solid 1px rgba(51, 101, 138, 0.25);
  background-color: #FFF;
  margin-left: 25%;
}
#LPFundsModal .modal-body{
  top: 75px;
  margin-left: 20px;
}
.inputPlaceHolder {
  width: 184px !important;
  font-family: 'Lato' !important;
  color: #526173 !important;
}
.marginBottom17{
  margin-bottom: 17px;
}
.lpFundCommitmentModalDialog .modal-content {
  max-height: 650px !important ;
}
.offlineLpFundCommitmentModalDialog .modal-content {
  max-height: 800px !important ;
}
.lineHeight80 {
  line-height: 80px !important ;
}
.lineHeight45 {
  line-height: 45px !important ;
}
.lineHeightName {
  line-height: 4 !important ;
}
.open>.dropdown-menu {
  display: block;
}
.lpTableTooltip .tooltip-inner {
  margin-top: 12px;
  width: 240px;
  border-radius: 4px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--white) !important;
  margin-left: -80px;
}

.lpTableTooltip ul {
    list-style: none;
    padding: 0px !important;
}
.lpTableTooltip li {
  width: 230px;
  min-height: 40px;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #2f4858;
  text-align: left;
  padding-left: 10px;
  cursor: pointer;
  padding-top: 15px;
}
.padBot40 {
  padding-bottom: 40px;
}
.lpMessageTextBox a {
  color: #2f4858 !important;
  text-decoration: underline !important;
  cursor: pointer;
}
.lpMessageTextBox {
  height: 100px;
  overflow: auto;
  margin-bottom: 10px;
  width: 327px;
  margin-left: 30px;
  padding: 5px;
  border-radius: 3px !important;
  border: solid 1px #526173 !important;
}
#lpFundCommitmentModal.modal {
  top: 20px !important;
}
.lpTableExpandIcon{
  position: absolute;
  top: 35px;
}
.summaryContainer .row {
  min-height: 25px;
  height: auto;
}
.validationError a {
  padding-left: 5px;
  color: red !important;
  font-weight: bold;
}
.validationError p {
  margin-bottom: 5px !important;
}
.paddingLeft34{
  padding-left: 34px !important;
}
.fundError {
  padding-left: 50px;
  padding-bottom: 5px;
}
.heightAndFontSize{
  height: 36px;
  font-size: 16px !important;
}
.marginBottom10{
  margin-bottom: 10px !important;
}
.marginTop22{
  margin-top: 22px !important;
}
.fontFamilyOpenSans{
  font-family: 'Open Sans' !important;
}
.marginTop5{
  margin-top: 5px !important;
}
.disabledBtnBgColor{
  background-color: #bdbdbd !important;
}
.font16 {
  font-size: 16px;
}
.errorHeadAlign {
  margin-left: 23px;
}
.proceedWidth {
  width: 240px !important;
}
.errMsgAlign {
  text-align: left !important;
  margin-left: 10px;
}

/* Safari scroll for lptable */
@media not all and (min-resolution:.001dpcm) { 
  tbody::-webkit-scrollbar {
    width: 12px;
    overflow-x: hidden;
  }
  tbody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); ;
    border-radius: 10px;
  }
  tbody::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #318D9E;
  }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    .lptableContainer {
        cursor: pointer !important;
    }
}
.lpPendingAction {
  position: absolute;
  left: 35px;
  top: 15px;
  color: red;
}
.offlineCapitalCommitmentText {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #2f4858;
  text-align: center;
}
.alginCheckBoxDiv {
  position: relative;
  top: -42px;
  left: 40px;
  width: 95%;
}
.fac-title {
  margin-left: 15px !important;
  margin-top: -15px !important;
}