.headerContainer {
    height: 90px;
}
.content {
    width: 50%;
}
.logo a, .logo a:hover {
    color: #39bcd5;
    text-decoration: none !important;
}
.logo {
    width: 200px;
    height: 32px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #39bcd5;
    margin-left: 36px;
}
.homeLink {
    width: 84px;
    height: 32px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
    float: right;
    margin-right: 7%;
}
.homeLink a {
    text-decoration: none !important;
    color: #2f4858 !important;
}
.cursor {
    cursor: pointer;
}
.parentContainer {
    margin: 30px;
}