.pdf {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pdf-frame {
    margin-top: 50px;
    height: 90vh;
    width: 80vw;
}

.iframe-div {
    -webkit-overflow-scrolling:touch !important;
}