.alert {
    position: fixed !important;
    top: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-width: 500px;
    max-width: 700px;
    padding: 8px !important;
    min-height: 40px;
    background-color: #03a9f4;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .alert {
        left: 30%;
    }
}

.alert.alert-success {
    background-color: #03a9f4;
    z-index: 9999;
}

.alert.alert-danger {
    background-color: #ff3a3a;
}

.alert p {
    position: relative;
    padding: 0 30px 0;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    color: #fff;
}

.alert p .success{
    position: absolute;
    height: 24px;
    width: 24px;
    left: 0;
    top: 0;
}

.alert p .close{
    position: absolute;
    opacity: 1;
    height: 24px;
    width: 24px;
    right: 0;
    top: 0;
}