#modalone .modal-dialog{
    vertical-align: middle;
    top: 35%;
}

@media only screen and (max-width: 768px) {
    #modalone .modal-dialog{
        vertical-align: middle;
        top: 35%;
        left: 42%;
    }
}

.mymodal{
    background: url('../../loader.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#modalone .modal-dialog, #modalone .modal-content, #modalone .modal-body{
    width: 70px!important;
    height: 70px!important;  
}

#modalone .modal-content{
    box-shadow: none!important;
    border: none!important;
    background-color: transparent!important;
}
.modal-backdrop {
    width: 100% !important;
}

.modal-backdrop.in{
    opacity: 0.3!important;
}
#modalone.fade.in {
    opacity: 1 !important;
}