.pdf {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pdf-frame {
    margin-top: 50px;
    height: 90vh;
    width: 80vw;
}

.uploadBtn {
    display: block !important;
    margin: auto !important;
    width: 65% !important;
}

.pdf .subapprovedBtn {
    font-size: 15px !important;
    width: auto !important;
    height: 40px !important;
}
.pdf .fundapprovedBtn {
    font-size: 15px !important;
    width: auto !important;
    height: 40px !important;
}
.generateSignature .modal-dialog{
    max-width: 450px !important; 
}

.generateSignature .modal-body{
    /* position: relative;
    top: 70px; */
    margin: auto;
    width: 380px;
    margin-top: -30px;
}

.modal-header{
    border-bottom: none !important;
}
.generateSignature .modal-header{
    position: relative;
    top: 20px;
    z-index: 99999;
}
.generateSignature .modal-content{
    min-height: 300px;
    max-height: 720px;
    overflow: auto;
}
.generateSignature .marginEdit{
    margin-left: 0px !important;
    margin-bottom: 15px;
}
.generateSignature .paddingZero{
    padding: 0px;
}

.viewSignDocu .modal-header{
    position: relative;
    top: 18px;
}
.viewSignDocu .marginTop30{
    margin-top: 30px;
}
.viewSignDocu .modal-content{
    width: 575px !important;
}
.pdf-title {
    width: 950px;
    margin: 20px auto;
    text-align: center;
}
.fontFamilyBoldSize{
    font-family: 'OpenSans-Bold';
    font-size: 18px;
    opacity: 1 !important;
}
.fontFamilyBold{
    font-family: 'OpenSans-Bold';
}
.passwordModal .modal-dialog{
    max-width: 586px;
}
.passwordModal .modal-content{
    position: relative;
    top: -20px;
    height: 130px;
}
.passwordModal .modal-body{
    top: -7px;
}
.passwordModal .modal-header{
    position: relative;
    top: 10px;
}
.iframe-div {
    /* overflow:scroll !important;  */
    -webkit-overflow-scrolling:touch !important;
}