.sidenav {
    width: 280px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212121;
    overflow: hidden;
    padding-top: 20px;
}
#createFund .sidenav {
    width: 290px;
}
#createFund .sidenav ul li a {
    padding: 10px 0px 10px 20px;
}


.sidenav .fa-home{
    margin-right: 15px;
}
.sidenav h1 i{
    float:left;
    margin-right:10px;
    margin-left:20px;
    margin-top: 25px;
}

.sidenav ul li a.active, .sign-box a.active {
    color: #39bcd5 !important;
    opacity: 1 !important;
    font-family: 'OpenSans-Bold';
}
.sidenav ul li a {
    padding: 10px 0px 10px 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    display: block;
    opacity: 0.75;
    outline: none !important;
    font-family: 'Open Sans';
}

.sidenav h1 {
    color: #ffffff;
    font-size: 20px;
    display: block;
    font-family: 'OpenSans-Bold';
    text-transform: uppercase;
}
.sidenav h2 a {
    color: #ffffff !important;
    position: relative;
    top: 3px;
    padding-left: 7px;
}
.sidenav h2 a.active {
    color: #39bcd5 !important;
    opacity: 1 !important;
    font-family: 'OpenSans-Bold';
}
.fund-left-pic-label {
    border-radius: 30px;
    position: relative;
    left: -5px;
    width: 24px;
    height: 24px;
    display: table-cell;
    vertical-align: top;
}
.fund-left-pic-label img, .sidenav h2.marginTopNone img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.sidenav .left-nav-fund-name {
    display: inline-block;
    width: 150px;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    padding-left: 7px;
}
.sidenav h2.marginTopNone  {
    margin-top: 0px !important;
}
.sidenav h2.alignMargin {
    margin-top: 70px;
    margin-bottom: 20px;
}
.sidenav h2 {
    color: #ffffff;
    font-size: 16px;
    display: block;
    margin-left: 20px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
.navbar-collapse.collapse {
    display: block!important;
}

.sidenav .section-head a{
    color: #ffffff;
    text-decoration: none !important;
    line-height: 25px;
}
.sidenav .section-head {
    background-color: #0288d1;
    color: #ffffff;
    padding-left: 10px;
    margin-top: 20px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    height: 24px;
}

.sidenav .section {
    padding: 20px 0;
    min-height: 170px;
}

.header-container {
    display: inline-block;
    width: 256px;
}


.sidenav .active-item .fa{
    margin-right: 15px;
}
.active-item a {
    color: #FFF;
    text-decoration: none !important;
}
.sidenav .active-item {
    width: 100%;
    padding: 12px 10px 12px 14px;
    background-color: #00bcd4;
    color: #ffffff;
    border-left: 8px solid #295170;
    display: table;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.btn-add {
    margin-right: 10px;
    font-size: 26px;
    margin-top: -8px;
    cursor: pointer;
}

.main {
    margin-left: 316px; 
    max-width: 75%;
}
#createFund .radio-inline {
    width: 105px;
    margin-top: 15px;
}

.main-heading {
    width: 98%;
    color: #2f4858;
    border-bottom: 2px solid rgba(51, 101, 138, 0.5);
    margin: 30px 20px 10px 4px;
    padding-bottom: 24px;
}
.main-heading .main-title{
    left: 0px !important;
}
.main-content{
    min-height: 600px;
}
.disabledAddIcon {
    pointer-events: none;
}
.footer-nav {
    width: 100%;
    color: #39bcd5;
    border-top: 2px solid rgba(51, 101, 138, 0.5);
    padding: 40px;
    text-align: center;
}

.footer-nav i {
    border: 1px solid #39bcd5;
    padding: 12px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.main-title {
    font-size: 26px;
    font-family: 'OpenSans-Bold';
    position: relative;
    right: 30px;
}
#createFund a:not([href]):not([tabindex]) {
    color: #ffffff;
    cursor: pointer;
}
.cancel-fund {
    font-size: 20px;
    float: right;
    margin-right: 135px;
    margin-top: 8px;
    color: #2f4858 !important;
    text-decoration: none !important;
    font-family: 'OpenSans-Bold';
}

.start-box {
    color: #ffffff;
    opacity: 0.5;
    padding-top: 8px;
    font-size: 16px;
    width: 232px;
    height: 40px;
    background-color: rgba(245, 245, 245, 0.3);
    border-radius: 100px;
    text-align: center;
    margin-left: 9px;
    font-family: 'OpenSans-Bold';
}

.start-fund {
    color: #ffffff;
    padding-top: 8px;
    font-size: 16px;
    width: 232px;
    height: 40px;
    background-color: #39bcd5;
    border-radius: 100px;
    text-align: center;
    margin-left: 9px;
    cursor: pointer;
    font-family: 'OpenSans-Bold';
    /* margin: 0 auto; */
    margin-bottom: 20px;
    display: inline-block;
}
.form-grid {
    padding: 0 30px 0 30px;
    width: 700px;
  }

  .form-row{
    margin-top: 10px;
  }



.ddstyle {
    width:300px;
    background-color: #ffffff;
    text-align: left;
}

.user {
    text-align: center;
    color: rgba(255, 255, 255, 0.25);
    margin-top: 30px;
    padding: 0 30px 0 30px;
}

.user p {
    text-align: center;
    color: #ffffff;
    opacity: 0.75;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    margin-top: 10px;
}

.header-right {
    margin-top: 20px;
    float: right;
}

.fsbadge {
    padding: 2px 5px 2px;
    font-size: 10px;
    white-space: nowrap;
    color: #ffffff;
    background-color: #03a9f4;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    float: right;
    margin-top: 5px;
    font-family: 'OpenSans-Bold';
}
#createFund .GpDelegatesContainer{
    margin-left: 18px;
    width: 98%;
}
#createFund .LpDelegatesContainer .error{
    margin-left: 25px;
    margin-bottom: 25px;
}
#createFund .LpDelegatesContainer{
    margin-left: 51px;
    width: 98%;
}
.assignGp {
    /*width: 201px;*/
    height: 32px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;

}
.Subtext {
    /*width: 410px;*/
    height: 20px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-bottom: 44px;
}
#createFund .gpDelegateButton {
    width: 210px;
    height: 40px;
    background-color: #39bcd5 !important;
    border-radius: 30px !important;
    font-family: 'OpenSans-Bold';
    font-size: 16px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: normal;
    color: #FFF !important;
    padding: 8px 51px 8px 62px !important;
    box-shadow: initial !important;
}
#createFund .lpDelegateButton .fa{
    position: relative;
    font-size: 18px;
    top: 2px;
    right: 16px;
}
#createFund .lpDelegateButton{
    width: 210px;
    border: solid 1px #39bcd5 !important;
    color: #39bcd5 !important;
    background-color: white !important;
    height: 40px;
    border-radius: 30px !important;
    font-family: 'OpenSans-Bold';
    font-size: 16px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: normal;
    color: #ffffff;
    padding: 8px 40px 8px 30px;
    box-shadow: initial !important;
}
.lpName {
    height: 20px;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    
  }
.organizationName {
    width: 117px;
    height: 16px;
    font-family: 'OpenSans-Bold';
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
}
.lpCheckBox{
    top: 3px !important;
}
.rowWidth{
    width: 50%;
    margin-bottom: 9px;
    margin-left: 3px !important;
}
.rowLpWidth{
    width: 50%;
    border: 1px solid lightgray;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 3px !important;
}
.lpNameHeading {
    width: 54px;
    height: 16px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    margin-right: 4px;
    margin-left: 47px;
  }
  .organizationHeading {
    width: 78px;
    height: 16px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    margin-right: 4px;
  }
.lpDelegateImg{
    top: 0px !important;
    margin-left: 0px !important;
}
.checkBoxGpContainer{
    margin-top: 24px;
    margin-bottom: 74px;
}
.Rectangle-6 {
    width: 380px;
    height: 48px;
    box-shadow: inset 0 -1px 0 0 rgba(117, 117, 117, 0.25);
    border: 1px solid lightblue;
    padding: 14px 0; 
    display: block;
    border-bottom: none !important;
}
.Ben-Parker {
    height: 20px;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    position: relative;
    top: -5px;
}
.checkBoxBen {
    width: 24px;
    height: 24px;
    object-fit: contain;
    /*display: inline-block;*/
    float: right;
    position: relative;
    top: -5px; 
    
}

#createFund #header-right {
    max-width: 100%;
    padding-top: 15px;
    height: 35px;
}
#createFund .header-right-row {
    /* width: 563px; */
    position: relative;
    right: -46%;
}
.gpdelegateImg {
    width: 32px;
    height: 32px;
    position: relative;
    top: -7px;
    margin-right: 12px;
    margin-left: 13px;
  }
  /*for step-2 Modal Form =========*/
  #createFund .addRoleModal {
    opacity: 1!important;
    border-radius: 8px;
    position: absolute;
    z-index: 1000;
    right: 0;
    left: 0;
    top: 240px;
    margin: auto;
    background-color: #ffffff;
    -webkit-box-shadow: -8px 8px 16px 0 rgba(82, 97, 115, 0.18);
    box-shadow: -8px 8px 16px 0 rgba(82, 97, 115, 0.18);
    border: solid 1px rgba(74, 74, 74, 0.25);
    padding-bottom: 15px;
    padding-top: 24px;
    padding-left: 31px;
    width: 670px;
    min-height: 496px;
    height: auto;
}
#createFund .form-main-div {
    min-height: 280px;
}

.form-main-div.add-delegate {
    min-height: 200px;
}

.form-main-div.add-gp-delegate {
    min-height: 250px;
}

#createFund .modal-subtext {
    width: 448px;
    margin-bottom: 32px;
}
.addGpFLName {
    width: 290px;
    height: 20px;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-bottom: 8px !important;
}
.inputFormBox {
    width: 290px;
    height: 40px;
    border-radius: 3px;
    border: solid 1px #526173;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
    padding: 8px;
    margin-bottom: 24px !important;
}
.addGpCancelBox{
    width: 290px;
    height: 48px;
    border-radius: 24px !important;
    font-family: 'OpenSans-Bold';
    font-size: 20px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6 !important;
    letter-spacing: normal;
    text-align: center !important;
    color: #2f4858;
    background-color: #ffffff;
}
.addGpSubmitBox {
    width: 290px;
    height: 48px;
    background-color: skyblue !important;
    font-family: 'OpenSans-Bold';
    font-size: 20px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6 !important;
    letter-spacing: normal;
    text-align: center !important;
    color: #ffffff;
    border-radius: 30px !important;
  }
.cancelSubmitMargin{
    margin-top: 104px;
}
/* For step3 page ======*/
.uploadFundDocument {
    /* width: 253px; */
    height: 24px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
    margin-left: 20px;
    margin-bottom: 24px;
}
.titleChooseFile {
    width: 220px;
    height: 32px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
}
.titleChooseSubtext {
    width: 522px;
    height: 20px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-bottom: 46px;
}
#createFund .filesize {
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    margin-left: 20px;
    margin-bottom: 10px;
}
#createFund .upload-doc-name {
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2f4858 !important;
    margin-left: 20px;
    text-decoration: underline !important;
    width: 450px;
}
#createFund .docContainer {
    width: auto;
    word-wrap: break-word;
}
#createFund .uplodFileContainer {
    width: 560px;
    min-height: 105px;
    border: dashed 2px #9b9b9b;
    padding-top: 24px;
    padding-left: 17px;
    padding-right: 10px;
}
.fundAgreementChange .uplodFileContainer {
    min-height: 105px;
    border: dashed 2px #9b9b9b;
    padding-top: 24px;
    padding-left: 17px;
}
#createFund .uploadFileBox:after {
    content: 'Upload File'
}
#createFund .uploadFileBox, .fundAgreementChange .uploadBox  {
    width: auto;
    height: 36px;
    background-color: #00bcd4 !important;
    font-family: 'OpenSans-Bold';
    font-size: 14px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43 !important;
    letter-spacing: normal;
    color: #FFF !important;
    padding: 8px 30px !important;
    border-radius: 30px !important;
    margin-top: 20px;
    box-shadow: initial !important;
    margin-right: 20px;
    position: relative;
    z-index: 1;
}
@media only screen and (min-width: 1025px) {
    #createFund .uploadFileBox:hover:after, #createFund .file-drop-dragging-over-frame .uploadFileBox:after, .fundAgreementChange .uploadFileBox:hover:after, #createFund .file-drop-dragging-over-frame .uploadFileBox:after {
        content: 'Drop Files Here to Upload'
    }
    #createFund .uploadFileBox:hover + span, #createFund .file-drop-dragging-over-frame .uploadFileBox + span, .fundAgreementChange .uploadFileBox:hover + span, #createFund .file-drop-dragging-over-frame .uploadFileBox + span {
        display: none;
    }
    #createFund .uploadFileBox:hover, #createFund .file-drop-dragging-over-frame .uploadFileBox, .fundAgreementChange .uploadFileBox:hover, #createFund .file-drop-dragging-over-frame .uploadFileBox{
        width: 496px;
        height: 56px;
        border-radius: 0px !important;
        background-color: #39bcd5;
        font-family: 'OpenSans-Bold' !important;
        font-size: 24px !important;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #ffffff !important;
        margin-top: 0px !important;
        box-shadow: initial !important;
    }
}
#createFund .file-drop, .fundAgreementChange .file-drop {
    margin-bottom: 8px;
    min-height: 75px;
} 
.uploadFileSubtext {
    width: 348px;
    height: 40px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    float: right;
    position: relative;
    padding-top: 8px;
}
.uploadFileText {
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    padding-top: 15px;
}
.chooseFileMargin{
    margin-left: 32px;
    margin-bottom: 12%;
}

/* For step1 form =======================*/
.step1FormClass{
    margin-left: 19px;
    width: 100%;
}

#step1Form,.step1Form-row{
    margin-top: 24px;
}

#yesCheckbox{
    margin-left: 12px;
    cursor: pointer;
}
#noCheckbox{
    margin-left: 60px;
    cursor: pointer;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-right: 10px;
}
.profilePicName {
    position: absolute;
    top: 7px;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    font-family: 'OpenSans-Bold';
    word-break: break-all;
}

#createFund .form-label{    
    width: 290px;
}

#createFund .profile-text {
    width: 344px;
    height: 20px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-top:  40px;;
    margin-bottom: 32px !important;
}
.uploadFile {
    width: 142px;
    height: 36px;
    background-color: #39bcd5 !important;
    font-family: 'OpenSans-Bold';
    font-size: 14px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43 !important;
    letter-spacing: normal;
    color: #FFF !important;
    border-radius: 20px !important;
    box-shadow: initial !important;
}
.removeBtn {
    width: 59px;
    height: 20px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin: 15px 0 0 40px;
    cursor: pointer;
}

/* step-3 styles================= */
.step3Class, .step2Class{
    margin-left: 20px;
    width: 100%;
}

/* step-4 styles============= */
.step4Class{
    margin-left: 30px;
    width: 100%;
}
.step4ClassAboveFooter{
    margin-left: 17px;
}



/* Step-6 styles================== */

.step6Class{
    margin-left: 20px;
    width: 100%;
}
.step6ClassAboveFooter{
    width: 100%;
}

.step6ClassAboveFooter{
    margin-left: 20px;
    width: 100%;
}


.col4 a{
    color: #39bcd5 !important;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    cursor:pointer;
    text-decoration: none;
    padding: 0px;
    margin-left: 70%;
}

.col4GPReview a{
    margin-left: 0% !important;
}

.col4 a:hover {
    color: #39bcd5;
    text-decoration: none;
    padding: 0px;
}

.lightContent {
    font-weight: 600;
    color: #39bcd5 !important;
    font-size: 14px !important;    
}

.col1,.col2,.col3{
    word-wrap: break-word;  
    color: #2f4858;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    line-height: 25px;
    padding: 0px;    
}

#createFund #step6-rows1{
    min-height: 170px;
    padding: 20px 0px 24px 0px;
    border-bottom: 2px solid rgba(51, 101, 138, 0.5);
    /* width: 1000px; */
    /* width: 850px; */
    margin:0px !important;
}
#createFund #step6-rows1 .step6-col-pad{
    padding: 0px;
} 
.step6-rows{
    min-height: 90px;
    padding: 24px 0px 0px 0px;
    border-bottom: 2px solid rgba(51, 101, 138, 0.5);
    /* width: 850px; */
    margin:0px !important;
}
.step6-rows .step-col-pad{
    padding: 0px;
}
@media only screen and ( min-width: 768px ) and ( max-width: 1024px ) {
    .step-col-pad{
        padding-left: 0px !important;
    }
    .marginLeft15Ipad{
        margin-left: 15px !important;
    }
}
.height80{
    height: 80px !important;
}

.step6-rows .col2-redirection{
    color: #2f4858;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    text-decoration: none;
    border-bottom: 2px solid rgba(51, 101, 138, 0.5);
}
.step6-rows .col2-redirection a:hover{
    color: #2f4858;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    text-decoration: none;
    border-bottom: 2px solid rgba(51, 101, 138, 0.5);

}

.staticTextAndTbl .staticText{
    margin-bottom: 20px;
    font-family: 'OpenSans-Bold';
    font-size: 14px;

}

.tableClass{
    width: 800px;

}
.tableHeaderClass{
    text-align: center;
    color: rgba(47, 72, 88, 0.5);
    font-size: 14px;
    font-family: 'OpenSans-Bold';
}
.tableCols{
    text-align: center;
    border: 1px solid rgba(51, 101, 138, 0.25);
    padding: 0 0 0 10px !important;
}
.outsideTableCols{
    text-align: center;
    padding: 0 0 0 10px !important;
}
input[type=checkbox]{
    cursor: pointer;
}
.staticTextBelowTable{
    padding: 32px 0px 10px 0px;
    color: rgba(47, 72, 88, 0.5);
    font-size: 23px;
    width:850px;
    font-family: 'OpenSans-Bold';
}
.staticTextBelowTable .staticTextBelowText{
    min-height: 50px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
}
.startFundButtonStyle {
    text-align: center;
    padding-bottom: 20px;
}
.tableCaret i{
    margin-left: 7px;
    font-size: 18px;
}
/*For step4 form =====*/
.viewApproveFormAllign{
    margin-left: 35px;
    margin-top: 36px;
}
.viewApproveForm {
    width: 238px;
    height: 32px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
}
.viewApproveSubtext {
    width: 250px;
    height: 20px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 14px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43 !important;
    letter-spacing: normal;
    color: #2f4858;
}
.printButton {
    width: 98px;
    height: 36px;
    background-color: skyblue;
    border-radius: 30px  !important;
    font-family: 'OpenSans-Bold';
    font-size: 14px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43 !important;
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 34%;
    margin-right: 16px;
}
.approveDocumentButton {
    width: 196px;
    height: 36px;
    background-color: skyblue;
    border-radius: 30px !important;
    font-family: 'OpenSans-Bold';
    font-size: 14px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43 !important;
    letter-spacing: normal;
    color: #ffffff;
}
.documentViewWindow {
    width: 690px;
    height: 868px;
    border: solid 1px rgba(51, 101, 138, 0.5);
    padding-top: 40%;
    padding-left: 12%;
    margin-top: 12px;
    margin-bottom: 5.5%;
}
.documentViewText {
    width: 461px;
    height: 54px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
     
}
#createFund .borderNone {
    border: none !important;
    width: 100% !important;
    min-height: 50px !important;
}
#createFund .full-width {
    width: 100% !important;
}
#createFund .fsnetButton {
    width: 210px;
}
#createFund .fsnetButton .fa{
    position: relative;
    font-size: 18px;
    top: 2px;
    right: 6px;
}
#createFund .userRow {
    min-height: 48px;
    border-bottom: 1px solid #add8e6;
    width: 100%;
    line-height: 20px;
}

.user-image {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.userImageAlt{
    width: 42px;
}
#createFund .user-review-image {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    position: relative;
    top: -5px;
    border-radius: 50%;
}
#createFund .fund-user-name {
    width: 300px;
    min-height: 20px;
    height: auto;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    padding-left: 20px;
    word-wrap: break-word;
    vertical-align: middle;
}
#createFund .review-name {
    font-family: 'OpenSans-Bold';
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;

}
#createFund .lp-name {
    min-height: 20px;
    height: auto;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    padding-left: 20px;
    word-wrap: break-word;
    vertical-align: middle;
}
#createFund .lp-name-pad{
    /* padding-left: 28px; */
    word-wrap: break-word;
    vertical-align: middle;
}
#createFund .lp-edit-icon {
    font-size: 25px;
    margin: 13px 16px 10px 20px;;
    display: inline-block;
    vertical-align: middle;
}

#createFund .lp-trash-icon {
    margin: 10px 30px 10px 30px;
}

#createFund .lp-edit-icon:before {
    font-size: 25px;
}

#createFund .checkbox {
    position: relative;
    top: 4px;
}
#createFund .marginLeft75 {
    margin-left: 75px;
}
#createFund .name-heading .fa{
    position: relative;
    left: 5px;
    top: -2px;
    font-size: 18px;
}

#createFund .name-heading .fa.toolTipIconAlign{
    left: 0;
    top: 0;
    font-size: 12px;
}

#createFund .name-heading.delete-text {
    padding-left: 110px;
}
#createFund .name-heading {
    width: 180px;
    min-height: 16px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    /* cursor: pointer; */
}
#createFund .lpName_pad{
    padding-left: 45px;
}
#createFund .userContainer {
    width: 800px;
    min-height: 150px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: inset 0 -1px 0 0 rgba(117, 117, 117, 0.25);
    box-shadow: inset 0 -1px 0 0 var(--warm-grey-25);
    border: 1px solid #add8e6;
    margin-top: 10px;
    margin-bottom: 30px;
}
.gpDelegateTableHeader {
    width: 800px;
}
.gpDelegateHeadaerTitle div {
    width: 156px;
}
.gpDelegateHeadaerTitle div.closingText {
    width: 220px;
}
.gpDelegateTableHeader .gpDelegateHeadaerTitle{
    width: 160px;
    display: inline-block;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #2f4858;
    word-wrap: break-word;
    margin: 0 10px 0px 5px;
}
.gpDelegateTableHeader .gpDelegateHeadaerNoText{
    width: 310px;
    display: inline-block;
}
.gpDelegateCheckbox {
    width: 210px;
    display: inline-block;
}
#createFund .addQuestionContainer {
    width: 750px !important;
}
#createFund .addQuestionContainer .lp-name{
    width: 400px !important;
    padding: 20px;
}

#createFund .userLPContainer, #createFund .addQuestionContainer {
    height: 250px;
    overflow: auto;
    box-shadow: inset 0 -1px 0 0 rgba(117, 117, 117, 0.25);
    box-shadow: inset 0 -1px 0 0 var(--warm-grey-25);
    border: 1px solid #add8e6;
    margin-top: 30px;
    margin-bottom: 30px;
}
#createFund .react-phone-number-input{
    margin-top: 8px;
}
#createFund .dropFilesButton {
    width: 496px;
    height: 56px;
    border-radius: 4px;
    background-color: #39bcd5;
    font-family: 'OpenSans-Bold';
    font-size: 24px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
}
#createFund .width100 {
    width: 100%
  }
  #createFund .checkIcon {
    margin-right: 10px;
    float: right;
    color: #ffffff;
    font-size: 10px;
    margin-top: 4px;
  }
.faChk {
    background: #1ADBB9;
    border-radius: 50%;
    padding: 2px;
}
.lpNameWidth {
    width: 35%;
}
.orgNameStyle {
    padding-top: 18px !important;
    width: 35%;
    text-align: left;
    padding-left: 13px !important;
}
.gpDelDiv {
    max-height: 200px;
    overflow-y: auto;
}
.cboxAlign {
    top: 6px !important;
}
.reviewLpName {
    position: relative;
    bottom: 4px !important;
}
.reviewOrgName {
    position: relative;
    bottom: -3px !important;
}
.gpDelegateInfo {
    color: #fff;
    height: 48px;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
}
.dpDelImg {
    width: 20%;
    float: left;
    width: 20%;
    float: left;
    position: relative;
    top: -4px;
}
.dpDelName {
    width: 66%;
    float: left;
    height: 25px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #ffffff;
    padding-top: 4px;
    text-align: left;
    padding-left: 5px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dpDelgDel {
    padding-top: 2px;
}

.gpDelDiv::-webkit-scrollbar {
    width: 12px;
}
.gpDelDiv::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); ;
    border-radius: 10px;
}
.gpDelDiv::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #318D9E;
}
#createFund .userContainer::-webkit-scrollbar {
    width: 12px;
}
#createFund .userContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); ;
    border-radius: 10px;
}
#createFund .userContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #318D9E;
}
#createFund .userLPContainer::-webkit-scrollbar, .addQuestionContainer .userLPContainer::-webkit-scrollbar, .addendumContainer .userLPContainer::-webkit-scrollbar{
    width: 10px;
}
#createFund .userLPContainer::-webkit-scrollbar-track, .addQuestionContainer::-webkit-scrollbar-track, .addendumContainer .userLPContainer::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 4px #00bcd4;
    border-radius: 5px;
}
#createFund .userLPContainer::-webkit-scrollbar-thumb, .addQuestionContainer::-webkit-scrollbar-thumb, .addendumContainer .userLPContainer::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 4px #00bcd4;
}





.table1stColAlign {
    margin-left: -36px;
}
.strtFndChk {
    font-size: 20px;
    font-weight: normal;
    position: relative;
    right: 4px;
}
.formGridDivMargin {
    margin: 15px 0;
}
.width37 {
    width: 37%;
}

.fa-sort-up:before, .fa-sort-asc:before {
    content: "\f0de";
    position: relative;
    top: 8px;
}
.fa-chevron-right.disabled, .fa-chevron-left.disabled {
    background: #DEE1E4 !important;
    color: #fff !important;
    border: 1px solid #DEE1E4 !important;
    opacity: .65;
    cursor: not-allowed;
    pointer-events: none;
}
.fa-chevron-right:hover {
    background: #39bcd5;
    color: #fff;
}
.fa-chevron-left:hover {
    background: #39bcd5;
    color: #fff;
}
.footerNavStep2 {
    margin-left: -15px;
}
.croosMarkStyle {
    text-align: right;
    margin-top: -20px;
    margin-right: 20px;
    font-family: 'OpenSans-Bold';
}
.borderTopNone {
    border-top: none !important;
    border-bottom: none !important;
}
.fa-trash:before {
    font-size: 21px;
}
.cursorDisabled {
    cursor: disabled;
    pointer-events: none;
}

.checkboxDisabled {
    border: 1px solid #d2d2d2;
}

.proceed-btn {
    width: 210px !important;
    font-size: 17px !important;
}

.pointerNone {
    pointer-events: none !important;
}
#createFund .fundStartModal .subtext{
    width: 448px;
    height: 130px;
}
#createFund .patnership-link {
    width: 156px;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858 !important;
    text-decoration: underline !important;
}
.fundBtnRow {
    margin-top: 20px;
    margin-bottom: 10px;
}
#createFund .fundStartModal {
    opacity: 1!important;
    border-radius: 8px;
    position: absolute;
    z-index: 1000;
    right: 0;
    left: 0;
    top: 100px;
    margin: auto;
    background-color: #ffffff;
    -webkit-box-shadow: -8px 8px 16px 0 rgba(82, 97, 115, 0.18);
    box-shadow: -8px 8px 16px 0 rgba(82, 97, 115, 0.18);
    border: solid 1px rgba(74, 74, 74, 0.25);
    padding-bottom: 15px;
    padding-top: 24px;
    padding-left: 31px;
    width: 670px;
    height: 320px;
}
 @media only screen and (max-width: 1180px) {
  .contentWidth {
      width: 900px !important;
  }
  #createFund .header-right-row {
    position: relative;
  }
}

 @media only screen and (max-width: 780px){ 
    #createFund .header-right-row {
        position: relative;
    }

 }

 @media only screen and (min-width: 1450px){ 
    #createFund .header-right-row {
        position: relative;
        right: -60%;
    }

 }

 /*Modal Styles*/
 #LPModal.offlineModal.modal {
     top: 10px !important;
 }
 #LPModal.offlineModal  .modal-header {
    height: 70px;
 }
 #LPModal.offlineModal button.close {
    margin-top: -5px !important;
}
 #LPModal.offlineEditModal.modal {
     top: 40px !important;
 }
 #LPModal.offlineEditModal  .modal-header {
    height: 90px;
 }
 #LPModal.offlineEditModal button.close {
    margin-top: -10px !important;
}
 #LPModal .modal-header {
    height: 100px;
    border-bottom: none;
    /* margin-top: 80px; */
 }
 #LPModal .react-phone-number-input {
     width: 278px;
 }
 #LPModal .modal-content {
    padding-left: 6px !important;
 }
 #LPModal .modal-body {
    margin-left: 8px;
 }
 #LPModal button.close {
    margin-top: 20px !important;
 }
#LPModal .modal-title {
    margin-top: -47px;
    text-align: left;
    padding-left: 23px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
 }
 #LPModal .LPModalDialog {
    display: block; 
    max-width: 670px !important;
    width: 670px !important;
}
#LPModal .modal-footer {
    border-top: none;
}
#LPModal .subtext {
    margin-bottom: 32px;
}



#GPModal .modal-header {
    height: 100px;
    border-bottom: none;
 }
 #GPModal .react-phone-number-input {
     width: 278px !important;
 }
 #GPModal .modal-content {
    padding-left: 6px !important;
 }
 #GPModal .modal-body {
    margin-left: 8px;
 }
 #GPModal button.close {
    margin-top: 20px !important;
 }
#GPModal .modal-title {
    margin-top: -47px;
    text-align: left;
    padding-left: 23px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
 }
 #GPModal .GPModalDialog {
    display: block; 
    max-width: 670px !important;
    width: 670px !important;
}
#GPModal .modal-footer {
    border-top: none;
}
#GPModal .subtext {
    margin-bottom: 32px;
}


#LPDelModal .modal-header {
    height: 100px;
    border-bottom: none;
    margin-top: -10px;
 }
 #LPDelModal .modal-content {
    padding-left: 6px !important;
}
.lpdelCnfrmModal .modal-content {
    top: 15px !important;
}
 #LPDelModal .modal-body {
    margin-left: 8px;
 }
 #LPDelModal button.close {
    margin-top: 20px !important;
 }
#LPDelModal .modal-title {
    margin-top: -47px;
    text-align: left;
    padding-left: 23px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
 }

 #LPDelModal .signatoryDialog button.close {
    margin-top: 20px !important;
 }

#LPDelModal .subtext {
    color: #000;
    opacity: 1;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 30px;
}

#GPDelModal .gpDelFundModalDialog .modal-content {
    position: absolute;
}
.GPSignModal .modal-dialog{
    max-width: 650px !important;
}
.GPCloseSignModal .modal-content{
    width: 100%;
}
 #GPDelModal .gpDelegateDelete .modal-content {
    height: 230px !important;
    width: 500px !important;
 }
#GPDelModal .approvelpModal  .modal-content , #GPDelModal .approveGpModal .modal-content {
    width: 800px;
}
 #GPDelModal .modal-content {
    padding-left: 6px !important;
    width: 725px;
    max-height: 700px;
 }
 .finalClosing {
    width: 280px;
    float: left;
    position: relative;
    top: -18px;
}
.finalClosing .checkbox {
    top: 7px;
    left: 5px;
}
 .closeFund-Title {
    width: 450px;
    float: left;
 }
 #GPDelModal.height200  .modal-content {
    height: 200px !important;
 }
 .GPSignModal  a {
    color: #2f4858 !important;
    text-decoration: underline !important;
}
.preclosing .btnEnabled, .preclosing .fsnetCancelButton {
    height: 40px !important;
    font-size: 16px !important;
}
@media only screen and ( min-width:768px ) and ( max-width:1024px ){
    /* #GPDelModal .modal-content {
        width: 500px;
    } */
    /* #GPDelModal .closeFundAgreementModal .modal-content {
        width: 725px !important;
    }
    #GPDelModal .modal-dialog {
        margin-left: 25%;
    } */
    /* #GPDelModal .reponsiveFundModal .modal-content {
        height: 610px;
    } */
    .GPSignModal .modal-content {
        margin-left: 0% !important;
    }
    #GPDelModal .reponsiveFundModal.modal-dialog {
        margin: 0 auto;
        max-width: 670px;
    }
    #GPDelModal .reponsiveFundModal .checkbox input{
        left: 2px !important;
    }
}
#GPDelModal .modal-body {
    margin-left: 8px;
}
#GPDelModal .modal-title {
    margin-top: -10px;
    text-align: left;
    padding-left: 23px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
 }
#GPDelModal .subtext {
    color: #000;
    opacity: 1;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 20px;
}
.fa-minus {
    cursor: pointer;
}
#addQuestionModal button.close{
    position: relative;
    top: 30px;
    z-index: 99999;
}
#addQuestionModal .modal-body label:not(.radio-inline) {
    width: 100%;
}
#addQuestionModal .modal-body .radio-inline {
    padding-left: 30px;
}
#addQuestionModal .modal-body .form-control {
    width: 95%;
}
#addQuestionModal .modal-body .row {
    margin-left: 0px;
}

#confirmFundModal .confirmFundDialog, .addQuestionDialog {
    display: block; 
    max-width: 670px !important;
    width: 670px !important;
}

#restoreModal .confirmFundDialog {
    display: block; 
    max-width: 610px !important;
    width: 610px !important;
}
.modal .btnEnabled{
    background-color: #00bcd4 !important;
    border: 1px solid #00bcd4 !important;
    border-radius: 30px !important;
    color: #FFF !important;
}
.modal .btnEnabled:hover {
    background-color: #4ab8c6 !important;
}
#confirmFundModal .modal-header, #restoreModal .modal-header {
    border-bottom: none;
    position: relative;
}
button.close {
    position: relative !important;
    z-index: 99999 !important;
}
#confirmFundModal .subtext {
    height: 100px;
    width: 95%;
}
#confirmFundModal .modal-body {
    margin-left: 14px;
}
.patnerCheckbox {
    left: 60px;
}
.sectionHeadTxt {
    position: relative;
    top: 2px;
}
.dLSectionHeadTxt {
    position: relative;
    top: -1px;
}
input:checked ~ .radio-checkmark {
    background-color: #fff !important;
}
.radio-checkmark:after {
    background: #00bcd4 !important;
}
.sidenav-menu {
    list-style-type: none;
    text-align: left;
}
.navbar-custom {
    background: #212121;
    color: #fff;
    font-size: 13px;
    padding: 0;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    width: 256px;
    float: left;
}
.navbar-toggle .icon-bar {
    background: white;
}
.navbar-collapse-custom {
    padding: 0;
    height: 100% !important;
    width: 100% !important;
}
.navbar-toggle {
    display: block;
}
.navList {
    width: 168px;
    height: 88px;
    font-size: 16px;
    background: #fafafa;
    position: absolute;
    left: 15px;
    top: 75px;
}
.navbar-collapse.collapse {
    display: block !important;
}

.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
    background: white;
  }

  
@media(max-width:767px) {
.main {
    margin-left: 0px !important;
}
body {
    width: 100%;
}
.main-heading{
    width: 370px !important;
}
.navbar-custom {
    height: auto;
    clear: both;
    width: 100%;
    float: none
}
.contentWidth {
    width: 370px !important;
}
.form-grid {
    width: 321px !important;
}
.cancel-fund {
    margin-right: 0px !important;
}
.sidenav {
    width: 100% !important;
    position: relative !important;
}
.navbar-collapse-custom ul.mainMenu {
    width: 100%;
}
li:last-child ul.sub-menu {
    top: 100%;
}
.sub-menu {
    left: 35%;
    top: 100%;
}
.navList {
    left:38%;
}
.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse.collapse {
    display: none!important;
}
.logoHamburger {
    display: none !important;
}


.navbar-text {
    float: none;
    margin: 15px 0;
}
/* since 3.1.0 */
.navbar-collapse.collapse.in { 
    display: block !important;
}
.collapsing {
    overflow: hidden !important;
}
#GPModal .GPModalDialog {
    max-width: 390px !important;
    width: 390px !important;
    margin-top: 46px;
}
#LPModal .LPModalDialog {
    max-width: 390px !important;
    width: 390px !important;
    margin-top: 88px;
}
#createFund .uplodFileContainer, .fundAgreementChange .uplodFileContainer {
    width: 362px;
}
.docNameDivAlign {
    margin-top: 60px;
    display: inline-flex;
    word-wrap: break-word;
}
#confirmFundModal .confirmFundDialog, #restoreModal .confirmFundDialog {
    max-width: 390px !important;
    width: 390px !important;
    margin-top: 68px;
}
#createFund #step6-rows1{
    width: 360px !important;
}
.step6-rows{
    width: 360px !important;
}
}
.hidden {
    display: none;
}

.fundModalDialog {
    top: 56px;
}

.fundModalDialog .modal-header {
    height: 0px !important;
}

.fundModalDialog.approveGpModal .form-main-div .name-heading {
    width: 150px;
}
.fundModalDialog.approvelpModal .form-main-div .name-heading {
    width: 200px;
}
.fundModalDialog.approvelpModal .form-main-div .lp-name {
    width: 180px;
}

.fundModalDialog.approvelpModal .form-main-div .lp-name-width{
    width: 200px;
}

.GPSignModal.topZero .modal-header button.close {
    top: 0px !important; 
}
.GPSignModal.topZero .fundModalDialog .modal-header {
    height: 40px !important;
}

#GPDelModal .fundModalDialog .modal-body .subtext {
    margin-bottom: 15px !important;
}

#lpFundModal {
    top: 0px !important;
    margin: 20px !important;
}

#lpFundModal .modal-dialog.GPDelModalDialog {
    width: 90% !important;
    max-width: 90% !important;
    height: 90% !important;
    max-height: 90% !important;
    top: 140px !important;
    left: -33px !important;
}

#lpFundModal .modal-dialog.GPDelModalDialog .modal-content {
    top: 122px !important;
}

#GPDelModal.height230 .modal-content{
    height: 270px !important;
}
#GPDelModal.height230 .fundModalDialog .modal-header button.close {
    top: -10px !important;
}

.paddingLeft15 {
    padding-left: 15px !important;
}

.GPDelModalDialog.closeFundModal .noUserTitle {
    font-size: 16px !important;
    font-family: 'Open Sans' !important;
}

.GPDelModalDialog.closeFundModal .noUserTitle span{
    font-family: 'OpenSans-Bold' !important;
}

#GPDelModal.height230 .GPDelModalDialog.closeFundModal .modal-header {
    margin-top: 0px !important;
}

#lpFundModal .modal-dialog.GPDelModalDialog .modal-header {
    padding: 10px !important;
    border: none !important;
}

#lpFundModal .modal-dialog.GPDelModalDialog .modal-header button{
    padding: 8px 15px;
}

#lpFundModal .modal-dialog.GPDelModalDialog .modal-body .viewFund {
    margin: 0 auto !important;
    border: none !important;
}

#lpFundModal .modal-dialog.GPDelModalDialog .modal-body .viewFund .Showing-LP-Participa{
    margin-top: 0 !important;
}

#lpFundModal .modal-dialog.GPDelModalDialog .modal-body .viewFund .tableEdit tbody {
    max-height: 300px !important;
}
.GPDelModalMarginLeft{
    margin-left: -7%;
    top: 40px !important;
}

.form-main-div .full-width {
    width: 100% !important;
}
.form-main-div .newAddendumButton{
    width: 210px;
    border: solid 1px #39bcd5 !important;
    background-color: #39bcd5 !important;
    height: 40px;
    border-radius: 30px !important;
    font-family: 'OpenSans-Bold';
    font-size: 15px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: normal;
    color: #FFF !important;
    padding: 8px 40px 8px 30px;
    box-shadow: initial !important;
}
.form-main-div .full-width {
    width: 100% !important;
}
.form-main-div .userRow.disabled {
    background-color: #d2d2d2;
    pointer-events: none;
}
.form-main-div .userRow {
    min-height: 48px;
    border-bottom: 1px solid #add8e6;
    width: 100%;
    line-height: 20px;
    padding-top: 8px;
}
.form-main-div .marginLeft61{
    margin-left: 61px !important;
}
.form-main-div .lp-name {
    width: 190px;
    min-height: 20px;
    height: auto;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    padding-left: 17px;
    word-wrap: break-word;
    vertical-align: middle;
}
.closefundtitle {
    display: inline;
    position: relative;
}
.closefund-name {
    width: 140px;
    min-height: 20px;
    height: auto;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    word-wrap: break-word;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-align: left;
    padding-left: 10px;
}
.question-type {
    width: 100px;
    min-height: 20px;
    height: auto;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    padding-left: 20px;
    word-wrap: break-word;
    vertical-align: middle;
}
.form-main-div .lp-name-target {
    width: 200px;
    min-height: 20px;
    height: auto;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    padding-left: 20px;
    word-wrap: break-word;
    vertical-align: middle;
}
.form-main-div .lp-name-pad{
    word-wrap: break-word;
    vertical-align: middle;
}
.form-main-div .lp-name-pad-5{
    word-wrap: break-word;
    vertical-align: middle;
}



.form-main-div .name-heading {
    width: 173px;
    min-height: 16px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    cursor: pointer;
}
.form-main-div .name-heading .fa{
    position: relative;
    left: 5px;
    top: -2px;
    font-size: 18px;
}
.form-main-div .userLPContainer {
    width: 600px;
    height: 250px;
    overflow: auto;
    box-shadow: inset 0 -1px 0 0 rgba(117, 117, 117, 0.25);
    box-shadow: inset 0 -1px 0 0 var(--warm-grey-25);
    border: 1px solid #add8e6;
    margin-top: 30px !important;
    margin-bottom: 30px;
}
.selectAll-div .checkbox {
    margin: 0px !important;
    top: 4px;
    left: 35px;
}
.input-capital-accepted .error{
    position: relative;
    top: 27px;
    left: -150px;
}
.input-capital-accepted {
    width: 173px;
    display: inline-block;
}
.checkbox-main-div {
    width: 60px;
    display: inline-block;
    margin-left: -20px;
}
.selectAll-div .selectAll-text{
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    position: relative;
    top: -30px;
}
.selectAll-div {
    width: 100px;
}
.form-main-div .userAddendumContainer {
    width: 667px;
    height: 250px;
    overflow: auto;
    box-shadow: inset 0 -1px 0 0 rgba(117, 117, 117, 0.25);
    box-shadow: inset 0 -1px 0 0 var(--warm-grey-25);
    border: 1px solid #add8e6;
    margin-top: 30px !important;
    margin-bottom: 10px;
}
.vanillaTableContainer {
    height: 250px;
    overflow: auto;
    box-shadow: inset 0 -1px 0 0 rgba(117, 117, 117, 0.25);
    box-shadow: inset 0 -1px 0 0 var(--warm-grey-25);
    border: 1px solid #add8e6;
    margin-top: 30px !important;
    margin-bottom: 10px;
}
.lpSubFormStyle{
    width: 100%;
}
.contentWidth .main-content{
    margin-left: 0px;
}
#createFund .viewPrintText{
    position: relative;
    top: -2px;
}
.form-main-div .main-title{
    margin-left: 20px !important;
}
.form-main-div .marginLeft25{
    margin-left: 25px !important;
}
.form-main-div .marginTop54{
    margin-top: 54px !important;
}
.paddingRight5{
    padding-right: 5px !important;
}
.form-main-div .marginTop10{
    margin-top: 10px !important;
}
.form-main-div .marginTop36{
    margin-top: 36px !important;
}
.form-main-div .marginLeft26{
    margin-left: 26px;
}
.form-main-div .uploadFundDocument {
    height: 24px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
    margin-left: 0px !important;
    margin-bottom: 24px;
}
.form-main-div .marginBottom2{
    margin-bottom: 2px !important;
}
.form-main-div .marginBottom12{
    margin-bottom: 12px !important;
}
.form-main-div .marginBottom28{
    margin-bottom: 28px !important;
}
.form-main-div .marginBottom24{
    margin-bottom: 24px !important;
}
.form-main-div .marginBottom18{
    margin-bottom: 18px !important;
}
.form-main-div .checkBoxTextPdf{
    position: relative;
    top: -5px;
}
.form-main-div .marginBottom32{
    margin-bottom: 32px !important;
}
.form-main-div .marginLeft8{
    margin-left: 8px;
}
.form-main-div .marginRight8{
    margin-right: 8px;
}
.form-main-div .marginRight12{
    margin-right: 12px;
}
.form-main-div .paddingLeft0{
    padding-left: 0px;
}
.form-main-div .lpNameTextAlign{
    position: relative;
    top: -4px;
}
.form-main-div .lpSelectAll {
    width: 55px;
    height: 16px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    position: relative;
    top: -9px;
}
.GpDelModalCloseFund{
    width: 680px;
}
.form-main-div .inputFormControlCloseFund{
    width: 155px !important;
    display: inline-block !important;
    margin-top: 0px !important;
}
.form-main-div .inputFormSignatuteAuth{
    width: 300px !important;
    display: inline-block !important;
    margin-top: 0px !important;
}
.GPSignModal .modal-content {
    height: inherit !important;
    margin-left: 12%;
}
.form-main-div .paddingBottom8{
    padding-bottom: 8px;
}
.form-main-div .lp-name-width{
    width: 178px;
}
  .form-main-div .marginLeft50{
    margin-left: 50px;
}
#GPDelModal .marginLeft50{
    margin-left: 50px;
}
#GPDelModal .closeFundSubmitBtn{
    width: 220px !important;
}
#GPDelModal .paddingZero{
    padding: 0px;
}
.paddingZero{
    padding: 0px !important;
}
#GPDelModal .buttonFloat{
    float: right;
}
.lpFundModalAlert  .modal-content{
    width: 654px;
    margin-left: 31%;
}
.lpFundModalAlert .title{
    font-size: 16px;
}
#lpFundModal .capitalCommitmentError{
    position: absolute;
    Z-INDEX: 1000;
    font-family: 'OpenSans-Bold';
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
    left: 16px;
}
#lpFundModal .viewFundErrorText{
    color: #ff0000 !important;
}

.signatureModalBody{
    margin-bottom: 20px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #confirmFundModal .modal-content {
        height: 310px;
    }
}
.fontSizeOpacity{
    font-size: 14px;
    opacity: 0.75;
}
.marginBottom8{
    margin-bottom: 8px !important;
}
.marginAll5{
    margin: 5px;
}
.marginTop-55{
    margin-top: -55px !important;
}
.sub-left {
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    margin-top: 20px;
}
.sub-form-menu li {
    height: 30px !important;
}
.subscriptionFormModal .modal-body {
    margin-top: 100px;
}
.subscriptionFormModal button.close {
    position: relative;
    top: 145px;
    z-index: 999;
}
#editSubModal .modal-content {
    width: 750px;
}
.disableStartFund {
    pointer-events: none !important;
    background-color: #DEE1E4 !important;
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    .step1FormClass {
        cursor: pointer !important;
    }
    .step2Class {
        cursor: pointer !important;
    }
    .LpDelegatesContainer {
        cursor: pointer !important;
    }
}
.edit-sub-aggrement .fsnetSubmitButton {
    font-size: 16px !important;
    height: 38px !important;
}

@media only screen and (max-width: 1300px) { 
    .edit-sub-aggrement .fsnetSubmitButton {
       width: 250px !important;
    }
}
.add-sub-aggrement {
    width: 99%;
}
.sectionRow  button {
    margin-right: 20px;
    width: 150px;
}
.sectionRow  label {
    padding: 15px 25px;
    width: 300px;
}
.sectionRow {
    display: block;
    height: 60px;
    border-color: #ddd;
    background-color: rgba(0,0,0,.05)!important;
    color: #2f4858!important;
    font-family: OpenSans-Bold;
    margin: 20px;
}
.panel-body button {
    margin-right: 20px;
}
.delteFundDocDailog .modal-content {
    width: 600px;
    min-height: 230px;
}

.validationErrorContainer {
    max-height: 300px;
    overflow: auto;
}
.switchRoleRadio .modal-dialog {
    max-width: 650px !important;
}