.dashboardMainRow  {
    margin: 20px !important
}
.user-name {
  min-height: 24px;
  font-family: 'OpenSans-Bold';
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #2f4858;
  cursor: pointer;
  /* width: 84%; */
  word-break: break-all;
  text-align: right;
}
.user-name.active, .user-name.active .fa {
    color: #39bcd5 !important;   
}
.user-name .fa {
    color: #2f4858;
    cursor: pointer;
}
.header-right-row {
    /* width: 512px; */
    float: left;
    position: relative;
    right: -15%;
}
.logout {
    cursor: pointer;
    margin-right: 10px;
} 
.user-name i {
    font-size: 14px;
    width: 10px;
    height: 6px;
    color: #2f4858;
    padding: 0 20px 0px 4px;
}
.profilePic {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    position: relative;
    top: -8px;
    margin-right: 10px;
    float: left;
}
.notification-icon {
    width: 24px;
    height: 24px;
    position: relative;
    top: 3px;
    font-weight: bold;
    float: left;
    cursor: pointer;
}
.notification-count {
    width: 16px;
    height: 16px;
    background-color: #e92940;
    font-size: 10px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    left: -16px;
    top: -5px;
    color: #FFF;
}
.count3 {
    width: 20px !important;
    height: 20px !important;
    padding-top: 3px;
    top: -8px !important;
}
.overFlowIcon {
    width: 24px;
    height: 24px;
}
.ellipsisH {
    width: 24px;
    height: 24px;
    position: relative;
    top: 5px;
    font-size: 20px;
}
.dropDownImg {
    height: 24px;
    width: 24px;
}
.user-dropdown-list {
    width: 264px;
    min-height: 136px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 12px 0 rgba(155, 155, 155, 0.5);
    position: absolute;
    z-index: 9999;
    top: 30px;
    right: 85px;
}
#header-right {
    float: right;
    margin-right: 50px;
}
.user-dropdown-list ul {
    list-style-type: none;
    padding-left: 15px !important;
}
.user-dropdown-list ul li img {
    margin-right: 10px !important;
}
.user-dropdown-list ul li a {
    color: #2f4858 !important;
    text-decoration: none !important;
    line-height: 1.5 !important;
}
.user-dropdown-list ul li {
    width: 230px;
    height: 40px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 45px;
    letter-spacing: normal;
    color: #2f4858;
    cursor: pointer;
}
.individualForm .formGridDivMargin {
    min-height: 450px;
}
@media only screen and (max-width: 480px) {
    .row.dashboardMainRow {
        margin: 20px 0px !important;
    }
    .header-right-row {
        margin-top: 25px;
        float: left !important;
        right: 68% !important;
    }
}
.rightHeader{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 12px;
    margin-bottom: 10px;
}
.userName{
    /* width: 80%;
    padding: 0; */
    width: 70%;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.profileImage{
    width: 15%;
    padding: 0;
    -ms-flex-pack: end;
    justify-content: space-around;
    display: flex;
}
.bellIcon{
    width: 5%;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
/* .headers .rightHeader{
    margin: 0 !important;
} */
/* .headers{
    padding-top: 10px;
} */
.downArrowIcon{
    margin: 0 10px;
    cursor: pointer;
}
@media only screen and (max-width: 320px) {
    .profileImage{
        width: 25% !important;
    }
    .user-dropdown-list {
        top: 36px !important;
        right: -6px !important;
    }
    .userName{
        width: 50% !important;
        margin-left: 5px;
        display: flex;
        justify-content: space-around !important;
    }
    .bellIcon{
        width: 5% !important;
    }
    .headers .rightHeader{
        margin-left: 12px;
        justify-content: flex-start;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    .user-dropdown-list {
        top: 36px !important;
        right: 0 !important;
    }
    .userName{
        width: 54% !important;
        float: none;
        display: flex;
        justify-content: flex-start;
    }
    .bellIcon{
        width: 10% !important;
    }
    .headers .rightHeader{
        margin-left: 12px;
        justify-content: flex-start;
    }
}

@media (min-width: 376px) and (max-width: 767px) {
    .user-dropdown-list {
        top: 36px !important;
        right: 0 !important;
    }
    .userName{
        width: 56% !important;
        float: none;
        display: flex;
        justify-content: flex-start;
    }
    .bellIcon{
        width: 10% !important;
    }
}

@media (max-width: 520px) {
    .headers .rightHeader{
        margin-left: 12px;
        justify-content: flex-start;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .mainHeading{
        padding: 30px 30px 15px 30px !important;
        width: 700px !important;
    }
    .userName{
        width: 63% !important;
    }
    .main-title{
        position: relative !important;
        top: -5px !important;
        right: 0px !important;
    }
    .headers{
        width: 900px;
        padding-top: 10px;
    }
    #MainDashboard .headersDashboard{
        width: 100%;
    }
    .lpHeaderResponsive .headersDashboard{
        width: 300px;
    }
}
@media only screen and (min-width: 1163px)  and (max-width: 1372px){
    .main-title{
        position: relative !important;
        top: -4px !important;
        right: 0px !important;
    }
}
@media only screen and (min-width:1025px) and (max-width:1162px){
    .main-title{
        position: relative !important;
        top: -20px !important;
        right: 0px !important;
    }
}
@media only screen and (min-width: 1317px) and (max-width:1551px){
    .main-title{
        position: relative !important;
        right: 10px !important;
    }
}
@media only screen and (min-width:378px) and (max-width:766px){
    .fundImageAllign{
        width: 70px !important;
        padding-right: 0px !important;
    }
    .fundNameAllign{
        width: 235px !important;
        padding-left: 0px !important;
        word-wrap: break-word;
        padding-right: 0px !important;
    }
    .main-title{
        position: relative !important;
        left: 10px !important;
        top: -5px !important;
    }
}
.switchRoleRadio .radio-inline{
    padding: 0px 10px 0px 30px !important;
}
.previousSubscriptionDialog.switchRoleRadio .modal-body {
    width: 640px !important;
}
@media only screen and (max-width: 1024px) {
    .previousSubscriptionDialog.switchRoleRadio .modal-body {
        width: 580px !important;
    }
}
@media only screen and (min-width:320px) and (max-width:377px){
    .fundImageAllign{
        width: 75px !important;
    }
    .fundNameAllign{
        width: 175px !important;
    }
    .main-title{
        position: relative !important;
        left: 0px !important;
        top: -5px !important;
    }
}
@media (max-width: 1024px) and (min-width: 992px){
    .lpHeaderResponsive .headersDashboard {
        width: 250px;
    }
}
@media only screen and (min-width:1099px) and (max-width:1162px){
    .main-title{
        top: -2px !important;
    }
}
@media only screen and (min-width:1101px) and (max-width:1300px){
    /* .headersDashboard  .user-name {
        width: 250px !important;
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        vertical-align: middle;
        height: inherit !important;
    }
    .headersDashboard .remember-text {
        left: 10px;
    } */
}
@media only screen and (max-width:1100px){
    /* .headersDashboard  .user-name {
        width: 120px !important;
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        vertical-align: middle;
        height: inherit !important;
    }
    .headersDashboard .remember-text {
        left: 10px;
    } */
}
.impersonateHeader {
    height: 50px;
    border: 1px solid #80e4f7;
    background-color: #80e4f7;
    width: 100%;
}
.impersonateHeader .title {
    padding: 10px 10px 0 20px;
    color: #FFF;
    display: inline-block;
    max-width: 70%;
}
.impersonateHeader .fsnetSubmitButton {
    width: 200px;
    height: 33px;
    font-size: 18px !important;
    line-height: 20px !important;
    margin-top: -25px;
}