.sidenav {
    width: 280px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212121;
    overflow: hidden;
    padding-top: 20px;
}
#fundSetup .sidenav {
    width: 290px;
}
#fundSetup .sidenav ul li a {
    padding: 10px 0px 10px 20px;
}
#fundSetup .sidenav ul li a:not([href]):not([tabindex]) {
    text-decoration: none !important;
}
.pl40 {
    padding-left: 40px;
}


#fundSetup .GpDelegatesContainer{
    margin-left: 18px;
    width: 98%;
}
#fundSetup .LpDelegatesContainer .error{
    margin-left: 25px;
    margin-bottom: 25px;
}
#fundSetup .LpDelegatesContainer{
    margin-left: 51px;
    width: 98%;
}
#fundSetup .gpDelegateButton {
    width: 210px;
    height: 40px;
    background-color: #39bcd5 !important;
    border-radius: 30px !important;
    font-family: 'OpenSans-Bold';
    font-size: 16px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: normal;
    color: #FFF !important;
    padding: 8px 51px 8px 62px !important;
    box-shadow: initial !important;
}
#fundSetup .lpDelegateButton .fa{
    position: relative;
    font-size: 18px;
    top: 2px;
    right: 16px;
}
#fundSetup .lpDelegateButton{
    width: 210px;
    border: solid 1px #39bcd5 !important;
    color: #39bcd5 !important;
    background-color: white !important;
    height: 40px;
    border-radius: 30px !important;
    font-family: 'OpenSans-Bold';
    font-size: 16px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: normal;
    color: #ffffff;
    padding: 8px 40px 8px 30px;
    box-shadow: initial !important;
}

#fundSetup #header-right {
    max-width: 100%;
    padding-top: 15px;
    height: 35px;
}
#fundSetup .header-right-row {
    /* width: 563px; */
    position: relative;
    right: -46%;
}
.gpdelegateImg {
    width: 32px;
    height: 32px;
    position: relative;
    top: -7px;
    margin-right: 12px;
    margin-left: 13px;
  }
  /*for step-2 Modal Form =========*/
  #fundSetup .addRoleModal {
    opacity: 1!important;
    border-radius: 8px;
    position: absolute;
    z-index: 1000;
    right: 0;
    left: 0;
    top: 240px;
    margin: auto;
    background-color: #ffffff;
    -webkit-box-shadow: -8px 8px 16px 0 rgba(82, 97, 115, 0.18);
    box-shadow: -8px 8px 16px 0 rgba(82, 97, 115, 0.18);
    border: solid 1px rgba(74, 74, 74, 0.25);
    padding-bottom: 15px;
    padding-top: 24px;
    padding-left: 31px;
    width: 670px;
    min-height: 496px;
    height: auto;
}
#fundSetup .form-main-div {
    min-height: 280px;
}
#fundSetup .modal-subtext {
    width: 448px;
    margin-bottom: 32px;
}
#fundSetup .filesize {
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    margin-left: 20px;
    margin-bottom: 10px;
}
#fundSetup .upload-doc-name {
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2f4858 !important;
    margin-left: 20px;
    text-decoration: underline !important;
    width: 450px;
}
#fundSetup .docContainer {
    width: auto;
    word-wrap: break-word;
}
#fundSetup .uplodFileContainer {
    width: 560px;
    min-height: 105px;
    border: dashed 2px #9b9b9b;
    padding-top: 24px;
    padding-left: 17px;
    padding-right: 10px;
}
#fundSetup .uploadFileBox:after {
    content: 'Upload File'
}
#fundSetup .uploadFileBox, .fundAgreementChange .uploadBox  {
    width: auto;
    height: 36px;
    background-color: #00bcd4 !important;
    font-family: 'OpenSans-Bold';
    font-size: 14px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43 !important;
    letter-spacing: normal;
    color: #FFF !important;
    padding: 8px 30px !important;
    border-radius: 30px !important;
    margin-top: 20px;
    box-shadow: initial !important;
    margin-right: 20px;
    position: relative;
    z-index: 1;
}
@media only screen and (min-width: 1025px) {
    #fundSetup .uploadFileBox:hover:after, #fundSetup .file-drop-dragging-over-frame .uploadFileBox:after, .fundAgreementChange .uploadFileBox:hover:after, #fundSetup .file-drop-dragging-over-frame .uploadFileBox:after {
        content: 'Drop Files Here to Upload'
    }
    #fundSetup .uploadFileBox:hover + span, #fundSetup .file-drop-dragging-over-frame .uploadFileBox + span, .fundAgreementChange .uploadFileBox:hover + span, #fundSetup .file-drop-dragging-over-frame .uploadFileBox + span {
        display: none;
    }
    #fundSetup .uploadFileBox:hover, #fundSetup .file-drop-dragging-over-frame .uploadFileBox, .fundAgreementChange .uploadFileBox:hover, #fundSetup .file-drop-dragging-over-frame .uploadFileBox{
        width: 496px;
        height: 56px;
        border-radius: 0px !important;
        background-color: #39bcd5;
        font-family: 'OpenSans-Bold' !important;
        font-size: 24px !important;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #ffffff !important;
        margin-top: 0px !important;
        box-shadow: initial !important;
    }
}
#fundSetup .file-drop, .fundAgreementChange .file-drop {
    margin-bottom: 8px;
    min-height: 75px;
} 
#fundSetup .form-label{    
    width: 290px;
}

#fundSetup .profile-text {
    width: 344px;
    height: 20px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-top:  40px;;
    margin-bottom: 32px !important;
}
#fundSetup #step6-rows1{
    min-height: 170px;
    padding: 20px 0px 24px 0px;
    border-bottom: 2px solid rgba(51, 101, 138, 0.5);
    /* width: 1000px; */
    /* width: 850px; */
    margin:0px !important;
}
#fundSetup #step6-rows1 .step6-col-pad{
    padding: 0px;
} 
#fundSetup .borderNone {
    border: none !important;
    width: 100% !important;
    min-height: 50px !important;
}
#fundSetup .full-width {
    width: 100% !important;
}
#fundSetup .fsnetButton {
    width: 210px;
}
#fundSetup .fsnetButton .fa{
    position: relative;
    font-size: 18px;
    top: 2px;
    right: 6px;
}
#fundSetup .userRow {
    min-height: 48px;
    border-bottom: 1px solid #add8e6;
    width: 100%;
    line-height: 20px;
}

#fundSetup .user-review-image {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    position: relative;
    top: -5px;
    border-radius: 50%;
}
#fundSetup .fund-user-name {
    width: 300px;
    min-height: 20px;
    height: auto;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    padding-left: 20px;
    word-wrap: break-word;
    vertical-align: middle;
}
#fundSetup .review-name {
    font-family: 'OpenSans-Bold';
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;

}
#fundSetup .lp-name {
    min-height: 20px;
    height: auto;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    padding-left: 20px;
    word-wrap: break-word;
    vertical-align: middle;
}
#fundSetup .lp-name-pad{
    /* padding-left: 28px; */
    word-wrap: break-word;
    vertical-align: middle;
}
#fundSetup .lp-edit-icon {
    font-size: 25px;
    margin: 13px 16px 10px 20px;;
    display: inline-block;
    vertical-align: middle;
}

#fundSetup .lp-trash-icon {
    margin: 10px 30px 10px 30px;
}

#fundSetup .lp-edit-icon:before {
    font-size: 25px;
}

#fundSetup .checkbox {
    position: relative;
    top: 4px;
}
#fundSetup .marginLeft75 {
    margin-left: 75px;
}
#fundSetup .name-heading .fa{
    position: relative;
    left: 5px;
    top: -2px;
    font-size: 18px;
}

#fundSetup .name-heading .fa.toolTipIconAlign{
    left: 0;
    top: 0;
    font-size: 12px;
}

#fundSetup .name-heading.delete-text {
    padding-left: 110px;
}
#fundSetup .name-heading {
    width: 180px;
    min-height: 16px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    /* cursor: pointer; */
}
#fundSetup .lpName_pad{
    padding-left: 45px;
}
#fundSetup .userContainer {
    width: 800px;
    min-height: 150px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: inset 0 -1px 0 0 rgba(117, 117, 117, 0.25);
    box-shadow: inset 0 -1px 0 0 var(--warm-grey-25);
    border: 1px solid #add8e6;
    margin-top: 10px;
    margin-bottom: 30px;
}
#fundSetup .addQuestionContainer {
    width: 750px !important;
}
#fundSetup .addQuestionContainer .lp-name{
    width: 400px !important;
    padding: 20px;
}

#fundSetup .userLPContainer, #fundSetup .addQuestionContainer {
    height: 250px;
    overflow: auto;
    box-shadow: inset 0 -1px 0 0 rgba(117, 117, 117, 0.25);
    box-shadow: inset 0 -1px 0 0 var(--warm-grey-25);
    border: 1px solid #add8e6;
    margin-top: 30px;
    margin-bottom: 30px;
}
#fundSetup .react-phone-number-input{
    margin-top: 8px;
}
#fundSetup .dropFilesButton {
    width: 496px;
    height: 56px;
    border-radius: 4px;
    background-color: #39bcd5;
    font-family: 'OpenSans-Bold';
    font-size: 24px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
}
#fundSetup .width100 {
    width: 100%
  }
  #fundSetup .checkIcon {
    margin-right: 10px;
    float: right;
    color: #ffffff;
    font-size: 10px;
    margin-top: 4px;
  }
#fundSetup .userContainer::-webkit-scrollbar {
    width: 12px;
}
#fundSetup .userContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); ;
    border-radius: 10px;
}
#fundSetup .userContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #318D9E;
}
#fundSetup .userLPContainer::-webkit-scrollbar, .addQuestionContainer .userLPContainer::-webkit-scrollbar, .addendumContainer .userLPContainer::-webkit-scrollbar{
    width: 10px;
}
#fundSetup .userLPContainer::-webkit-scrollbar-track, .addQuestionContainer::-webkit-scrollbar-track, .addendumContainer .userLPContainer::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 4px #00bcd4;
    border-radius: 5px;
}
#fundSetup .userLPContainer::-webkit-scrollbar-thumb, .addQuestionContainer::-webkit-scrollbar-thumb, .addendumContainer .userLPContainer::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 4px #00bcd4;
}

#fundSetup .fundStartModal .subtext{
    width: 448px;
    height: 130px;
}
#fundSetup .patnership-link {
    width: 156px;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858 !important;
    text-decoration: underline !important;
}
#fundSetup .fundStartModal {
    opacity: 1!important;
    border-radius: 8px;
    position: absolute;
    z-index: 1000;
    right: 0;
    left: 0;
    top: 100px;
    margin: auto;
    background-color: #ffffff;
    -webkit-box-shadow: -8px 8px 16px 0 rgba(82, 97, 115, 0.18);
    box-shadow: -8px 8px 16px 0 rgba(82, 97, 115, 0.18);
    border: solid 1px rgba(74, 74, 74, 0.25);
    padding-bottom: 15px;
    padding-top: 24px;
    padding-left: 31px;
    width: 670px;
    height: 320px;
}
 @media only screen and (max-width: 780px){ 
    #fundSetup .header-right-row {
        position: relative;
    }

 }

 @media only screen and (min-width: 1450px){ 
    #fundSetup .header-right-row {
        position: relative;
        right: -60%;
    }

 }
  
@media(max-width:767px) {
    #fundSetup .uplodFileContainer, .fundAgreementChange .uplodFileContainer {
        width: 362px;
    }
    #fundSetup #step6-rows1{
        width: 360px !important;
    }
}
#fundSetup .viewPrintText{
    position: relative;
    top: -2px;
}
.marginLeft40Pr {
    margin-left: 7% !important;
    position: relative;
    top: 10px;
}
.pr12 {
    position: relative;
    top: 12px;
}
.marginLeft7Pr {
    margin-left: 7% !important;
}
   
.marginLeft40Pr a,  .statesText a  {
    color: #39bcd5 !important;
    font-weight: bold;
    font-size: 15px;
    text-decoration: underline !important;
}

.marginLeft40Pr h6, .statesText h6  {
    color: #97a3ab;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
}

button.actionsPencilBtn, button.actionsEnvelopeBtn, button.actionsLinkBtn,button.actionsTimesBtn {
    color: #2f4858;
    background: none;
    border: 0px solid #fff;
    font-size: 20px;
    margin-right: 5px;
    outline: none !important;
}
button.statusMgsBtn {
    background: #00bcd4 !important;
    border: 0px solid#fff !important;
    color: #fff !important;
    font-size: 16px;
    padding: 2px 15px;
    border-radius: 50px;
    outline: none !important;
}


button.actionsTimesBtn {
    color: #f00;
    margin-right: 0px;
}
.width1100 {
    width: 1100px !important;
}

.width210 {
    width: 210px !important;
}

.lastChildWidth {
    width: 150px !important;
}
.actionsWidth {
    width: 160px !important;
}
.fundSetup .text-left {
    text-align: left !important;
}
.investorApprovedModal.userTrackModal button.close {
    margin-top: -10px !important;
}
.font20-bold {
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
}
.font14-bold {
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #2f4858;
}
.font20 {
    font-size: 20px !important;
}



