.notificationContainer {
    width: 350px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    /* height: 100%; */
    background: #FFF;
    color: #212121;
    z-index: 10000;
    transition: transform .3s
    cubic-bezier(0, .52, 0, 1);
}

.notificationOverlay {
    position: fixed;
    background: #000;
    width: 100%;
    /* height: 100%; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    opacity: 0.5;
}

.notificationContainer.hide, .notificationOverlay.hide {
    transform: translate3d(100vw, 0, 0);
  }
   
.notificationContainer.show, .notificationOverlay.show {
    transform: translate3d(0, 0, 0);
    overflow: hidden;
}

.notificationContainer .header {
    height: 104px;
    padding: 12px;
    background-color: #212121;
}

.notificationContainer .header .title {
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    color: #FFF !important;
    line-height: 1.6;
}
.notificationContainer .header .closeAlert {
    cursor: pointer;
}
.notificationContainer .header .dismissAll {
    color: #FFF;
    text-align: right;
    width: 300px;
    text-decoration: underline;
    font-family: 'SourceSansPro';
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    position: relative;
    top: 18px;
    cursor: pointer;
}
.alert-content div{
    color: #39bcd5;
}
.alerts-section {
    position: absolute;
    top: 110px;
    padding-left: 15px;
    width: 100%;
    left: 0px;
    /* height: 500px; */
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 30px;
}
.alerts-section::-webkit-scrollbar {
    width: 12px;
}
.alerts-section::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); ;
    border-radius: 10px;
}
.alerts-section::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #318D9E;
}
.date {
    float: right;
    width: 100px;
    height: 16px;
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: right;
    color: #2f4858;
}
.alert-text {
    float: left;
    width: 160px;
    /*min-height: 60px;*/
    height: auto;
    font-family: 'OpenSans-SemiBold';
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
}
.alertPaddingLeft{
    padding-right:0px !important; 
}
.alert-text a {
    color: #39bcd5 !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}
.alertTextWidth{
    width: 230px !important;
    margin-bottom: 10px;
}
.alertWidth{
    width: 25px !important;
    position: relative;
    left: 36px;
    top: 5px;
}
.dismiss img{
    position: relative;
    left: -3px;
}
.dismiss {
    width: 20px;
    height: 20px;
    background-color: #39bcd5;
    border: 1px solid #39bcd5;
    border-radius: 50%;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    /* position: relative;
    top: 20px;
    left: -13px;
    cursor: pointer; */
}
.alert-row {
    width: 350px;
    min-height: 76px;
    box-shadow: inset 0 -1px 0 0 rgba(51, 101, 138, 0.5);
    padding-top: 10px;
}
.alert-home-image {
    margin-left: 5px
}