.row {
    width: 100%;
}
.registerContainer {
    margin-left: 20px !important;
}
.topBorder {
    height: 2px;
    border: solid 1px rgba(51, 101, 138, 0.5);
    width: 90%;
    margin-left: 5%;
}
.opacityInput {
    opacity: 0.25;
}
#registerContainer .parentDiv {
    margin: 46px 0 0 10%;
    width: 100%;
}
#registerContainer .mandatory-content {
    height: 20px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-bottom: 11px;
}
@media only screen and (min-width:768px) and (max-width:1024px){
    #registerContainer .mandatory-content{
        margin-bottom: 30px !important;
    }
}
#registerContainer .register-text {
    height: 32px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
    margin-bottom: 8px;
}
#registerContainer .label-text {
    width: 290px;
    height: 20px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-bottom: 8px !important;
    margin-top: 8px !important;
}
#registerContainer .inputFormControl {
    width: 290px;
    height: 40px;
    border-radius: 3px;
    border: solid 1px #526173;
    padding: 8px;
    box-shadow: inherit;
}
#registerContainer .parentDiv .row {
    margin-bottom: 24px;
}
#registerContainer .profile-text {
    width: 344px;
    height: 20px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-top: 8px;
    margin-bottom: 32px !important;
}
#registerContainer .uploadFile {
    width: 142px;
    height: 36px;
    background-color: #39bcd5;
    font-family: 'OpenSans-Bold';
    font-size: 14px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43 !important;
    letter-spacing: normal;
    color: #ffffff;
    border-radius: 20px !important;
}
#registerContainer .removeBtn {
    width: 59px;
    height: 20px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin: 15px 0 0 40px;
    cursor: pointer;
}
#registerContainer .profilePicName {
    height: 20px;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    padding-left: 10px;
    position: absolute;
    top: 10px;
}
#registerContainer .cbRemeberMe {
    display: inline;
    margin-right: 10px;
}
#registerContainer #rememberme {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px;
    cursor: pointer;
}
#registerContainer .rememberLabel a {
    color: #39bcd5;
    text-decoration: underline;
    cursor: pointer;
}
#registerContainer .signupBtn {
    width: 290px;
    height: 48px;
    background-color:  #bdbdbd;
    font-family: 'OpenSans-Bold';
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border-radius: 40px !important;
    font-size: 20px !important;
    margin-top: 20px;
    display: block !important;
    margin-top: 30px;
}
#registerContainer .btn {
    box-shadow: initial !important;
}
#registerContainer .signIn-text {
    width: 250px;
    height: 24px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #39bcd5;
    margin-top: 15px;
    margin-left: 20px;
    cursor: pointer;
    margin-bottom: 24px !important;
}
#registerContainer .signIn-text a {
    color: #39bcd5 !important;
    text-decoration: none;
}
#registerContainer .error {
    margin-top: 10px;
}
.hide {
    display: none;
}
#registerContainer .profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
#registerContainer .profileMargin{
    margin-bottom: 30px !important;
}

#registerContainer .register-success-text {
    height: 32px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
    display: block;
    text-align: center;
    margin-top: 30px;
}
#registerContainer .register-reset-text {
    display: block;
    height: 20px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    text-align: center;
}
#registerContainer .register-submit {
    width: 290px;
    height: 48px;
    background-color: #00bcd4 !important;
    font-family: 'OpenSans-Bold';
    font-size: 20px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6 !important;
    letter-spacing: normal;
    text-align: center !important;
    color: #FFF !important;
    border-radius: 30px !important;
    margin: 30px !important;
}
@media only screen and (min-width: 1025px) {
    .width40 {
        max-width: 350px !important;
    }
}
@media only screen and (max-width: 1024px) {
    .registerContainer {
        margin-left: 0px !important;
    }
    #registerContainer .parentDiv {
        margin-left: 10px !important;
    }
    #registerContainer .topBorder{
        margin-left: 10px !important;
        width: 90%;
    }
    #registerContainer .headerContainer {
        height: 75px;
    }
    #registerContainer .logo {
        margin-left: 25px !important;
    }
}
@media only screen and (max-width: 700px) {
    #registerContainer .inputFormControl, #registerContainer .react-phone-number-input{
        width: 100% !important;
    }
    #registerContainer .mandatory-content, #registerContainer .register-text {
        height: auto;
    }
    #registerContainer .content {
        padding-left: 15px;
    }
    #registerContainer .profile-Row {
        text-align: center;
        padding-right: 15% !important; 
    }
    #registerContainer .removeBtn {
        margin-left: 0px;
    }
    #registerContainer .rememberLabel {
        display: inline !important;
    }
    #registerContainer .uploadFile  {
        margin-top: 10px;
    }
    #registerContainer .headerContainer {
        margin: 10px !important;
        height: 50px !important;
    }  
    #registerContainer .topBorder{
        margin-left: 10px !important;
    }
    #registerContainer .logo{
        margin-left: 0px !important;
    }
    #registerContainer .bottomBorder{
        margin-bottom: 30px !important;
    }
    #registerContainer .parentDiv {
        padding: 20px !important;
        margin: 0;
    }
    #registerContainer .sucess-row {
        padding-left: 30px;
    }
}


