.dashboardContainer {
    width: 100%;
    margin: 0 !important;
}

.row.fund-container {
    margin: 0px auto !important;
    width: 1200px;
}

.marginImg{
    margin-right: 16px !important;
}
.margin16{
    margin: 16px !important;
}
.fundNameLineHeight{
    line-height: 3.0 !important;
}
.maxWidth290{
    width: 290px !important;
    max-width: 290px;
}
.marginRight21{
    margin-right: 21px !important;
}
.InvitationBox {
    height: 40px;
    cursor: pointer;
}
.invitationClosed{
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    padding: 8px 22px;
    letter-spacing: normal;
    color: var(--white);
    background-color: #1adbb9;
    border-radius: 4px;
    width: 100%;
    text-align: center;
}
.invitationOpen{
    font-family: 'OpenSans-Bold';
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    padding: 8px 22px;
    letter-spacing: normal;
    color: var(--white);
    background-color: #03a9f4;
    border-radius: 4px;
    width: 100%;
    text-align: center;
}
.marginTop23{
    margin-top: 23px !important;
}
.marginRight44{
    margin-right: 44px !important;
}
.marginTop16{
    margin-top: 16px !important;
}
.labelDashboard{
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
}
.name-title{
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #0c0033;
}
.emailManagerAndSupportButton a {
    color: #2f4858 !important;
    text-decoration: none !important;
}
.emailManagerAndSupportButton{
    width: 194px;
    height: 40px;
    border-radius: 30px !important;
    font-family: 'Open Sans';
    font-size: 14px !important;
    font-weight: normal !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43 !important;
    letter-spacing: normal;
    color: #2f4858;
    background-color: #FFF !important;
    border: 1px solid black !important;
}
.marginRight25{
    margin-right: 25px !important;
}
@media only screen and (min-width:1601px){
    .row.fund-container{
        /* width: 72%; */
    }
}

.myFunds {
    height: 36px;
    font-family: 'OpenSans-Bold';
    font-size: 24px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #2f4858;
    margin-bottom: 20px;
    width: 100%;
}
.rejectedFunds {
    font-family: 'OpenSans-Bold';
    font-size: 24px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #2f4858;
    margin-bottom: 20px;
    width: 100%;
}
.dashboard-filter {
    width: 24px;
    height: 24px;
}
.filter-mode {
    height: 17px;
    font-family: 'OpenSans-Bold';
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2f4858;
    cursor: pointer;
}
.filter-mode i {
    padding-left: 3px;
}
.formFilterControl {
    display: inline-block !important;
    width: 288px !important;
    height: 40px;
    border-radius: 3px !important;
    border: solid 1px #526173 !important;
    box-shadow: initial !important;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858 !important;
    margin-left: 0px;
    padding-left: 30px !important;
}
.search-icon i {
    position: absolute !important;
    top: 12px !important;
    left: 25px !important;
}
.searchPreviousPartnership i {
    position: absolute !important;
    top: 10px !important;
    left: 10px !important;
}
.fundBoxEdit{
    height: 288px;
    width: 288px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(155, 155, 155, 0.5);
    background-color: #ffffff;
    border: solid 1px rgba(51, 101, 138, 0.25);
    padding: 8px 12px 16px 12px;
    margin: 27px 27px 27px 15px;
}

.fundDeactivated {
    opacity: 0.5;
}
/*.fundImageEdit{
    height: 48px;
}*/
.Fund-Image{
    width: 48px;
    height: 48px;
    border-radius:30px;
    position: relative;
    margin-right: 8px;
    min-height: 48px;
}
.fundImageEdit{
    line-height: 3;
}
#MainDashboard .fund-name-align {
    position: relative;
    top: 0px;
    
}
#MainDashboard .removeTop {
    position: relative;
    top: 0px;
    
}
.fund-Name {
    width: 330px;
    min-height: auto;
    margin-top: -5px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    line-height: 45px !important;
    position: relative;
}
.fund-name-gp {
    width: 152px;
    min-height: auto;
    font-family: 'OpenSans-Bold';
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    margin-right: 14px;
    top: 0px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.Bounding-Box {
    width: 20px;
    height: 20px;
    position: relative;
    top: -15px;
    margin-right: 2px;
}
.plusImg {
    bottom: 2px;
    position: relative;
    right: 4px;
    height: 18px;
    width: 18px;
}
.bellO{
    position: relative;
    top: -16px;
    cursor: pointer;
    color: #39bcd5;
}
.notificationCount {
    width: 16px;
    height: 20px;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #39bcd5;
    position: relative;
    top: -12px;
    left: 26px;
}
.action-count {
    height: 18px;
    width: 20px;
    font-family: 'OpenSans-Bold';
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: var(--white);
    background-color: #e92940;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
}
.alert-div svg {
    display: inline-block;
    height: 30px;
    width: 20px;
    position: relative;
    top: 11px;
}
.invitedDivStyle {
    font-size: 12px;
    position: relative;
    font-family: 'OpenSans-Bold';
    top: -16px;
    left: 56px;
    margin-bottom: -15px;
    line-height: 1.5;
}
.openEdit {
    width: 41px;
    height: 24px;
    border-radius: 2px !important;
    background-color: #03a9f4;
    font-family: 'Open Sans';
    font-size: 10px !important;
    font-weight: normal !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6 !important;
    letter-spacing: normal;
    text-align: center !important;
    color: #ffffff;  
    padding: 4px 7px 4px 8px !important;  
    margin-left: 56px;
    margin-right: 8px;
    margin-bottom: 31px;
    position: relative;
    /*top: -7px;*/
}
.actionRequired {
    width: 102px;
    height: 24px;
    border-radius: 2px !important;
    border: solid 1.4px #ff3a3a !important;
    font-family: 'OpenSans-Bold';
    font-size: 10px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6 !important;
    letter-spacing: normal;
    color: #2f4858;
    padding: 4px 9px 4px 10px !important;
    margin-bottom: 20px;
    margin-top: 6px;
    position: relative;
    left: 52px;
    /* top: -7px; */
    background-color: white;
    box-shadow: initial !important;
}
.closedReadyEdit img{
    width: 15px;
    height: 15px;
}
.closedReadyEdit {
    width: 100px;
    height: 24px;
    border-radius: 2px !important;
    background-color: #1adbb9;
    font-family: 'Open Sans';
    font-size: 10px !important;
    font-weight: normal !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6 !important;
    letter-spacing: normal;
    text-align: center !important;
    color: #ffffff;
    padding: 4px 7px 4px 8px !important;  
    margin-left: 56px;
    margin-right: 8px;
    margin-bottom: 31px;
    position: relative;
    
}
.open-Ready-Edit{
    width: 88px;
}
.closedEdit{
    width: 48px;
    height: 24px;
    border-radius: 2px !important;
    background-color: #1adbb9;    
    font-family: 'Open Sans';
    font-size: 10px !important;
    font-weight: normal !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6 !important;
    letter-spacing: normal;
    text-align: center !important;
    color: #ffffff;
    padding: 4px 7px 4px 8px !important;  
    margin-left: 56px;
    margin-right: 8px;
    margin-bottom: 31px;
    position: relative;
    /*top: -7px;*/
}
.Fund-Start-Date {
    /*width: 129px;*/
    height: 16px;
    font-family: 'OpenSans-Bold';
    font-size: 10px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    margin-bottom: 8px;
    position: relative;
    top: -8px;
    margin-right: 8px;
}
.Fund-Start-Date .text-style-1 {
    font-weight: normal;
}
.Fund-End-Date {
    /*width: 124px;*/
    height: 16px;
    font-family: 'OpenSans-Bold';
    font-size: 10px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    margin-bottom: 8px;
    position: relative;
    top: -8px;
}
.Fund-End-Date .text-style-1 {
    font-weight: normal;
}
.Line {
    width: 240px;
    height: 2px;
    border: solid 1px rgba(51, 101, 138, 0.2);
    margin-bottom: 8px;
    margin-left: 12px;
}
.Invited {
    height: 24px;
    font-family: 'OpenSans-Bold';
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
}
  .Invited1 {
    height: 24px;
    font-family: 'OpenSans-Bold';
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
}
  .Invited2 {
    height: 24px;
    font-family: 'OpenSans-Bold';
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
}
.labelInvited {
    height: 20px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-bottom: 5px;
}
.labelClosedReady {
    height: 20px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-bottom: 5px;
}
.labelClosed {
    height: 20px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    margin-bottom: 5px;
}
.labelInvitedPrice {
    height: 20px;
    font-family: 'OpenSans-Bold';
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #000;
    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 3px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.labelClosedReadyPrice {
    height: 20px;
    font-family: 'OpenSans-Bold';
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #000;
    margin-left: 3px;
    margin-right: 3px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.labelClosedPrice {
    height: 20px;
    font-family: 'OpenSans-Bold';
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #000;
    margin-left: 3px;
    margin-right: 3px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.priceDivAlign {
    margin-top: -10px;
}
.inProgressDiv {
    width: 34%;
    float: left;
}
.closeReadyDiv {
    width: 34%;
    float: left;
    margin-left: 5px;
}
.closedDiv {
    width: 30%;
    float: left;
}
.progressDivAlign {
    margin-left: 10px;
}

.tPriceStyle span{
    font-family: 'Open Sans';
}
.tPriceStyle {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.hcPriceStyle span{
    font-family: 'Open Sans';
}
.hcPriceStyle {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    margin-top: 10px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.actnRqStyle {
    margin-bottom: -6px;
    min-height: 50px;
}
.Hard-Cap-2000000 {
    
    height: 16px;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    margin-left: 42%;
    position: relative;
    top: -8px;
}
.hardCapDollar1{
    margin-left: 12%;
}
.hardCapDollar2{
    margin-left: 32%;
}
.hardCapDollar3{
    margin-left: 23%;
}
.Dollars-Closed-17 {
    width: 174px;
    height: 16px;
    font-family: 'OpenSans-Bold';
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f4858;
  }
  
  .text-style-1 {
    font-weight: normal;
  }
  label{
      margin-bottom: 0 !important;
}
.gridIcon {
    width: 24px;
    height: 24px;
    margin-left: 207px;
}
.view-mode {
    width: 65px;
    height: 17px;
    font-family: 'OpenSans-Bold';
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2f4858;
    position: relative;
    top: 8px;
    left: -28px;
    
}
.newFundButton a {
    color: #39bcd5 !important;
    text-decoration: none !important;
}
.newFundButton .fa{
    padding-right: 10px;
}
.btn.newFundButton {
    width: 144px;
    height: 40px;
    border-radius: 30px !important;
    border: solid 1px #39bcd5 !important;
    font-family: 'OpenSans-Bold';
    font-size: 16px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: normal;
    color: #39bcd5 !important;
    background-color: #FFF !important;
    float: right;
    position: relative;
    left: -10px;
    box-shadow: initial !important;
}
.caretDownAlign {
    float: right;
    position: relative;
    left: 16px;
    top: 8px;
    color: #39bcd5;
    margin-bottom: 3px;
    font-size: 12px;
}
.caretUpAlign {
    font-size: 12px;
    color: #39bcd5;
    float: right;
    position: relative;
    right: 12px;
    margin-top: -6px;
}
.progress-bar {
    margin-top: 10px;
    flex-direction: inherit !important;
    width: 260px;   
    width: 240px !important;
    margin-left: 12px;
    height: 14px;
    border-radius: 4px;
    border: 1px solid #39bcd5;
    background-color: rgba(245, 245, 245, 0.3) !important;
}
.progress-yellow{
    background-image: linear-gradient(to bottom, #fdeb71, #f8d800) !important;
    /* opacity: 0.7; */
    width: 35%;
    border-radius: 0px !important;
    border-right: none;
    border-left: none;
    height: 12px !important;
}
.progress-white {
    background-color: #ffffff !important;
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 4px !important;
    border-left: none;
    height: 12px !important;
}
.progress-pink {
    background-image: linear-gradient(to bottom, #ffaa85, #b3315f) !important;
    /* opacity: 0.7; */
    width: 30%;
    border-radius: 0px !important;
    border-right: none;
    height: 12px !important;
}
.progress-green{
    background-image: linear-gradient(to bottom, #90f7ec, #32ccbc) !important;
    /* opacity: 0.7; */
    width: 25%;
    border-radius: 0px !important;
    border-right: none;
    border-left: none;
    height: 12px !important;
}
.progress-red{
    background-color: #ff3a3a !important;
    width: 30% !important;
}

.fundBoxEdit .fund-progress-bar {
    padding-top: 10px !important;
}

.fundBoxEdit .fund-progress-bar .price-meter {
    font-size: 12px !important;
    font-family: 'Open Sans' !important;
}
.fundBoxEdit .fund-progress-bar .caretUpAlign, 
.fundBoxEdit .fund-progress-bar .caretDownAlign {
    font-size: 12px !important;
    font-family: 'Open Sans' !important;
    left: -3px;
    line-height: 24px;
}

.fundBoxEdit .fund-progress-bar .progress-bar {
    height: 20px !important;
    padding: 4px !important;
}

.fundBoxEdit .fund-progress-bar .progress-bar .progress {
    height: 12px !important;
}

.fund-col-container {
    display: inline-block;
}
.filter-icon {
    padding-right: 5px;
    cursor: pointer;
}
.display-filter {
    display: inline-block;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.filter-right-block {
    float: right;
    width: 250px;
    position: relative;
    top: 15px;
}
.thLarge{
    position: relative;
    top: 10px;
    margin-right: 8px;
    left: -28px;
}
.caretDown{
    margin-left: 3px;
}
#MainDashboard .colEmpty, #MainDashboard .rowFilters {
    height: 0!important;
}
.filtersHolder{
    position: relative;
}

.filters{
    position: relative;
    z-index: 1000;
    height: auto;
    float: none;
    top: 5px;
    left: 30px;
    width: 368px;
    width: 368px;
    min-height: 448px;
    border-radius: 8px;
    box-shadow: -12px 8px 24px 2px rgba(155, 155, 155, 0.25);
    background-color: #ffffff;
    border: solid 1px rgba(51, 101, 138, 0.25);
}
#fsnet-tabs {
    margin-bottom: 20px;
    min-height: 40px!important;
    height: auto!important;
}
#fsnet-tabs ul {
    border: none!important;
    margin-top: 12px;
    margin-bottom: 8px;
}
#fsnet-tabs ul li {
    width: 50%;
    border: none;
}
#fsnet-tabs ul li a {
    text-decoration: none;
    font-family: 'OpenSans-Bold';
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #39bcd5;
    margin-left: 45px;
}
.tab-content .fade.in {
    opacity: 1 !important;
}
.borderDateRange{
    width: 184px;
    height: 4px;
    background-color: #4acddd;
}
.borderStatusRange{
    width: 184px;
    height: 4px;
    background-color: #4acddd;
    margin-left: 50%;
}    
.drfStartDate {
    width: 264px !important;
    height: 40px;
    opacity: 0.25;
    border-radius: 3px !important;
    border: solid 1px #526173 !important;
    margin-bottom: 28px;
}
.drfEndDate{
    margin-bottom: 25%;
}
.btnClearAll {
    width: 91px;
    height: 36px;
    background-color: rgba(245, 245, 245, 0.3);
    font-family: 'Lato';
    font-size: 14px !important;
    font-family: 'OpenSans-Bold';
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43 !important;
    letter-spacing: normal;
    text-align: center !important;
    color: #0c0033;
    padding: 8px 16px !important;
    border-radius: 30px !important;
    margin-left: 32px;
}
.btnClearAllStatus{
    margin-left: 20%;
}
.btnSave {
    width: 91px;
    height: 36px;
    background-color: #00bcd4;
    font-family: 'Lato';
    font-size: 14px !important;
    font-family: 'OpenSans-Bold';
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43 !important;
    letter-spacing: normal;
    text-align: center !important;
    color: #ffffff;
    padding: 8px 16px !important;
    border-radius: 30px !important;
    margin-left: 16px;
}
.fundStartContainer{
    margin-top: 76px;
    margin-left: 52px;
}
.fsDate{
    margin-bottom: 8px !important;
}
.checkBoxContainer{
    margin: 24px 0 50% 24px;
}
.checkBoxLogo{
    
  height: 24px;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #2f4858;
}
.checkBoxLogo input{
    width: 24px;
    height: 24px;
    object-fit: contain;
    background-color: #000000;
    position: relative; 
    top: 6px;
    margin-right: 8px;
}
.marginBottomCheckBox{
    margin-bottom: 24px;
}
.fundBoxEditHelios{
    padding: 0px !important;
}
.heliosFundBox {
    
    height: 57px;
    border-radius: 4px;
    background-color: #212121;
}
.heliosFundColumn{
    padding-top: 4px;
    padding-bottom: 5px;
}
.activityFeed {
    width: 82px;
    height: 20px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
    margin: auto;
    
  }
.speaker-fund-Picture {
    width: 16px;
    height: 16px;
    color: #ffffff;
    margin-left: 93px;
    margin-right: 4px;
  }
  .helios-Fund-Name {
    width: 82px;
    height: 20px;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #ffffff;
    margin-right: 73px;
}
.closeIcon {
    width: 12px;
    height: 12px;
    color: #ffffff;
    position: relative;
    top: 3px;
    
}
.ellenSmithensonLp {
    width: 288px;
    height: 76px;
    background-color: rgba(189, 189, 189, 0.25);
    box-shadow: inset 0 -1px 0 0 rgba(51, 101, 138, 0.25);
    padding: 8px 0 8px 0;
}
.ellenIcon {
    width: 13px;
    height: 13px;
    color: #00bcd4;
    margin-left: 9px;
    margin-right: 8px;
    position: relative;
    top: -18px;
  }
.Ellen-Smithenson-LP {
    width: 170px;
    height: 60px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    display: inline-block;
    
}  
.Ellen-Smithenson-LP .Ellen-Smithenson-LP-Font {
    font-weight: 600;
}
.timeDate{
    width: 90px;
    height: 16px;
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: right;
    color: #2f4858;
    position: absolute;
    right: 50px;
}
.benParker{
    background-color: white !important;
}
.boxNotifStyle {
    float: right !important;
    position: relative !important;
    right: 14px !important;
}

/* 
@media only screen and (min-width:1025px) and (max-width:1366px){
    .fundBoxEdit{
        margin: 28px !important;
    }

} */
@media only screen and (max-width: 780px){
    /* .fundBoxEdit{
        margin: 30px 30px 12px 30px;
    } */
    .formFilterControl{
        width: 240px !important;
    }
    .filter-icon{
        margin-left: 30px !important;
    }
    .newFundButton{
        left: -20px;
    }
    .search-icon i{
        left: 40px;
    }
}

.show {
    display: inline-block;
}
.hidden {
    display: none;
}

@media only screen and (max-width: 480px){
    /* .fundBoxEdit{
        margin: 20px !important;
    } */
    .filter-icon{
        margin-left: 0px !important;
    }
    .display-filter{
        margin-left: 25px;
        margin-bottom: 20px;
        
    }
    .filter-right {
        margin-left: 0px;
    }
    .display-left-filter {
        margin-left: 5px
    }
    .display-right-filter {
        margin-left: -5px
    }
    .filter-right-block{
        left: -60px;
    }
    .formFilterControl{
        width: 160px !important;
        margin-left: 0;
    }
    
    .header-right-row{
        margin-top: 25px;
        float: none !important;
        right: -11% !important;
    }
    .search-icon i{
        left: 25px;
    }
    .filter-right-block{
        float: none !important
    }
    .display-filter-padding{
        padding-left: 0px !important;
    }
    .fsnet-logo {
        margin-left: 35px !important;
    }
}
@media only screen and (min-width: 1450px){ 
    .filter-right-block {
        float: right;
        width: 250px;
        position: relative;
        top: 15px;
        left: -10px;
    }

 }

 /* styles for lp dashboard*/
#lpMainDashboard .closedForm{
    background: #1adbb9;
    width: 198px;
    height: 24px;
    border-radius: 2px;
    padding: 4px 6px;
    margin: 0 0 140px 57px;
 }
 #lpMainDashboard .closedFormText{
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    color: var(--white);
 }
 #lpMainDashboard .fundContribution{
     margin-bottom: 5px;
    padding-left: 10px;
 }
 .fundContribution .contributionLabel{
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    text-align: left;
 }
 
 .fundContribution-seperator {
    width: 240px;
    border-top: 1px solid rgba(51, 101, 138, 0.2);
 }

 .fundContribution .contributionAmount{
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #1adbb9;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
 }
 .contributionAmount{
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #1adbb9;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
 }
 .openForm{
    min-width: 50px;
    height: 24px;
    border-radius: 2px;
    background-color: #03a9f4;
    padding: 4px 9px;
    margin: 0px 0 10px 60px;
    max-width: 150px;
}

#lpMainDashboard .invited{
    margin: 6px 26px 5px 27px;
    opacity: 0.5;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
}
.fund-user-details {
    height: 130px;
    margin-top: 30px;
}

.fund-user-details label{
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
    text-align: left;
    width: 120px;
}
.fund-user-details .gp-details{
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #2f4858;
    width: 252px;
}
.gp-details div {
    width: 120px;
    display: inline-block;
    word-wrap: break-word;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #2f4858;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 5px;
}

#lpMainDashboard .fundImage{
    margin: 0 0 27px 30px;
}

#lpMainDashboard .viewParticipant{
    margin: 0 12px 12px 12px;
    width: 240px;
    height: 40px;
    background-color: #00bcd4;
    border-radius: 100px;
    padding: 13px 30px 12px 31px;
    text-align: center;
    font-family: 'OpenSans-Bold';
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 13px;
    letter-spacing: normal;
    color: #FFF !important;
}
#lpMainDashboard .interested:hover {
    border: 1px solid #000000 !important;
    border-radius: 30px;
}
#lpMainDashboard .interested{
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #0c0033;
    height: 35px;
    line-height: 35px;
}
#lpMainDashboard .marginAlign{
    margin: 15px 0 15px 0;
}
.fundBoxEdit .caretDownTarget{
    display: block;
    position: relative;
    top: -8px;
}
.fundBoxEdit .caretUpTarget{
    display: block;
    position: relative;
    top: -13px;
    margin-left: -5px;
}
.fundBoxEdit .fund-progress-bar .progress-bar-margin{
    margin-top: 10px;
}
.fundBoxEdit .marginTop4{
    margin-top: 4px !important;
}
.fundBoxEdit .minimumHeight25{
    min-height: 25px;
}
.fundBoxEdit .marginTop25{
    margin-top: 25px;
}
.viewFund .marginTop4{
    margin-top: 4px !important;
}
.viewFund .marginTop25{
    margin-top: 25px;
}
.viewFund .fund-progress-bar .progress-bar-margin{
    margin-top: 13px;
}
.viewFund .caretDownTarget{
    display: block;
    position: relative;
    top: -8px;
}
.viewFund .caretUpTarget{
    display: block;
    position: relative;
    top: -11px;
    margin-left: -4px;
    font-size: 13px;
}
.viewFund .targetLetterSize{
    font-size: 13px;
}
.lineHeight45 {
    line-height: 45px !important;
}
.fund-lp-container {
    width: 449px;
    border-radius: 4px;
    min-height: 288px;
    box-shadow: 0 2px 12px 0 hsla(0,0%,61%,.5);
    background-color: #fff;
    border: 1px solid rgba(51,101,138,.25);
    margin: 0px 15px 30px 15px;
}
.fund-lp-container .row {
    margin: 0px;
}

/* LP container Layout */
@media only screen and (min-width: 1455px) {
    .row.fund-container.lp-container {
        width: 1440px !important;
    }
}

@media only screen and (min-width: 975px) and (max-width: 1455px) {
    .row.fund-container.lp-container {
        width: 960px !important;
    }
}

@media only screen and (max-width: 974px) {
    .row.fund-container.lp-container {
        width: 480px !important;
    }
}

/* GP container Layout */
@media only screen and (min-width: 1386px) { 
    #MainDashboard {
        overflow: hidden;
    }
    .row.fund-container.gp-container {
        width: 1340px !important;
    }
}

@media only screen and (min-width: 1050px) and (max-width: 1385px) { 
    #MainDashboard {
        overflow: hidden;
    }
    .row.fund-container.gp-container {
        width: 1000px !important;
    }
}

@media only screen and (min-width: 715px) and (max-width: 1049px) { 
    #MainDashboard {
        overflow: hidden;
    }
    .row.fund-container.gp-container {
        width: 700px !important;
    }
}

@media only screen and (max-width: 715px) { 
    #MainDashboard {
        overflow: hidden;
    }
    .row.fund-container .gp-col-container {
        width: 350px !important;
        margin: 0 auto;
    }
}
