.fsnet-logo {
    width: 200px;
    height: 32px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #39bcd5;
    cursor: pointer;
    margin-left: 30px;
}
#loginForm {
    margin: 20px;
}
#loginContainer .forgot-pwd {
    height: 24px;
    text-align: center;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
    margin-bottom: 28px;
}
#loginContainer .forgot-pwd a {
    color: #2f4858;
    text-decoration: none;
}
#loginContainer .labelSignIn {
    height: 32px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #2f4858;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 44px;
}
#loginContainer .formContainer  {
    width: 450px;
    min-height: 400px;
    opacity: 0.95;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border: solid 1px rgba(74, 74, 74, 0.25);
}
#loginContainer .labelFormControl {
    height: 20px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858 !important;
}
#loginContainer .formControl {
    height: 40px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
    border-radius: 3px;
    border: solid 1px #526173;
    margin-top: 8px;
    box-shadow: initial;
}
#loginContainer .formGroupMargin{
    margin-bottom: 24px !important;
}
#loginContainer .loginRemeberMe input{
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px;
    cursor: pointer;
}
#loginContainer .loginRemeberMe  {
    margin-bottom: 42px;
}
#loginContainer .loginRemeberMe  label{
    cursor: pointer;
}
#loginContainer label {
    height: 24px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
}
#loginContainer .signinBtn {
    width: 100% ;
    margin-bottom: 32px;
    border-radius: 30px;
    height: 48px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    outline: none;
    background-color: #bdbdbd;
    box-shadow: initial;
}
#loginContainer .mainContainer  {
    margin: 30px;
    height: 70px;
}
#loginContainer .loginContainer {
    margin: 30px 30px 30px 10%;
}
#loginContainer .content-heading {
    width: 530px;
    height: 96px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #39bcd5;
    margin-top: 40px;
}
#loginContainer .content-text {
    width: 450px;
    height: 316px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2f4858;
    margin-top: 23px;
}
#loginContainer .error {
    color: red;
    margin-top: 5px;
    font-size: 12px;
    font-family: 'Open Sans';
}
.marginLeft20 {
    margin-left: 20px;
}
.padding12 {
    padding: 12px;
}
@media only screen and (min-width: 1200px) {
    .paddingLeft7 {
        padding-left: 7% !important;
    }
}
@media only screen and (max-width: 1180px) {
    #loginContainer .content-heading, #loginContainer .content-text {
        width: 100% !important;
        height: auto !important;
    }
    #loginContainer .formContainer {
        width: 100% !important;
    }
    #loginContainer .labelSignIn {
        font-size: 18px !important;
    }
}
@media only screen and (max-width: 480px) {
    #loginContainer .labelSignIn {
        font-size: 14px !important;
    }
    #loginContainer .mainContainer {
        height: 20px;
    }
    #loginContainer .loginContainer {
        margin: 10px 10px 10px 10% !important;
    }
    #loginContainer .fsnet-logo {
        margin-left: 20px;
    }
    #loginContainer .content-heading {
        margin-top: 10px !important;
    }
}

@media only screen and ( min-width:768px ) and ( max-width:1024px ){
    #loginContainer .loginContainer {
        margin: 30px 30px 30px 45px ;
    }
    #loginContainer .content-heading {
        margin-top: 0px;
    }
    #loginContainer .paddingZeo{
        padding: 0px;
    }
}