.firmContainer {
    width: 800px;
}
.fundContainer {
    width: 900px;
}
.adminContainer .fa {
    position: relative;
    left: 5px;
}
.adminContainer .fa-sort-asc {
    top: -5px;
}
.adminContainer .fa-sort-desc {
    top: -2px;
}
.edit-icon {
    font-size: 20px;
}
.fund-search .fa {
    left: 25px !important;
}
.fsnetSubmitButton.sendNotify {
    width: 110px !important;
    height: 30px !important;
    font-size: 12px !important;
    line-height: 11px !important;
}
.userContainer {
    width: 1150px;
}
.tableContainer .radio-inline {
    min-width: 50px !important;
}
/* .userContainer .tableContainer {
    height: 500px;
} */
.userContainer .userImageAlt {
    width: 40px;
    top: 5px;
    position: relative;
    right: 5px;
}
.userContainer .radio-checkmark {
    top: 10px;
    left: -3px;
    height: 20px;
    width: 20px;
}
.userContainer .radio-checkmark:after {
    top: 4px;
    left: 4px;
}
.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
    vertical-align: middle;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.userContainer .selectFormControl {
    width: 288px;
    margin-left: 15px;
    display: inline-block;
}
.user-role {
    position: absolute;
    top: 20px;
    color: red;
    font-size: 12px;
    left: 45px;
}
.dashboard-name {
    position: absolute;
    top: 22px;
    color: red;
    font-size: 12px;
    left: 2px;
}
#LPDelModal .adminDeleteDialog .modal-header {
    /* height: 75px; */
}
#LPDelModal .adminDeleteDialog button.close {
    /* margin-top: 0px !important; */
}
.alignEllipsisText {
    position: relative;
    top: 5px;
}