html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  height: 100%;
}

#root {
  min-height: 100%;
  position: relative;
}
.text-center {
  text-align: center;
}
.success-icon {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.success-icon i{
  text-align: center;
  color: #1adbb9;
  font-size: 128px;
} 
.padding10 {
  padding: 10px;
}
.marginTop10 {
  margin-top: 10px !important;
}
.marginTopN40 {
  margin-top: -40px !important;
}
.marginTopN10 {
  margin-top: -10px !important;
}
.marginTopN20 {
  margin-top: -20px !important;
}
.marginTopN15 {
  margin-top: -15px !important;
}
.marginBottom30{
  margin-bottom: 30px;
}
.marginBot20{
  margin-bottom: 20px !important;
}
.marginBot10{
  margin-bottom: 10px !important;
}
.marginBot15{
  margin-bottom: 15px !important;
}
.marginBottom2{
  margin-bottom: 2px;
}
.marginRight10{
  margin-right: 10px;
}
.marginRight20{
  margin-right: 20px;
}
.marginBotNone {
  margin-bottom: 0px !important;
}
.height20 {
  height: 20px;
}
.height25 {
  height: 25px;
}
.height58 {
  height: 58px !important;
}
.height400 {
  height: 400px !important;
}
.height40 {
  height: 40px !important;
}

/* React phone input css */
.react-phone-number-input {
  width: 290px !important;
  height: 40px !important;
  border-radius: 3px !important;
  border: solid 1px #526173 !important;
  margin-bottom: 10px;
}
.react-phone-number-input__row {
  padding-top: 4px !important;
}
.react-phone-number-input__row button, .react-phone-number-input__row input {
  border: none !important;
  padding-left: 5px !important;
}
.react-phone-number-input__icon {
  border: none !important;
}
.react-phone-number-input__icon {
  width: 25px !important;
  height: 25px !important;
  padding-left: 5px;
}

::placeholder {
  color: #2f4858 !important;
  opacity: 0.25 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #2f4858 !important;
  opacity: 0.25 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #2f4858 !important;
  opacity: 0.25 !important;
}

label.radio-inline input[type="radio"] {
  width: 25px !important;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('./fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('./fonts/OpenSans-SemiBold.ttf');
}
@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Bold.ttf');
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('./fonts/SourceSansPro-Regular.ttf');
}
@font-face {
  font-family: 'adine-kirnberg';
  src: url('./fonts/adine-kirnberg.regular.ttf');
}
@font-face {
  font-family: 'akadora';
  src: url('./fonts/akadora.regular.ttf');
}
@font-face {
  font-family: 'azkia-demo';
  src: url('./fonts/azkia-demo.regular.otf');
}
body {
  font-family: 'Open Sans';
}


input:focus, .react-phone-number-input:focus, select:focus {
  border: solid 1px #39bcd5 !important;
} 
select option {
  margin: 10px;
  background: #ffffff;
  color: #2f4858;
  font-family: 'Open Sans';
  font-size: 16px;
}
.react-phone-number-input input:focus {
  border: inherit !important;
}
a:hover {
  text-decoration: underline !important;
}
.selectFormControl.inputError, .inputFormControl.inputError, .react-phone-number-input.inputError, .forgotFormControl.inputError {
  border-color: red !important;
}
.btn.disabled, .btn[disabled] {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}
.btn.btnEnabled, .btnEnabled, .btn.fsnetBtn {
  background-color: #00bcd4 !important;
}

.btnEnabled:hover, .fsnetBtn:hover, .fsnetButton:hover, .uploadFile:hover,.start-fund:hover, .newAddendumButton:hover {
  background-color: #4ab8c6 !important;
}
.cancelBtn a:hover {
  border: 1px solid #000000 !important;
  padding: 8px 60px;
  border-radius: 100px;
}

.error {
  color: red !important;
  font-size: 12px !important;
  font-family: 'Open Sans';
}
.error-md {
  color: red !important;
  font-size: 14px !important;
  font-family: 'OpenSans-Bold';
}
.marginleft25 {
  margin-left: 25px;
}
.marginLeft5 {
  margin-left: 5px !important;
}
.marginLeft10 {
  margin-left: 10px !important;
}
.marginLeft25 {
  margin-left: 25px !important;
}
.marginLeft30 {
  margin-left: 30px !important;
}
.marginLeft40 {
  margin-left: 40px !important;
}
.marginLeft80 {
  margin-left: 80px !important;
}
.marginLeftMinus10 {
  margin-left: -10px;
}
.margin30 {
  margin: 30px;
}

.marginTopminus10 {
  margin-top: -10px !important;
}
.marginTopNone {
  margin-top: 0px !important;
}
  
/***********CHECKBOX STYLES START******************/
/* The container */
.checkbox {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 24px;
  height: 24px;
  border: 1px solid #00bcd4;
}
.checkbox input{
  position: absolute;
  top: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #ffffff;
  cursor: pointer;
}
.accreditedInvestor .checkmark {
  margin-top: 5px !important;
}

.checkbox-checkmark {
  border: 1px solid #00bcd4 !important;  
}

/* When the checkbox is checked, add a blue background */
input:checked ~ .checkmark {
  background-color: #00bcd4;
}
.checkboxDisabled input:checked ~ .checkmark {
  background-color: #BBB !important;
}
.checkboxDisabled .checkbox-checkmark {
  border: 1px solid #BBB !important;  
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.remember-text {
  position: relative;
  top: -8px;
}
/***********CHECKBOX STYLES END******************/

/***********Radio button STYLES START******************/
.radio-inline {
  min-width: 100px;
  margin-bottom: 10px !important;
}

.checkbox-inline {
  width: 150px;
  margin-bottom: 14px !important;
}

/* The container */
.radio-inline {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  font-size: 16px !important;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 10px;
}
.checkbox-inline {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  font-size: 16px !important;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 10px;
}

.checkbox-inline input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Hide the browser's default radio button */
.radio-inline input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border: 1px solid #00bcd4;
  background-color: #ffffff;
  border-radius: 50%;
}
.radio-checkmark.custom {
  top: inherit !important;
  left: 5px !important;
  cursor: pointer;
}
@media only screen and (min-width:768px) and (max-width:1024px){
  .radio-checkmark.custom {
    
    left: 10px !important;
   
  }
}
@media only screen and (min-width:1600px){
  .rolesContainer {
    margin-left: 25% !important;
  }
}
.radioText.alignRadioText {
  margin: -28px 0px 20px 30px !important;
  cursor: pointer;
}



/* When the radio button is checked, add a blue background */
input:checked ~ .radio-checkmark {
  background-color: #00bcd4;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
input:checked ~ .radio-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-checkmark:after {
  top: 6px;
  left: 6px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #ffffff;
}


/***********Radio button STYLES End******************/

.marginLeft15 {
  margin-left: 15px !important;
}
select option:hover {
  background-color: rgba(245, 245, 245, 0.3);
}
select option {
  color: #2f4858;
  background-color: #ffffff;
}


/*********Form Css **************/
.inputFormControl {
  height: 40px;
  font-family: 'Open Sans';
  font-size: 16px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5 !important;
  letter-spacing: normal;
  color: #2f4858 !important;
  border-radius: 3px !important;
  border: solid 1px #526173 !important;
  margin-top: 8px;
  box-shadow: initial !important;
  padding: 8px;
  width: 100%;
}
.title {
  min-height: 32px;
  height: auto;
  font-family: 'OpenSans-Bold';
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #2f4858 !important;
}
.title-md {
  min-height: 32px;
  height: auto;
  font-family: 'OpenSans-Bold';
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #2f4858;
}
.title-md-noBold {
  min-height: 32px;
  height: auto;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #2f4858;
}
.subtext {
  min-height: 20px;
  height: auto;
  opacity: 0.5;
  font-family: 'OpenSans-Bold';
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #2f4858;
}
.form-label {
  min-height: 20px;
  height: auto;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #2f4858;
}
.btn {
  background-color: #bdbdbd !important;
}
.btn.btnEnabled {
  background-color: #39bcd5 !important;
}
.fsnetButton {
  height: 40px;
  background-color: #39bcd5 !important;
  font-family: 'Open Sans';
  font-size: 16px !important;
  font-weight: bold !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5 !important;
  letter-spacing: normal;
  color: #ffffff !important;
  box-shadow: initial !important;
  border-radius: 30px !important;
}
.fsnetCancelButton {
    height: 48px;
    font-family: 'Open Sans';
    font-size: 20px !important;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center !important;
    color: #2f4858 !important;
    width: 200px !important;
    border: none !important;
    border-radius: 30px !important;
    background: none !important;
    box-shadow: initial !important;
}
.fsnetCancelButton:hover {
  border: 1px solid #000000 !important;
  border-radius: 30px;
}
.disabled {
    cursor: not-allowed !important;
    pointer-events: none !important;
}

.not-allowed {
  cursor: not-allowed !important;
}

.fsnetSubmitButton {
  width: 290px;
  border-radius: 30px !important;
  height: 48px;
  font-size: 20px !important;
  font-weight: bold !important;
  line-height: 1.6 !important;
  text-align: center;
  color: #fff !important;
  background-color: #bdbdbd;
  -webkit-box-shadow: initial !important;
  box-shadow: initial !important;
}
.fsnetSubmitButtonMd {
  border-radius: 30px !important;
  height: 40px;
  font-size: 15px !important;
  font-weight: bold !important;
  line-height: 1.6 !important;
  text-align: center;
  color: #fff !important;
  background-color: #bdbdbd;
  -webkit-box-shadow: initial !important;
  box-shadow: initial !important;
}
.margin20 {
  margin: 20px !important;
}
.lineHeight40 {
  line-height: 40px !important;
}
.paddingBot20 {
  padding-bottom: 20px !important;
}
.marginTop20 {
  margin-top: 20px !important;
}
.marginTop40 {
  margin-top: 40px !important;
}
.marginTop24{
  margin-top: 24px;
}
.marginTop30 {
  margin-top: 30px !important;
}
.marginTop15 {
  margin-top: 15px !important;
}
.marginTop6{
  margin-top: 6px;
}
.marginTop46{
  margin-top: 46px;
}
.marginBottom20 {
  margin-bottom: 20px !important;
}
.marginBottom68 {
  margin-bottom: 68px;
}
.marginBottom44 {
  margin-bottom: 44px;
}
.bold {
  font-family: 'OpenSans-Bold';
}
.cursor-pointer {
  cursor: pointer;
}
.scroll .container {
  padding: 0 !important;
  margin: 0 !important;
  overflow: auto !important;
}
.scroll .vertical-bar {
  color: #00bcd4 !important;
}
.marginBottom30 {
  margin-bottom: 30px !important;
}
.borderRightNone {
  border-right: none !important;
}
.borderLeftNone {
  border-left: none !important;
}
.fade.in {
  opacity: 1 !important;
}
.modal {
  top: 100px !important;
}
.modal-open .modal {
  overflow: hidden !important;
}
button.close {
  outline: none !important;
}
.opacity75 {
  opacity: 0.75;
}
.paddingLeft15 {
  padding-left: 15px !important;
}
.paddingLeft5 {
  padding-left: 5px;
}
.paddingLeft20 {
  padding-left: 20px !important;
}
.paddingNone {
  padding: 0px !important;
}
.clear-both {
  clear: both;
}
.padding15 {
    padding-left: 15px;
    padding-right: 15px;
}
.marginTop5 {
  margin-top: 5px;
}
.margin5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
    border-color: #e9ecef !important;
}
.form-control {
  box-shadow: initial !important;
}
.padding15 {
  padding: 15px;
}
.width100 {
  width: 100% !important;
}  
.width1060 {
  width: 1060px !important;
}  
.width300 {
  width: 300px !important;
}  
.width350 {
  width: 350px !important;
}  
.width130 {
  width: 130px !important;
}  
.width170 {
  width: 170px !important;
}  
.width100Px {
  width: 100px !important;
}  
.width50 {
  width: 50px !important;
}
.width530 {
  width: 530px !important;
}  
.width700 {
  width: 700px !important;
}  
.width800 {
  width: 800px !important;
}  
.width900 {
  width: 900px !important;
}  
.width90 {
  width: 90px !important;
}
.width97 {
  width: 97% !important;
}
.padding-left-0 {
  padding-left: 0px !important;
}
.opac5 {
  opacity: 0.5;
}
.paddingTopNone {
  padding-top: 0px !important;
}
.paddingTop10 {
  padding-top: 10px !important;
}
.min-height-400 {
  min-height: 400px;
}
.inputWidth290 {
  width: 290px !important;
}
.inputWidth270{
  width: 270px !important;
}
.width400{
  width: 400px !important;
}
.width450{
  width: 450px !important;
}
.width500{
  width: 500px !important;
}
.cBoxFullAlign {
  display: block !important;
  width: 100% !important;
  padding-left: 30px !important;
  margin-left: 0px;
}
.marginTop24 {
  margin-top: 24px;
}
.margin-Left-5 {
  margin-left: 5px;
}
.margin-top-15 {
  margin-top: -15px !important;
}
.height100 {
  height: 100px;
}
.height140 {
  height: 140px;
}
.minHeight150 {
  min-height: 150px;
}
.width230 {
  width: 230px;
}
.top150 .modal-content{
  top: 150px !important;
}
.TtModalHeaderAlign h1 {
  font-family: 'OpenSans-Bold';
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #2f4858;
}
.TtModalBody  div {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #2f4858;
}
.block {
  display: block;
}
.vanilla-note {
  font-family: 'OpenSans-Bold';
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: red;
  font-size: 12px;
}
.vanilla-logo {
  height: 80px;
  margin-top: -15px;
  position: relative;
  top: 10px;
  width: auto;
}
.marginTopMinus30 {
  margin-top: -30px !important;
}
.paddingLeft35 {
  padding-left: 35px !important;
}
.paddingLeft30 {
  padding-left: 30px !important;
}
.paddingLeft25 {
  padding-left: 25px !important;
}
.paddingLeft40 {
  padding-left: 40px !important;
}
.height125 {
  height: 125px;
}
.title-text {
  font-family: 'OpenSans-Bold';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #2f4858;
  margin-bottom: 1%;
  margin-left: 10PX;
}
.inline {
  display: inline;
}


/* Fund Progress bar  */
.fund-progress-bar {
  position: relative;
  padding-top: 10px;
  margin: 0 auto;
  max-width: 600px;
}

.fund-progress-bar .price-percentage {
  position: relative;
  bottom: 26px;
}

.fund-progress-bar .price-percentage:last-child {
  bottom: 0px !important;
}

.fund-progress-bar .progress-bar {
  background-color: rgba(245, 245, 245, 1) !important;
  border-radius: 30px !important;
  justify-content: inherit;
  padding: 7px !important;
  height: 32px !important;
  border: none !important;
  width: 100% !important;
  margin: 0;
}

.fund-progress-bar .progress-bar .progress.progress-pink,
.fund-progress-bar .progress-bar .progress.progress-yellow,
.fund-progress-bar .progress-bar .progress.progress-green,
.fund-progress-bar .progress-bar .progress.progress-white {
  height: 18px !important;
}

.fund-progress-bar .progress-bar .progress.progress-radius-left {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}

.fund-progress-bar .progress-bar .progress.progress-radius-right {
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.fund-progress-bar .price-meter {
  position: absolute;
  left: -20px;
  font-size: 14px;
  font-family: 'OpenSans-Bold' !important; 
}

.fund-progress-bar .price-meter:last-child {
  margin-top: 10px;
}

.fund-progress-bar .caretUpAlign,
.fund-progress-bar .caretDownAlign {
  left: -3px;
  position: absolute;
  font-size: 16px;
  width: 15px;
}

.btnWidth270{
  width: 270px !important;
}
.marginBottom22{
  margin-bottom: 22px;
}
.height75{
  height: 75px;
}
.floatRight{
  float: right;
}
.authInline {
  display: inline !important;
}
.paddingLeft10 {
  padding-left: 10px;
}
.width600 {
  width: 600px !important;
}
.width650 {
  width: 650px !important;
}
.width700 {
  width: 700px !important;
}
.max-width500 {
  max-width: 500px;
}
.displayFlex {
  display: flex;
}
.alignIcon {
  position: relative;
  top: -7px;
}
.demo-editor {
  height: 500px !important;
  border: 1px solid #F1F1F1 !important;
  padding: 5px !important;
  border-radius: 2px !important;
}
.demo-content {
  border: 1px solid #F1F1F1;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  border-radius: 2px;
  resize: none;
  height: 200px;
  margin-top: 30px;
}
.rdw-embedded-wrapper, .rdw-emoji-wrapper, .rdw-image-wrapper, .rdw-remove-wrapper {
  display: none !important;
}
.clearOpacity {
  opacity: 1 !important;
}
.width200 {
  width: 200px !important;
}
.width150 {
  width: 150px !important;
}
.width295 {
  width: 295px !important;
}
.width320 {
  width: 320px !important;
}
.width250 {
  width: 250px !important;
}
.width260 {
  width: 260px !important;
}
.paddingLeftZero {
  padding-left: 0px !important;
}
.paddingLeft50 {
  padding-left: 50px !important;
}
.paddingRightZero {
  padding-right: 0px !important;
}
.paddingRight10 {
  padding-right: 10px;
}
.paddingRight20 {
  padding-right: 20px;
}
.width325 {
  width: 325px !important;
}
.width295 {
  width: 295px !important;
}
#accordion-controlled-example {
  width: 95%;
  margin: 30px;
}
.panel  {
  background-color: rgba(0,0,0,.05) !important;
}
.panel-title a {
  text-decoration: none !important;
  cursor: pointer;
  color: #2f4858 !important;
  font-family: 'OpenSans-Bold'
}
.panel-body {
  min-height: 80px;
}
.panel-body .edit-container {
  height: 50px;
  text-align: right;
  display: inline-block;
}
.panel-body img, .rdw-image-imagewrapper img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.collapse:not(.show) {
  display: none;
}
.panel-collapse {
  background-color: #f5f5f5;
}
.collapse{display:none}.collapse.in{display:block !important}
.panel-body{padding:15px}.panel-heading{border-bottom:1px solid transparent;border-top-left-radius:3px;border-top-right-radius:3px;padding:10px 15px}.panel-heading>.dropdown .dropdown-toggle{color:inherit}.panel-title{color:inherit;font-size:16px;margin-bottom:0;margin-top:0}.panel-title>.small,.panel-title>.small>a,.panel-title>a,.panel-title>small,.panel-title>small>a{color:inherit}.panel-footer{background-color:#f5f5f5;border-bottom-left-radius:3px;border-bottom-right-radius:3px;border-top:1px solid #ddd;padding:10px 15px}.panel>.list-group,.panel>.panel-collapse>.list-group{margin-bottom:0}.panel>.list-group .list-group-item,.panel>.panel-collapse>.list-group .list-group-item{border-radius:0;border-width:1px 0}.panel>.list-group:first-child .list-group-item:first-child,.panel>.panel-collapse>.list-group:first-child .list-group-item:first-child{border-top:0;border-top-left-radius:3px;border-top-right-radius:3px}.panel>.list-group:last-child .list-group-item:last-child,.panel>.panel-collapse>.list-group:last-child .list-group-item:last-child{border-bottom:0;border-bottom-left-radius:3px;border-bottom-right-radius:3px}.panel>.panel-heading+.panel-collapse>.list-group .list-group-item:first-child{border-top-left-radius:0;border-top-right-radius:0}.panel-heading+.list-group .list-group-item:first-child{border-top-width:0}.list-group+.panel-footer{border-top-width:0}.panel>.panel-collapse>.table,.panel>.table,.panel>.table-responsive>.table{margin-bottom:0}.panel>.panel-collapse>.table caption,.panel>.table-responsive>.table caption,.panel>.table caption{padding-left:15px;padding-right:15px}.panel>.table-responsive:first-child>.table:first-child,.panel>.table:first-child{border-top-left-radius:3px;border-top-right-radius:3px}.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child,.panel>.table:first-child>thead:first-child>tr:first-child{border-top-left-radius:3px;border-top-right-radius:3px}.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:first-child,.panel>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table:first-child>thead:first-child>tr:first-child th:first-child{border-top-left-radius:3px}.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:last-child,.panel>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table:first-child>thead:first-child>tr:first-child th:last-child{border-top-right-radius:3px}.panel>.table-responsive:last-child>.table:last-child,.panel>.table:last-child{border-bottom-left-radius:3px;border-bottom-right-radius:3px}.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child{border-bottom-left-radius:3px;border-bottom-right-radius:3px}.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child,.panel>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child{border-bottom-left-radius:3px}.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child{border-bottom-right-radius:3px}.panel>.panel-body+.table,.panel>.panel-body+.table-responsive,.panel>.table+.panel-body,.panel>.table-responsive+.panel-body{border-top:1px solid #ddd}.panel>.table>tbody:first-child>tr:first-child td,.panel>.table>tbody:first-child>tr:first-child th{border-top:0}.panel>.table-bordered,.panel>.table-responsive>.table-bordered{border:0}.panel>.table-bordered>tbody>tr>td:first-child,.panel>.table-bordered>tbody>tr>th:first-child,.panel>.table-bordered>tfoot>tr>td:first-child,.panel>.table-bordered>tfoot>tr>th:first-child,.panel>.table-bordered>thead>tr>td:first-child,.panel>.table-bordered>thead>tr>th:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child,.panel>.table-responsive>.table-bordered>thead>tr>td:first-child,.panel>.table-responsive>.table-bordered>thead>tr>th:first-child{border-left:0}.panel>.table-bordered>tbody>tr>td:last-child,.panel>.table-bordered>tbody>tr>th:last-child,.panel>.table-bordered>tfoot>tr>td:last-child,.panel>.table-bordered>tfoot>tr>th:last-child,.panel>.table-bordered>thead>tr>td:last-child,.panel>.table-bordered>thead>tr>th:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child,.panel>.table-responsive>.table-bordered>thead>tr>td:last-child,.panel>.table-responsive>.table-bordered>thead>tr>th:last-child{border-right:0}.panel>.table-bordered>tbody>tr:first-child>td,.panel>.table-bordered>tbody>tr:first-child>th,.panel>.table-bordered>thead>tr:first-child>td,.panel>.table-bordered>thead>tr:first-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:first-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:first-child>th,.panel>.table-responsive>.table-bordered>thead>tr:first-child>td,.panel>.table-responsive>.table-bordered>thead>tr:first-child>th{border-bottom:0}.panel>.table-bordered>tbody>tr:last-child>td,.panel>.table-bordered>tbody>tr:last-child>th,.panel>.table-bordered>tfoot>tr:last-child>td,.panel>.table-bordered>tfoot>tr:last-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>th,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th{border-bottom:0}.panel>.table-responsive{border:0;margin-bottom:0}.panel-group{margin-bottom:20px}.panel-group .panel{border-radius:4px;margin-bottom:0}.panel-group .panel+.panel{margin-top:5px}.panel-group .panel-heading{border-bottom:0}.panel-group .panel-heading+.panel-collapse>.list-group,.panel-group .panel-heading+.panel-collapse>.panel-body{border-top:1px solid #ddd}.panel-group .panel-footer{border-top:0}.panel-group .panel-footer+.panel-collapse .panel-body{border-bottom:1px solid #ddd}.panel-default{border-color:#ddd}.panel-default>.panel-heading{background-color:rgba(0,0,0,.05);border-color:#ddd;color:#333}.panel-default>.panel-heading+.panel-collapse>.panel-body{border-top-color:#ddd}.panel-default>.panel-heading .badge{background-color:#333;color:#f5f5f5}.panel-default>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#ddd}.panel-primary{border-color:#337ab7}.panel-primary>.panel-heading{background-color:#337ab7;border-color:#337ab7;color:#fff}.panel-primary>.panel-heading+.panel-collapse>.panel-body{border-top-color:#337ab7}.panel-primary>.panel-heading .badge{background-color:#fff;color:#337ab7}.panel-primary>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#337ab7}.panel-success{border-color:#d6e9c6}.panel-success>.panel-heading{background-color:#dff0d8;border-color:#d6e9c6;color:#3c763d}.panel-success>.panel-heading+.panel-collapse>.panel-body{border-top-color:#d6e9c6}.panel-success>.panel-heading .badge{background-color:#3c763d;color:#dff0d8}.panel-success>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#d6e9c6}.panel-info{border-color:#bce8f1}.panel-info>.panel-heading{background-color:#d9edf7;border-color:#bce8f1;color:#31708f}.panel-info>.panel-heading+.panel-collapse>.panel-body{border-top-color:#bce8f1}.panel-info>.panel-heading .badge{background-color:#31708f;color:#d9edf7}.panel-info>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#bce8f1}.panel-warning{border-color:#faebcc}.panel-warning>.panel-heading{background-color:#fcf8e3;border-color:#faebcc;color:#8a6d3b}.panel-warning>.panel-heading+.panel-collapse>.panel-body{border-top-color:#faebcc}.panel-warning>.panel-heading .badge{background-color:#8a6d3b;color:#fcf8e3}.panel-warning>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#faebcc}.panel-danger{border-color:#ebccd1}.panel-danger>.panel-heading{background-color:#f2dede;border-color:#ebccd1;color:#a94442}.panel-danger>.panel-heading+.panel-collapse>.panel-body{border-top-color:#ebccd1}.panel-danger>.panel-heading .badge{background-color:#a94442;color:#f2dede}.panel-danger>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#ebccd1}
.mce-tinymce{
  min-height: 500px;
}
.mce-notification.mce-has-close, .mce-statusbar {
  display: none !important;
}
.mce-tinymce iframe {
  height: 460px !important;
}
.width120 {
  width: 120px !important;
}
.redColor {
  color: red !important;
  font-family: 'OpenSans-Bold' !important;
  opacity: 1 !important;
}
.block {
  display: block !important;
}
.adminButton {
  font-size: 16px !important;
  height: 38px !important;
  width: 250px !important;
  line-height: 24px !important;
}
.firmButton {
  font-size: 16px !important;
  height: 38px !important;
  width: 280px !important;
  line-height: inherit !important;
}
.tableContainer {
    height: 250px;
    overflow: auto;
    box-shadow: inset 0 -1px 0 0 rgba(117, 117, 117, 0.25);
    box-shadow: inset 0 -1px 0 0 var(--warm-grey-25);
    border: 1px solid #add8e6;
    margin-top: 30px;
    margin-bottom: 30px;
}
.tableContainer::-webkit-scrollbar {
  width: 12px;
}
.tableContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); ;
  border-radius: 10px;
}
.tableContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #318D9E;
}
.tableRow {
  min-height: 48px;
  border-bottom: 1px solid #add8e6;
  width: 100%;
  line-height: 40px;
  cursor: pointer;
}
.table-hover:hover, .table-hover.active {
  background-color: rgba(189, 189, 189, 0.25);
}
.eventsLogContainer .userText {
  line-height: 50px;
}
.userText {
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    position: relative;
    letter-spacing: normal;
    color: #2f4858;
    word-wrap: break-word;
    display: inline-block;
}
.table-heading {
  min-height: 16px;
  opacity: 0.5;
  font-family: 'OpenSans-Bold';
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #2f4858;
  display: inline-block;
}
.word-wrap {
  word-wrap: break-word;
  width: 100%;
}
.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}
.react-switch-bg {
  height: 13px !important;
  width: 40px !important;
}
.react-switch-handle {
  height: 20px !important;
  width: 20px !important;
  top: -4px !important;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination>li {
  display: inline;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}
.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.dashboard-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    width: 190px;
}
.inline-block {
  display: inline-block !important;
}
.block {
  display: block !important;
}
.visibilityHidden {
  visibility: hidden !important;
}
.trackerName {
  line-height: 35px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 110px;
  text-align: left;
}
.left {
  float: left;
}
.flex {
  display: inline-flex;
}
.warning {
  color: red;
  font-family: 'OpenSans-Bold';
  font-size: 14px;
  position: absolute;
  top: 15px;
  left: 10px;
}
.comingSoon {
  color: #bdb8b8;
}
.closeFundStatus {
  /* color: red !important; */
  font-size: 13px !important;
}
.relative {
  position: relative;
}
.accountTypeName {
  position: absolute;
  left: 20px;
  top: 18px;
  color: #BBB;
  font-size: 10px;
}
.minHeight50 {
  min-height: 50px;
}
.minHeight100 {
  min-height: 100px;
}
.marginTop50 {
  margin-top: 50px;
}
.text-right {
  text-align: right;
}
.error.font14, .font14 {
  font-size: 14px !important;
}
.width750 {
  width: 750px !important;
}
.width820 {
  width: 820px !important;
}
.width207 {
  width: 207px !important;
}
.width120 {
  width: 120px !important;
}
.width210 {
  width: 210px !important;
}
.width950 {
  width: 950px !important;
}
.width960 {
  width: 960px !important;
}
.width1000 {
  width: 1000px !important;
}
.width1100 {
  width: 1100px !important;
}
.width1150 {
  width: 1150px !important;
}
.width1200 {
  width: 1200px !important;
}
.width1024 {
  width: 1024px !important;
}
.marginLeftN20 {
  margin-left: -20px !important;
}
.addLink {
  font-size: 12px;
  cursor: pointer;
  color: #007bff !important;
}
.redLink {
  font-size: 12px;
  cursor: pointer;
  color: red !important;
}
.addLink:hover, .redLink:hover {
  text-decoration: underline;
}
.breakWord {
  word-break: break-word;
}
.paddingLeft5 {
  padding-left: 5px;
}
.paddingLeft0 {
  padding-left: 0px !important; 
}
.offlineDialog {
  top:45px;
}
.offlineDialog .subtext {
  font-size: 13px;
}
/* #LPModal.offlineLpStyle {
  margin-top: -80px !important;
} */
#LPModal .modal-header.offlineLpStyle {
  margin-top: 40px !important;
}
/* .isLpOfflineToOnline {
  position: relative;
  top: 12px;
} */
.isLpOfflineToOnline .checkbox {
  left: 10px;
  top: 10px;
}
/* .rolesTab {
  height: 100px;
  border: 1px solid #0288d1;
  text-align: center;
  margin-left: 20px;
  cursor: pointer;
  margin-top: 30px;
} */
.rolesTab div {
  font-family: 'OpenSans-Bold';
  font-size: 20px;
  width: 270px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: normal;
  color: #39bcd5;
  display: table-cell;
  height: 150px;
  text-align: center;
}
.rolesContainer {
  max-width: 1024px;
  margin-left: 20%;
}
.blue {
  color: #00BCD4
}
.marginLeftNone {
  margin-left: 0px !important;
}
.minHeight200 {
  min-height: 200px;
}
.vanilla-button-md {            
  border: solid 1px #39bcd5 !important;
  color: #39bcd5 !important;
  background-color: white !important;
  border-radius: 30px !important;
  font-family: 'OpenSans-Bold';
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5 !important;
  letter-spacing: normal;
  color: #ffffff;
  -webkit-box-shadow: initial !important;
  box-shadow: initial !important;
  padding: 8px 25px 6px 25px !important;
}
.statusIndicatorPending {
  position: relative;
  top: 7px;
}
.generateSignature.modal {
  top: 40px !important;
}
.switchModalHeight .modal-content {
  height: 150px;
}
.tableContainer {
  display: block;
 }
  
 /* Demonstrate a "mostly customized" scrollbar
  * (won't be visible otherwise if width/height is specified) */
  
 /* body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #aaa;
 } */
  
 /* Add a thumb */
  
 /* body::-webkit-scrollbar-thumb {
  background: #00bcd4 !important;
 } */
  
 /* Demonstrate a "mostly customized" scrollbar
  * (won't be visible otherwise if width/height is specified) */
  
 .tableContainer::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #aaa;
  /* or add it to the track */
 }
  
 /* Add a thumb */
  
 .tableContainer::-webkit-scrollbar-thumb {
  background: #00bcd4 !important;
 }
  
 .price-percentage {
  width: 15%;
 }
 .marginTopN35 {
   margin-top: -35px !important;
 }
 
 .heightNone {
   height: 0px !important;
 }
 .headerNone {
   margin-top: 20px;
   height: 0px !important;
 }
 .rolesTab {
  height: 150px;
  border: 0px solid #0288d1;
  text-align: center;
  cursor: pointer;
  margin: 10px 40px 10px 10px;
  background: #fff;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
}
 .modal-content .titleModal {
  margin-left: 15px;
  margin-top: -15px ;
}
/*.titleModal .modal-content {
  margin-top: -15px;
} */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 20px;
}
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{
  .footer {
    top: calc(100% - 100px) !important;
  }
}
.footer .footerTitle {
  text-align: right;
  color: #2f4858;
  font-family: 'OpenSans-Bold';
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  opacity: 0.5;
}
.row.marginNone {
  margin: 0px !important;
}
.fa-ban{
  font-size:23px !important;
  top:3px;
}
.alginThreeDots {
  position: relative;
}
.btn-md {
  font-size: 15px !important;
  height: 38px !important;
}
.offlinePhone .react-phone-number-input {
  margin-top: 8px !important;
}
.sign-iframe-pdf {
  height: calc(100vh - 350px) !important;
  width: 950px;
  margin-top: 50px;
}
#lpsignatureModal.modal {
  top: 20px !important;
}
#lpsignatureModal.modal .close {
  margin-top: 20px !important;
}
#lpsignatureModal.modal .modal-content{
  width: 1000px !important;
  height: calc(100vh - 100px) !important;
}
#lpsignatureModal.modal .modal-dialog{
  margin: 10px auto !important;
  width: 1000px !important;
  max-width: 1000px !important;
}
.btnViewPrint.btn:focus {
  outline: none !important;
  box-shadow: inherit !important;
}
.btn.autoWidth {
  padding: 0 30px 0 30px !important;
  width: auto !important;
}
.showLink {
  text-decoration: underline !important;
}
.signatureModal .modal-content {
  width: 700px;
  padding: 10px;
}
.customWidth .modal-content {
  width: 600px !important;
}




.fundinvestors h1 {
  font-size: 20px;
  color: #2f4858;
  font-weight: bold;
}
.fundinvestors {
  width: 98%;
  padding: 1% 3%;
}
.fundInvestors img {
    float: right;
}
.fundInvestors h5 {
  font-size: 14px;
  color: #2f4858;
  font-weight: bold;
  margin: 0;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: 'Open Sans';
}
.fundInvestors h6 {
  color: #000;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  font-family: 'OpenSans-Bold';
  opacity: 0.5;
}
.fundInvestors h4 {
  font-size: 13px;
  color: #2f4858 !important;
  font-weight: bold;
  margin: 0;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: 'OpenSans-Bold';
}
table.fundInvestorsTable {
  table-layout: fixed;
}
.tableMarginTop th {
  color: #000;
  font-size: 13px;
  border: 0px solid #fff !important;
  font-family: 'OpenSans-Bold';
  opacity: 0.5;
}
.tableMarginTop td {
  border: 0px solid #fff !important;
  border-bottom: 1.5px solid #cdeef4 !important;
  background: #fff;
}
.tableMarginTop table {
  border:0px solid #cdeef4 !important;
  border-radius: 5px;
}
tbody.fundInvesiors a {
  color: #39bcd5 !important;
  font-weight: bold;
  font-size: 15px;
  text-decoration: underline !important;
}
.mainTable thead, .mainTable tbody, .mainTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
 tbody.fundInvesiors {
  display: block;
  overflow: auto;
  height: 600px;
  border:1px solid #cdeef4 !important;
  border-radius: 5px;
}

tbody.fundInvesiors::-webkit-scrollbar {
  width: 8px;
} 
tbody.fundInvesiors::-webkit-scrollbar-thumb {
  background: #74d0e1; 
  border-radius: 10px;
}


.fundInvesiorsPopup {
  display: block !important;
  overflow: auto !important;
  height: 600px !important;

}
.fundInvesiorsPopup::-webkit-scrollbar {
  width: 8px !important;
} 
.fundInvesiorsPopup::-webkit-scrollbar-thumb {
  background: #74d0e1 !important; 
  border-radius: 10px !important;
}


tbody.fundInvestorsBorder{
  border:1px solid #cdeef4 !important;
  border-radius: 5px;
}
tbody.fundInvestorsBorder tr td {padding: 0px .75rem; vertical-align: middle !important;}
.marginTop0{
  margin: 0;
}
.resendInvitationTable th  {
  border: 0px solid #fff !important;
}
.resendInvitationTable th span{
  color: #000;
  font-size: 13px;
  font-family: 'OpenSans-Bold';
  opacity: 0.5;
}
.resendInvitationTable tbody tr{
  border: 1.5px solid #cdeef4 !important;
}


.resendInvitationTable td {
  border: 0px solid #fff !important;
  background: #fff;
}
.pr7{
  top:7px !important;
}
.pr10 {
  position: relative;
  top: 10px;
}