@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
.settingsContainer .sidenav {
    min-height: 100vh;
}
.settingsContainer .navbar .sidenav-menu {
    padding-left: 0;
}
.settingsContainer .navbar .sidenav-menu li a {
    padding: 13px 16px 8px!important;
    text-decoration: none!important;
}
.settingsContainer .navbar .sidenav-menu li span {
    font-size: 14px;
    line-height: 20px;
    margin-left: 16px;
}
.input-label {
    display: block;
    height: 20px;
    font-family: 'Open Sans';
    font-weight: 400;
    margin-bottom: 8px!important;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
}
.reset-password-btn {
    width: 290px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    height: 48px;
    background-color: #bdbdbd;
    color: #fff !important;
    border-radius: 30px !important;
    margin-left: 15px;
    -webkit-box-shadow: initial;
    box-shadow: none;
}
.cancel-btn a{
    color: #2f4858 !important;
    text-decoration: none !important;
}
.cancel-btn {
    height: 32px;
    color: #2f4858 !important;
    width: 290px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
}
.selectAllDiv input{
    left: 0px !important;
}
.selectAllDiv {
    width: 563px;
    height: 50px;
    text-align: right;
}
.profileContainer {
    margin-left: 40px;
    margin-bottom: 20px;
}
.marginBot24 {
    margin-bottom: 24px !important;
}
.marginBot12 {
    margin-bottom: 12px !important;
}
.label-text {
    min-height: 20px;
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2f4858;
}
.footer-profile {
    width: 98%;
    border-top: 2px solid rgba(51, 101, 138, 0.5);
    padding: 20px 20px 20px 40px;
}
.privacy-container .radio-checkmark {
    left: -10px !important;
}
.signatureAuthentication{
    position: relative;
    top: -52px;
    left: 44px;
    width: 200px;
}
#img_val {
    display: inline-block;
    min-width: 100px;
    font-size: 45px;
    border: none;
    /* height: 50px; */
    padding: 2px 10px 2px 2px;
    /* line-height: 40px !important; */
}